<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title><%= @city.name %> - 360&deg; City Panoramas </title>
  <meta http-equiv="content-language" content="en">  
  <meta name="copyright" content="Helmut Koelbach"><% location_en = (@pano.en_location.blank? ? (@pano.location) : (@pano.en_location)) %>    
  <meta name="description" content="360&deg; City Panoramas of <%= @city.en_name %> 360&deg; City Panoramas of <%= @city.en_name %> in Germany">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" media="screen" href="../css/allcities.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" language="javascript" src="../ind.js"></script> 
  <script type="text/javascript" src="../js/s-panorama.js"></script>
</head>
<body>
  <header>
      <a href="http://www.panorama-cities.net/"><img src="../navpic/logo.png" alt="City Panoramas"></a> 
    <nav>  
      <a href="http://panorama-cities.net/city/german_cities.html" title="German Cities" class="city-top">Cities</a><br>
          <ul>     
            <li><a href="../berlin/">Berlin </a></li>
            <li><a href="../bielefeld/">Bielefeld </a></li>
            <li><a href="../bochum/">Bochum </a></li>
            <li><a href="../bonn/">Bonn </a></li>
            <li><a href="../braunschweig/">Braunschweig </a></li>
            <li><a href="../bremen/">Bremen </a></li>
            <li><a href="../bremerhaven/">Bremerhaven </a></li>
            <li><a href="../cologne/">Cologne </a></li>
            <li><a href="../darmstadt/">Darmstadt </a></li>
            <li><a href="../dortmund/">Dortmund </a></li>
            <li><a href="../dresden/">Dresden </a></li>
            <li><a href="../duesseldorf/">Düsseldorf </a></li>
            <li><a href="../duisburg/">Duisburg </a></li>
            <li><a href="../erfurt/">Erfurt </a></li>
            <li><a href="../essen/">Essen </a></li>
            <li><a href="../frankfurt/">Frankfurt </a></li>
            <li><a href="../freiburg/">Freiburg </a></li>
            <li><a href="../goslar/">Goslar </a></li>
            <li><a href="../hamburg/">Hamburg </a></li>
            <li><a href="../hannover/">Hannover </a></li>
            <li><a href="../heidelberg/">Heidelberg </a></li>
            <li><a href="../hildesheim/">Hildesheim </a></li>
            <li><a href="../karlsruhe/">Karlsruhe </a></li>
            <li><a href="../kassel/">Kassel </a></li>
            <li><a href="../kiel/">Kiel </a></li>
            <li><a href="../koblenz/">Koblenz </a></li>
            <li><a href="../leipzig/">Leipzig </a></li>
            <li><a href="../luebeck/">Lübeck </a></li>
            <li><a href="../mainz/">Mainz </a></li>
            <li><a href="../mannheim/">Mannheim </a></li>
            <li><a href="../minden/">Minden </a></li>
            <li><a href="../munich/">Munich </a></li>
            <li><a href="../nuremberg/">Nuremberg </a></li>
            <li><a href="../oldenburg/">Oldenburg </a></li>
            <li><a href="../osnabrueck/">Osnabrück </a></li>
            <li><a href="../rostock/">Rostock </a></li>
            <li><a href="../rothenburg_ob_der_tauber/">Rothenburg o.d.T.</a></li>
            <li><a href="../schwerin/">Schwerin </a></li>
            <li><a href="../siegen/">Siegen </a></li>
            <li><a href="../stuttgart/">Stuttgart </a></li>
            <li><a href="../trier/">Trier </a></li>
            <li><a href="../tuebingen/">Tübingen </a></li>
            <li><a href="../wernigerode/">Wernigerode </a></li>
            <li><a href="../wiesbaden/">Wiesbaden </a></li>
            <li><a href="../wismar/">Wismar </a></li>
            <li><a href="../wuerzburg/">Würzburg </a></li>
            <li style="padding-right: 200px;"> &nbsp;</li>
            <li><a href="../muensterland/" class="msland">Münsterland </a></li>
            <li><a href="../ahaus/">Ahaus </a></li>
            <li><a href="../ahlen/">Ahlen </a></li>
            <li><a href="../coesfeld/">Coesfeld </a></li>
            <li><a href="../emsdetten/">Emsdetten </a></li>
            <li><a href="../greven/">Greven </a></li>
            <li><a href="../horstmar/">Horstmar </a></li>
            <li><a href="../ibbenbueren/">Ibbenbüren </a></li>
            <li><a href="../lengerich/">Lengerich </a></li>
            <li><a href="../luedinghausen/">Lüdinghausen </a></li>
            <li><a href="../muenster/">Münster </a></li>
            <li><a href="../rheine/">Rheine </a></li>
            <li><a href="../steinfurt/">Steinfurt </a></li>
            <li><a href="../tecklenburg/">Tecklenburg </a></li>
            <li><a href="../telgte/">Telgte </a></li>
            <li><a href="../warendorf/">Warendorf </a></li>
        </ul>  
    </nav>         
        <h1><%= @city.en_name %> </h1>  
      <div class="navtop">&nbsp;
      </div>
  </header>
  <div id="content"> 
      <div id="menu">  
        <h2>Panoramas <%= @city.en_name %> A-Z</h2>
          <ul><% @city.panoramas.keep_if{ |p| p.published }.sort_by{ |n| n.name }.each do |pano| %><% pano_enname = (@pano.alt_en_name.blank? ? (@pano.en_name.blank? ? (@pano.name) : (@pano.en_name)) : (@pano.alt_en_name)) %>
            <li><a href="<%= FileHelper.to_filename @pano.en_name %>.html" title="<%= pano_enname %> <%= location_en %> <%= pano.district %>"><%= pano.en_name %> </a></li><% end %>
        </ul>
      </div>     
    <div id="box"> 
          <iframe src="http://www.panorama-cities.net/maps/map_muensterland.html" width="229" height="312" name="map" marginwidth="0"  marginheight="3" frameborder="0" scrolling="no"></iframe>
    </div> 
         
    <div id="grid">
      <ul> <% @city.panoramas.keep_if{ |p| p.published }.sort_by{ |p| p.priority }.first(10).each do |pano| %>      
        <li><% pano_enname = (@pano.alt_en_name.blank? ? (@pano.en_name.blank? ? (@pano.name) : (@pano.en_name)) : (@pano.alt_en_name)) %>
          <div class="wrapper">
            <a href="http://www.panorama-cities.net.de/<%= FileHelper.to_filename @city.en_name %>/<%= FileHelper.to_filename @pano.en_name %>.html" title="<%= pano_enname %> <%= location_en %> in <%= @city.name %> <%= pano.district %>"><img src="http://panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/panoramas/<%= FileHelper.to_filename @pano.en_name %>_<%= @FileHelper.to_filename @city.en_name %>.jpg"></a>
            <% unless pano.rotation == 60 %>
            <div class="widescreen"><a href="javascript:cindex('<%= FileHelper.to_filename @pano.en_name %>_5c.html')" title="Panorama <%= pano.en_name %> in voller Breite">Widescreen</a>
            </div><% end %>
          </div><%= pano.en_name %>
        </li><% end %>
      </ul>
    </div>
      
    <div class="more">  
      <% @city.panoramas.keep_if{ |p| p.published }.count %>
        <% if @city.panoramas.count > 10 %>
      <a href="<%= @FileHelper.to_filename @city.en_name %>_panoramas.html">more Panoramas of <%= @city.name %> </a> <br><br>
      <% end %>
      <% districts = Hash.new
      @city.panoramas.each { |p| districts[p.district] = true if p.district }
      districts.each_key do |dist| %>
      <% unless dist.blank? %>
      <a href="<%= FileHelper.to_filename dist %>_panoramas.html"> Panoramas of <%= dist %> </a><br><br>
      <% end %>
      <% end %>
      <% locations = Hash.new
      @city.panoramas.each { |p| locations[p.location] = true if p.location }
      locations.each_key do |loc| %>
      <% unless loc.blank? %>
      <a href="<%= FileHelper.to_filename loc %>_panoramas.html"><%= loc %> Panoramas </a><br><br>
      <% end %>
      <% end %> 
    </div>
    <div class="gmap">
        <%= @city.en_name %> Panorama Locations
       <br>
       <iframe width="560" height="660" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" name="goomap" src="http://maps.google.com/maps/ms?msa=0&amp;msid=204881142368333592551.<%= @city.map_id %>&amp;ie=UTF8&amp;t=m<%= @city.map_coord %>&amp;output=embed"></iframe><br /><a href="http://maps.google.com/maps/ms?msa=0&amp;msid=204881142368333592551.<%= @city.map_id %>&amp;ie=UTF8&amp;t=m<%= @city.map_coord %>&amp;source=embed" target="_blank">Panoramas of <%= @city.en_name %> </a> &nbsp;(View Larger Map)
    </div> 
    <div id="notip">&nbsp;
    </div> <br> 
    <div class="adv1-down">
      <%= @city.en_ad_first_page_down %>
      <br>
    </div>
  </div>
  <footer> 
    <span class="contact"><a href="http://www.panorama-cities.net/html/kontakt.html">Contact us</a></span>
    <div class="mail"> <a href="mailto:?subject=City Panorama%20<%= pano_enname %> <%= location_en %> <%= @city.en_name %> <%= @pano.district %>&body=Dear%0D%0A%0D%0AI%20discovered%20a%20nice%20panoramic%20photo%20of%20the%20city%20<%= @city.name %>%0D%0Awww%2Epanorama-cities%2Enet%2F<%= FileHelper.to_filename @city.en_name %>%2F<%= FileHelper.to_filename @pano.en_name %>%2Ehtml%0D%0A%0D%0A%0D%0A%2A%2A%2A%2A%2A%2A%2A%2A%0D%0IA%20n%20s%20t%20r%20u%20c%20t%20i%20o%20n%0D%0AEnter%20the%20email%20address%20of%20the%20recipient%2C%0D%0Aadd%20your%20part%20to%20the%20text%20as%20desired%20and%0D%0Adelete%20this%20part%20of%20instructions%20before%20sending%2E" title="by Email"><img src="../navpic/brief.gif" width="27" height="18" border="0" alt="Email"> Email this page </a>
    </div>
  </footer>
</body>
</html>
