<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset=utf-8 />
  <meta http-equiv="content-language" content="de">  
  <meta name="copyright" content="Helmut Kölbach">    
  <meta name="viewport" content="width=device-width"> 
  <meta name="description" content="Quiz über <%= @city.name %> mit Panorama-Ansichten">
   <meta http-equiv="cache-control" content="max-age=260000">
  <link rel="stylesheet" type="text/css" href="../css/panoquiz.css">
  <title><%= @city.name %>-Quiz StadtPanoramen</title>
  <script type="text/javascript">
  <!--
  browser = navigator.appName ;
  function lade() {
  if (browser == "Microsoft Internet Explorer") {
      if (navigator.appVersion.substring(0, 1) > "4")
  location.replace('http://www.stadtpanoramen.de/staedtequiz/quiz_<%= @city.get_filename %>.html')
  }
  }
  
  function quizcode_<%= @city.get_filename %>()
  {
  var win;
  win=window.open("http://www.stadtpanoramen.de/staedtequiz/<%= @city.get_filename %>-quizcode.html","","width=600,height=250,screenX=180,screenY=130");
  }
  //-->
  </script>
</head>
<body onLoad="lade()">
  <div class="content">
    <div class="logo">   
      <a href="http://www.stadtpanoramen.de/"><img src="../navpic/logo.png" alt="Stadtpanoramen" border="0"></a> 
    </div>  
    <div class="frame">
      <iframe id= "quiz-frame"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.stadtpanoramen.de/staedtequiz/quiz_<%= @city.get_filename %>.html"></iframe>      
      <div id="fb-root">
      </div>
      <div class="bottom">
        <a href="mailto:?subject=<%= @city.name %>-Quiz&body=%0A%0D%0Ahier%20ist%20ein%20Link%20zum%20<%= @city.name %>-Quiz%0D%0Awww%2Estadtpanoramen%2Ede%2F<%= @city.get_filename %>%2F<%= @city.get_filename %>-quiz%2Ehtml" class="white" title="per Email versenden"><img src="../navpic/brief.gif" width="27" height="18" border="0"> Quiz weiterempfehlen </a> 
        <div class="quiz_embed"><a href="javascript:quizcode_<%= @city.get_filename %>()" class="white">Quiz einbinden <img src="../navpic/pfeil_rr.gif" alt="" width="8" height="8" border="0"> </a>
        </div> 
        <a href="http://www.stadtpanoramen.de/<%= @city.get_filename %>/<%= @city.get_filename %>_panoramen.html" class="white">Panoramen von <%= @city.name %> <img src="../navpic/pfeil_rr.gif" alt="" width="8" height="8" border="0"> </a>       
       </div><br>
       <div class="gplus"><script type="text/javascript" src="http://apis.google.com/js/plusone.js">{lang: 'de', parsetags: 'explicit'}</script><g:plusone href="http://www.stadtpanoramen.de/<%= @city.get_filename %>/" size="medium" count="false"></g:plusone><script type="text/javascript">gapi.plusone.go();</script>
       </div>      
          <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.0";
         fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>   
    <div class="socmed-fb"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a> &nbsp;  &nbsp; 
       <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>       
       <div class="fb-like" data-href="http://www.stadtpanoramen.de/<%= @city.get_filename %>/<%= @city.get_filename %>-quiz.html" data-width="265" data-layout="button" data-action="recommend" colorscheme="dark" data-show-faces="false" data-share="false">
       </div>      
    </div>
   </div>
  </div>
  <div class="adv-r"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- D-Quiz -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:160px;height:600px"
           data-ad-client="ca-pub-2069005959740847"
           data-ad-slot="0601839971"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </div>  
 </div> 
</body>
</html>