<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <link href="../css/bildarchiv_ie.css" rel="stylesheet">    
    <script src="../js/jquery-1.7.1.min.js"></script>
    <script>
    (function($){
      $(window).load(function(){
      var anc = window.location.hash;
      $(anc).addClass("active");
      });
    })(jQuery);
    </script>       
   <title>Bildarchiv - <%= @city.name %></title>
   <meta name="description" content="Bildarchiv <%= @city.name %> - Bilder zum Anklicken für Panoramapräsentationen">
  </head>
  <body>
    <div id="wrapper">
       <div id="bilder">
          <div id="thumbnails">       
            <% @city.panoramas.sort_by!{ |pano| pano.priority }.each do |pano| %>
              <% next unless pano.published %>
              <% city_name = FileHelper.to_filename @city.name %> 
              <div id="<%= FileHelper.to_filename pano.name %>" class="thumbWrapper" style="background-image: url(http://stadtpanoramen.de/en/<%= city_name.to_s == "koeln" ? "cologne" : (city_name.to_s == "muenchen" ? "munich" :(city_name.to_s == "nuernberg" ? "nuremberg" : city_name)) %>/photos/<%= FileHelper.to_filename pano.name %>.jpg)">
                <a name="<%= FileHelper.to_filename pano.name %>" href="<%= FileHelper.to_filename pano.name %>.html" title="<%= pano.alt_name.blank? ? (pano.name) : (pano.alt_name) %>" target="_top">
                  <span class="title"><%= (pano.name) %> </span></a>
              </div>
            <% end %>     
          </div>
       </div>
    </div>
  </body>
</html>