<!doctype html>
<html>
<head>
  <meta charset=utf-8> <% location_en = (@pano.en_location.blank? ? (@pano.location) : (@pano.en_location)) %>
  <meta name="description" content="<% pano_enname = (@pano.alt_en_name.blank? ? (@pano.en_name.blank? ? (@pano.name) : (@pano.en_name)) : (@pano.alt_en_name)) %> <%= pano_enname %> <%= location_en %> in <%= @pano.district %> <%= @city.en_name + " Germany" %> - <%= (@pano.repeative == true) ? ("360° Widescreen Panorama") : ("vertical Panorama") %>">
  <meta name="copyright" content="Helmut Koelbach">    <% citytitle = location_en.blank? ? (@pano.district.blank? ? (@city.en_name) : (@pano.district)) : (location_en) %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pano_enname %> <%= citytitle %> </title>
  <link rel="stylesheet" href="../css/simple-panorama.min.css">
  <link rel="stylesheet" type="text/css" href="../css/vpano.css">
  <link rel="shortcut icon" href="../icon.ico">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/modernizr.js"></script>
  <script type="text/javascript" src="../js/simple-panorama.min.js"></script>
  <script type="text/javascript" src="../js/v_pano.js"></script>
  <script>
  <!--   
    $(function() {
      pano = new SimplePanorama({
       'selector': '#pano',
       'imagePath': 'panoramas/<%= @pano.get_filename %>_5.jpg',  
       'modules': ['move_mousedown'], 
       'initialPos':0,
       'repeative':false,
       'callback': function() {
          <%
              links = @pano.internal_links
              links.sort_by! { |l| l.get_area }
              links.each do |link| 
                dest = link.get_dest       
                if link.is_circle
            %>
                pano.createCircleHotspot(
                "<a href='<%= dest.en_name.blank? ? (dest.get_filename) : (FileHelper.to_filename dest.en_name) %>_5c.html'><span class='title'><% altennam = link.alt_en_name %><%= altennam.blank? ? (dest.alt_en_name.blank? ? (dest.en_name.blank? ? dest.name : dest.en_name) : dest.alt_en_name) : altennam %></span></a>", 
                <%= link.path.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"intern"
                );
              <% else %>
                pano.createRectHotspot(
                "<a href='<%= dest.en_name.blank? ? (dest.get_filename) : (FileHelper.to_filename dest.en_name) %>_5c.html'><span class='title'><% altennam = link.alt_en_name %><%= altennam.blank? ? dest.name : altennam %></span></a>",  
                  <%= link.get_xywh.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"intern"
                );
              <% end %>  <% end %>    
              <%
              extlinks = @pano.external_links
              extlinks.sort_by! { |l| l.get_area }
              extlinks.each do |exlink| 
              exurl = (exlink.en_url.blank? ? exlink.url : exlink.en_url)
              exname = (exlink.en_name.blank? ? exlink.name : exlink.en_name)   
              if exlink.is_circle
            %>
                pano.createCircleHotspot(
                  "<a href='<%= exurl %>'><span class='title'><%= exname %> </span></a>", 
                  <%= exlink.path.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"<%= exlink.name=="Webcam" ? "extern" : "intern" %>"
                );
              <% else %>           
                pano.createRectHotspot( <% if exlink.en_url.blank? %>
                  "<a href='<%= exlink.url %>'><% exlink.url %><span class='title'><% linkname = (exlink.en_name.blank? ? (exlink.name + " - German Info (") : (exlink.en_name + " - Info Link(")) %><% camname = ("Webcam (") %><%= (exlink.name == "." ? camname : linkname) + (exurl.split("/")[2]) + ")" %></span></a>",
        <% else %>"<a href='<%= exlink.en_url + "'><span class='title'>" + exname + " - Info Link (" + (exlink.en_url.split("/")[2]) + ")" %></span></a>",  
        <% end %> <%= exlink.get_xywh.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"extern"
                );
            <% end %><% end %>                                  
              <%
              spots = @pano.hotspot_infos
              spots.sort_by! { |l| -l.get_area }
              spots.each do |spot|       
              if spot.is_circle   
            %>           
                pano.createCircleHotspot(
                  "<span class='title'><%= spot.name %></span>", 
                  <%= spot.path.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"screen"
                );
            <% else %>
                pano.createRectHotspot(
                  "<span class='title'><%= spot.name %></span>", 
                  <%= spot.get_xywh.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"info"
                );
            <% end %> <% end %>        
                pano.showHotspots("intern",true); 
                pano.showHotspots("extern",false); 
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false);                    
                
                var spotcss = $('html.no-touch .sp-hotspot');
                
                $('#hotsp').click(function() { 
                pano.showHotspots("intern",true);
                pano.showHotspots("extern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false);
                spotcss.css({'border-width': '2px'}); 
                spotcss.css({'border-color': 'rgba(210,210,110,1)'});
                $('#hotsp').hide();       
                $('#hotsp_hide').show();  
                $('#off').hide();       
                }); 
                    
                $('#hotsp_hide').click(function() { 
                pano.showHotspots("intern",false);
                $('#hotsp').show();       
                $('#hotsp_hide').hide();  
                }); 
                
                $('#ext').click(function() { 
                pano.showHotspots("extern",true);
                pano.showHotspots("intern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false); 
                spotcss.css({'border-width': '2px'}); 
                spotcss.css({'border-color': 'rgba(210,210,110,1)'});  <% links = @pano.internal_links
                    links.first(1).each do |link| 
                    if link %>
                $('#hotsp').show();       
                $('#hotsp_hide').hide();   
                <% end %><% end %> 
                $('#off').show();     
                }); 
                
                
                $('#streets').click(function() { 
                pano.showHotspots("info",true); 
                pano.showHotspots("screen",true); 
                pano.showHotspots("extern",false);
                pano.showHotspots("intern",false);
                spotcss.css({'border-width': '0px'});   <% links = @pano.internal_links
                    links.first(1).each do |link| 
                    if link %>
                $('#hotsp').show();       
                $('#hotsp_hide').hide(); 
                <% end %><% end %>  
                $('#off').show();      
                }); 
                
                $('#off').click(function() { 
                pano.showHotspots("intern",false);
                pano.showHotspots("extern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false);   <% links = @pano.internal_links
                    links.first(1).each do |link| 
                    if link %>
                $('#hotsp').show();       
                $('#hotsp_hide').hide(); 
                <% end %><% end %>     
                $('#off').hide();     
                }); 
              
              var infoElem = $('#linkInfo');
              $('#pano .sp-hotspot').on('mouseenter', function(event) {
                infoElem.text($(event.target).find('.title').text());
                infoElem.css({'opacity': 1});
              });
              $('#pano .sp-hotspot').on('mouseleave', function() {
                infoElem.css({'opacity': 0});
              });  
              imgwidth=pano.img.width;     
              imgw=pano.img.width+"px";  
              if (imgwidth != 0) {
                $('#panoramaWrapper').css({"max-width": imgw});  
                $('#pano').css({"max-width": imgw});   
              }
         }
      });         
        pano.setTargetSpeed(-0.005, -0.05);  
      }); 
   //-->
  </script>
  </script>
</head>
<body>
  <header>
      <div class="logo">
        <a href="http://www.panorama-cities.net/"><img src="../navpic/logo.png" width="150px" height="51px" alt="City Panoramas" border="0"></a>
      </div>                  
      <div  class="city">
        <a href="http://www.panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/<% if !@pano.district.blank? %><%= FileHelper.to_filename @pano.district %>_panoramas.html"><%= @pano.district %><% else %><% if !@pano.location.blank? %><%= FileHelper.to_filename @pano.en_location %>_panoramas.html"><%= @pano.en_location %><% else %><%= FileHelper.to_filename @city.en_name %>_germany.html"><%= @city.en_name %><% end %><% end %> </a><% if !@pano.location.blank? %>in <a href="http://www.panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/<%= FileHelper.to_filename @city.en_name %>_germany.html"><%= @city.en_name %> </a><% end %>
      </div>  
      <div class="flag">
        <a href="http://www.stadtpanoramen.de/<%= FileHelper.to_filename @city.name %>/<%= FileHelper.to_filename @pano.name %>.html"><img src="../navpic/de_ico.gif" width="35px" height="26px" border="0" title="<%= @pano.name %> - German Version" alt="German"> </a>
      </div>                                                    
      <div class="cities_en"> 
        <a href="http://panorama-cities.net/german_cities/" title="German Cities" class="city-top">Cities</a>
      </div> 
  </header>
 <div id="all">  
   <div id="content">   
    <div id="panoramaWrapper">
        <div id="rahmen_txt">
          <%= pano_enname %> <br><%= location_en %> <%= @pano.district %> <%=@city.en_name %> Germany  
        </div>
       <div class="rahmen_w">
        <div class="rahmen_wol">
        </div>
        <div class="rahmen_wor">
        </div>
        <div id="rahmen_wom">
        </div>
       </div>
       <div id="screen">  
         <div id="pano">
         <div class="loadcircle"> 
           <img src="../navpic/load.gif">
         </div>
         </div>
        <div id="linkInfos">   
         <div id="linkinfo">
         </div>     
         <div id="link_url">
         </div>     
       </div>      
       </div> 
       <div class="rahmen_wu">
        <div class="rahmen_wul"><img src="../navpic/pan.gif" alt="" width="119" height="14"><a  class="back" href="javascript:history.back()"><img src="../navpic/pfeil_r.gif" alt=""> back</a>
        </div>
        <div class="rahmen_wur"><a class="foto" href="http://www.panorama-cities.net/html/st_kontakt_index.html">Panorama H. Kölbach</a>
        </div>
        <div class="rahmen_wum">
        </div>
       </div>     
     </div>     
     <div class="all_buttons">   
     <div class="noj_buttons">  
      <div id="hotsp" style="width: 20%; height: 15px; float: left; cursor:pointer;<%= @pano.internal_links.empty? ? " display:none;" : "" %>"> 
       <img src="../navpic/hotspot.jpg" width="18" height="15" title=" Display Panorama Tour Spots " alt="" border="0" name="hotspotname" onmouseleave="tauschhot(hotspotname,hot)" onmouseover="tauschhot(hotspotname,hot_h)">
      </div>
      <div id="hotsp_hide" style="width: 20%; height: 15px; float: left; cursor:pointer;"> 
        <img src="../navpic/hotspot_hide.jpg" width="18" height="15" title=" Hide Panorama Tour Spots " alt="" border="0">
      </div>   
      <div id="ext" style="width: 20%; height: 15px; float: left; cursor:pointer;<%= @pano.external_links.empty? ? " display:none;" : "" %>"> 
       <img src="../navpic/infos.jpg" width="18" height="15" title=" Display Info Links " alt="" border="0" name="infosname" onmouseleave="tauschin(infosname,infos)" onmouseover="tauschin(infosname,infos_h)">
      </div>  
      <div id="streets" style="width: 20%; height: 15px; float: left; cursor:pointer;<%= @pano.hotspot_infos.empty? ? " display:none;" : "" %>">
       <img src="../navpic/street.jpg" width="18" height="15" title=" Display Street names " alt="" border="0" name="streetname" onmouseleave="tauschstr(streetname,street)" onmouseover="tauschstr(streetname,street_h)">
      </div>    
      <div  id="off" style=" width: 20%; height: 15px; float:left; cursor:pointer; display:none;">
       <img src="../navpic/off.jpg" width="18" height="15" title=" Hide Infos " name="offname" alt="" border="0" onmouseleave="tauschoff(offname,off)" onmouseover="tauschoff(offname,off_h)" alt="" border="0">
      </div>     
       </div>
      <div class="gps">  
        <div style="width:20%<%= @pano.get_latitude == "0.000000" ? "; visibility:hidden" : "" %>">
         <a href="https://www.google.com/maps/d/viewer?mid=<%= @city.mymap_en_id %>&ll=<%= @pano.get_latitude %>,<%= @pano.get_longitude %>&z=19&<% if @city.mymap_en_id == "zIANpqu4IHeQ.kn1PxIW2ji2I" %>t=h<% else %>t=m<% end %>" title="Panorama Locations on <%= @city.en_name %> Map"><img src="../navpic/gps.jpg" width="20" height="15" alt="" border="0" name="gpsname" onmouseleave="tauschgps(gpsname,gps)" onmouseover="tauschgps(gpsname,gps_h)" ></a>
        </div>
       </div> 
     </div>      
     </div>       
    <div id="ads"><% if !@pano.exclusive %>
      <script type="text/javascript"><!--
      google_ad_client = "pub-2069005959740847";
      google_alternate_color = "000000";
      google_ad_width = 120;
      google_ad_height = 240;
      google_ad_format = "120x240_as";
      google_ad_type = "text";
      //2007-06-29: EN-klPanos-klvert
      google_ad_channel = "3122914084";
      google_color_border = "333333";
      google_color_bg = "000000";
      google_color_link = "66B5FF";
      google_color_text = "CCCCCC";
      google_color_url = "3D81EE";
      google_ui_features = "rc:6";
      google_language = "en";
      //-->
      </script>
      <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>)
      <% end %>
     </div>  
  </div>
</body>
</html>