<!doctype html>
<html>
<head>
    <meta charset=utf-8>
    <link href="../css/photo_stock.css" rel="stylesheet" type="text/css">  
   <title>Photo Stock - <%= @city.en_name + " Germany" %></title>
   <meta name="description" content="Photo Stock - <%= @city.en_name + " Germany" %> - Photos linking to City Panoramas">
  </head>
  <body>
      <div id="cont" class="wrapper">
          <div id="thumbnails"> 
            <% @city.panoramas.sort_by!{ |pano| pano.priority }.each do |pano| %>
             <% next unless pano.published %>
              <div class="space">
              </div> <% city_name = @city.get_filename %>
              <div id="<%= pano.en_name.blank? ? (pano.get_filename) : (FileHelper.to_filename pano.en_name) %>" class="thumbWrapper" style="background-image: url(photos/<%= FileHelper.to_filename pano.name %>.jpg)">
                <a href="<%= pano.en_name.blank? ? (pano.get_filename) : (FileHelper.to_filename pano.en_name) %>.html" title="<%= pano.alt_en_name.blank? ? (pano.en_name.blank? ? (pano.name):(pano.en_name)) : (pano.alt_en_name) %>" target="_top">
                  <span class="title"><%= pano.en_name.blank? ? (pano.name):(pano.en_name) %> </span></a>
              </div>
            <% end %> 
              <div class="thumbWrapper" style="background-color: rgba(34, 34, 34, 0.7)">
              </div>
           </div>  
      </div>
  </body>
</html>
