<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>::: Panoramen </title>
  <meta http-equiv="content-language" content="de">  
  <meta name="copyright" content="Helmut Kölbach">    
  <meta name="description" content="::: - Panorama-Ansichten mit virtuellem Rundgang in voller Bildschirmbreite">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" media="screen" href="../../css/location.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" language="javascript" src="../../ind.js"></script> 
    <script type="text/javascript" src="../../js/s-panorama.js"></script>
</head>
<body>
  <header>
      <a href="http://www.stadtpanoramen.de/"><img src="../../navpic/logo.png" alt="Stadtpanoramen"></a> 
    <nav>  
      <div style="margin:13px 40px;">
  <a href="http://www.stadtpanoramen.de/<%= @city.get_filename %>/"><%= @city.name %></a>
      </div> 
    </nav>      
        <h1 style="padding:0 10px; margin-left:40%; margin-top:-5px; color:#ddd; font-size:1.2em; letter-spacing:0.1em; float:left; max-width:350px; position:absolute;"><br>::: </h1>  
      <div class="navtop">
        &nbsp;
      </div>
  </header>
  <div id="content"> 
    <div id="box"> 
      <div class="adv-more">     
        <div style="font-size: 2em;"><br>
          ::: <br>  
        </div>       
        <div style="font-size: 1.5em;">
         Adresse 
        </div> 
      </div> 
    </div>          
    <div id="grid">
      <ul> <% @city.panoramas.keep_if{ |p| p.published }.sort_by{ |p| p.priority }.first(10).each do |pano| %>      
        <li><% panoname = (pano.alt_name.blank? ? (pano.name) : (pano.alt_name)) %>
          <div class="wrapper">
            <a href="<%= pano.get_filename %>.html" title="<%= panoname %> <%= pano.location %> in <%= @city.name %> <%= pano.district %>"><img src="http://panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/.../panoramas/<%= pano.get_filename %>_....jpg"></a>
             <% unless pano.rotation == 60 %>
            <div class="widescreen"><a href="javascript:cindex('<%= pano.get_filename %>_5c.html')" title="Panorama <%= pano.name %> in voller Breite">Widescreen</a>
            </div><% end %>
          </div><%= pano.name %>
        </li><% end %>
      </ul>
    </div>
      
    <div class="more">  
      <a name="<%= @city.get_filename %>-tipps">
      <% @city.panoramas.keep_if{ |p| p.published }.count %>
        <% if @city.panoramas.count > 10 %>
      <a href="../<%= @city.get_filename %>_panoramen.html">weitere Panoramen von <%= @city.name %> </a> <br><br>
      <% end %>
    </div>
    <div class="gmap">
       Panorama-Aufnahmestandorte <%= @city.name %>
       <br>
       <iframe width="560" height="660" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" name="goomap" src="http://maps.google.de/maps/ms?msa=0&amp;msid=204881142368333592551.<%= @city.map_id %>&amp;ie=UTF8&amp;t=m<%= @city.map_coord %>&amp;output=embed"></iframe><br /><a href="http://maps.google.de/maps/ms?msa=0&amp;msid=204881142368333592551.<%= @city.map_id %>&amp;ie=UTF8&amp;t=m<%= @city.map_coord %>&amp;source=embed" target="_blank"><%= @city.name %> Panorama-Karte </a> &nbsp;(Panoramen auf einer gr&ouml;&szlig;eren Karte anzeigen)
    </div> 
    <% if @city.linktips.blank? %>
    <div id="notip">&nbsp;
    </div><% else %>
    <div id="tip">
      <%= @city.linktips %>
    </div><% end %> <br> 
    <div class="adv1-down">
      <%= @city.ad_first_page_down %>
      <br>
    </div>
  </div>
  <footer>
    <a href="http://www.stadtpanoramen.de/html/st_copyright.html">Impressum</a>  
    <span class="contact"><a href="http://www.stadtpanoramen.de/html/kontakt.html">Kontakt</a></span>
    <div class="mail"> <a href="mailto:?subject=Tipp%20StadtPanoramen%20von%20<%= @city.name %>&body=Hallo%2c%0D%0A%0D%0Ahier%20ein%20Link%20zu%20interessanten%20Panoramabildern%20von%20<%= @city.name %>%0D%0Awww%2Estadtpanoramen%2Ede%2F<%= @city.get_filename %>%2Findex%2Ehtml%0D%0A%0D%0A%0D%0A%2A%2A%2A%2A%2A%2A%2A%2A%0D%0AA%20n%20l%20e%20i%20t%20u%20n%20g%0D%0AEmailadresse%20des%20Empf%C3%A4ngers%20eingeben%2c%0D%0Aden%20Text%20nach%20Belieben%20erg%C3%A4nzen%20und%0D%0Adiesen%20Anleitungsabschnitt%20vor%20dem%20Absenden%20entfernen%2E" title="per Email versenden"><img src="../../navpic/brief.gif" width="27" height="18" border="0" alt="per Email"> Seite weiterempfehlen </a>
    </div>
  </footer>
</body>
</html>
