<!doctype html>
<html>
<head>
   <meta charset=utf-8> 
   <meta http-equiv="content-language" content="de">
   <meta name="viewport" content="height=device-height">    
   <meta name="copyright" content="Helmut Kölbach">    
   <meta name="description" content="<% panoname = (@pano.alt_name.blank? ? (@pano.name) : (@pano.alt_name)) %> <%= panoname %> <%= @pano.location %> in <%= @city.name %> <%= @pano.district %> - <%= (@pano.repeative == true) ? ("360° Panorama") : ("Panorama") %>">
    <link rel="stylesheet" href="../css/s-panorama.css"> 
    <link rel="stylesheet" href="../css/panosmall.css">
    <!--[if lt IE 9]>
      <style type="text/css">@import url(../css/pan_ie.css);</style>
    <![endif]-->   
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="../js/s-panorama.js"></script>
    <script type="text/javascript" src="../js/j-panorama.js"></script>
    <script>
    <!--   
      $(function() {
        pano = new SimplePanorama({
         'selector': '#pano',
         'imagePath': '../en/<%= FileHelper.to_filename @city.en_name %>/panoramas/<%= @pano.get_filename %>_3.jpg', 
         'modules': ['move_mousedown', 'move_swipe'],      
         'initialPos':<%= @pano.initial_center %>,
         'repeative': <%= @pano.repeative %>,
         'callback': function() {
            <%
              links = @pano.internal_links
              links.sort_by! { |l| l.get_area }
              links.each do |link| 
                dest = link.get_dest       
                if link.is_circle
            %>
                pano.createCircleHotspot(
                  "<a href='<%= link.get_dest.get_filename %>.html'><span class='title'><% altnam = link.alt_name %><%= altnam.blank? ? dest.name : altnam  %></span></a>", 
                  <%= link.path %>,"intern"
                );
              <% else %>
                pano.createRectHotspot(
                  "<a href='<%= link.get_dest.get_filename %>.html'></a>", 
                  <%= link.get_xywh %>
                );
              <% end %>
            <% end %>
                pano.showHotspots("intern",visible = true); 
                    
                $('#hotsp_hide').click(function() { 
                pano.showHotspots("intern",visible = false);
                $('#hotsp').show();       
                $('#hotsp_hide').hide();  
                }); 
                
                var spotcss = $('html.no-touch .sp-hotspot');
                $('#hotsp').click(function() { 
                pano.showHotspots("intern",visible = true);
                spotcss.css({'border-width': '2px'}); 
                spotcss.css({'border-color': 'rgba(255,255,0,1)'});
                $('#hotsp').hide();       
                $('#hotsp_hide').show();  
                }); 
                
                var infoElem = $('#linkInfo');
                $('#pano .sp-hotspot').on('mouseenter', function(event) {
                  infoElem.text($(event.target).find('.title').text());
                  infoElem.css({'opacity': 1});
                });

                $('#pano .sp-hotspot').on('mouseleave', function() {
                  infoElem.css({'opacity': 0});
            });
           }
        });      
        pano.targetSpeed = 0.05;
        });  
     //-->
    </script>
    <script>
    <!--    
    $(document).ready(function () { 
      if(navigator.javaEnabled())
      {
        $('#javapano').show();
      }
      else
      {
        $('#nojava').show();
        }
    });  
    
    function street()
    {
      document.pmvr.set('script','<%= @city.get_filename %>.txt:<%= @pano.get_filename %>s');
    }
    function inf()
    {
      document.pmvr.set('script','<%= @city.get_filename %>.txt:<%= @pano.get_filename %>i');
    }
    function haus()
    {
      document.pmvr.set('script','<%= @city.get_filename %>.txt:<%= @pano.get_filename %>h');
    }
    function hausaus()
    {
       document.pmvr.set('showlinks','no');
       document.pmvr.set('script','<%= @city.get_filename %>.txt:<%= @pano.get_filename %>');
    }
    function spot_on()
    {
       document.pmvr.set('script','<%= @city.get_filename %>.txt:<%= @pano.get_filename %>');
       document.pmvr.set('showlinks','yes');
    }
     //-->
    </script>
   <title><%= panoname %> <%= @pano.location %> <%= @city.name %> - StadtPanorama</title>
  </head>
<body onUnload="panostop()">
  <header>
      <a href="http://www.stadtpanoramen.de/"><img src="../navpic/logo.png" width="150px" height="51px" alt="Stadtpanoramen"></a> 
    <nav>  
      <a class="city-top">Städte </a><br>
          <ul>     
            <li><a href="../berlin/">Berlin </a></li>
            <li><a href="../bielefeld/">Bielefeld </a></li>
            <li><a href="../bochum/">Bochum </a></li>
            <li><a href="../bonn/">Bonn </a></li>
            <li><a href="../braunschweig/">Braunschweig </a></li>
            <li><a href="../bremen/">Bremen </a></li>
            <li><a href="../bremerhaven/">Bremerhaven </a></li>
            <li><a href="../darmstadt/">Darmstadt </a></li>
            <li><a href="../dortmund/">Dortmund </a></li>
            <li><a href="../dresden/">Dresden </a></li>
            <li><a href="../duesseldorf/">Düsseldorf </a></li>
            <li><a href="../duisburg/">Duisburg </a></li>
            <li><a href="../erfurt/">Erfurt </a></li>
            <li><a href="../essen/">Essen </a></li>
            <li><a href="../frankfurt/">Frankfurt </a></li>
            <li><a href="../freiburg/">Freiburg </a></li>
            <li><a href="../goslar/">Goslar </a></li>
            <li><a href="../hamburg/">Hamburg </a></li>
            <li><a href="../hannover/">Hannover </a></li>
            <li><a href="../heidelberg/">Heidelberg </a></li>
            <li><a href="../hildesheim/">Hildesheim </a></li>
            <li><a href="../karlsruhe/">Karlsruhe </a></li>
            <li><a href="../kassel/">Kassel </a></li>
            <li><a href="../kiel/">Kiel </a></li>
            <li><a href="../koblenz/">Koblenz </a></li>
            <li><a href="../koeln/">Köln </a></li>
            <li><a href="../leipzig/">Leipzig </a></li>
            <li><a href="../luebeck/">Lübeck </a></li>
            <li><a href="../mainz/">Mainz </a></li>
            <li><a href="../mannheim/">Mannheim </a></li>
            <li><a href="../minden/">Minden </a></li>
            <li><a href="../muenchen/">München </a></li>
            <li><a href="../nuernberg/">Nürnberg </a></li>
            <li><a href="../oldenburg/">Oldenburg </a></li>
            <li><a href="../osnabrueck/">Osnabrück </a></li>
            <li><a href="../rostock/">Rostock </a></li>
            <li><a href="../rothenburg_ob_der_tauber/">Rothenburg o.d.T.</a></li>
            <li><a href="../schwerin/">Schwerin </a></li>
            <li><a href="../siegen/">Siegen </a></li>
            <li><a href="../stuttgart/">Stuttgart </a></li>
            <li><a href="../trier/">Trier </a></li>
            <li><a href="../tuebingen/">Tübingen </a></li>
            <li><a href="../wernigerode/">Wernigerode </a></li>
            <li><a href="../wiesbaden/">Wiesbaden </a></li>
            <li><a href="../wismar/">Wismar </a></li>
            <li><a href="../wuerzburg/">Würzburg </a></li>
            <li style="padding-right: 200px;"> &nbsp;</li>
            <li><a href="../muensterland/" class="msland">Münsterland </a></li>
            <li><a href="../ahaus/">Ahaus </a></li>
            <li><a href="../ahlen/">Ahlen </a></li>
            <li><a href="../coesfeld/">Coesfeld </a></li>
            <li><a href="../emsdetten/">Emsdetten </a></li>
            <li><a href="../greven/">Greven </a></li>
            <li><a href="../horstmar/">Horstmar </a></li>
            <li><a href="../ibbenbueren/">Ibbenbüren </a></li>
            <li><a href="../lengerich/">Lengerich </a></li>
            <li><a href="../luedinghausen/">Lüdinghausen </a></li>
            <li><a href="../muenster/">Münster </a></li>
            <li><a href="../rheine/">Rheine </a></li>
            <li><a href="../steinfurt/">Steinfurt </a></li>
            <li><a href="../tecklenburg/">Tecklenburg </a></li>
            <li><a href="../telgte/">Telgte </a></li>
            <li><a href="../warendorf/">Warendorf </a></li>
        </ul> 
    </nav>         
        <div  class="city"><a href="http://www.stadtpanoramen.de/<%= @city.get_filename %>/"><%= @city.name %> </a></div>  
      <div class="navtop">
        <a href="http://www.stadtpanoramen.de/html/photo-service.html" title="Panoramabilder und virtuelle Rundgänge">Photo-Service </a>
      </div>
  </header>
 <div class="all">      
  <div id="javapano" style="margin:90px auto; width:1150px;height:570px;color:#000000;text-align:left;">      
     <div class="rahmen_w">
      <div class="rahmen_wol">
      </div>
      <div class="rahmen_wor">
      </div>
      <div class="rahmen_wom">
        <h1><%= panoname %> <%= @pano.location %> <%= @city.name %> <%= @pano.district %></h1>
      </div>
     </div>
   <div style="clear:left;margin-right:-2px; width:10px; height:501px; float:left;">
   <img src="../navpic/st_detail_bsp_07.jpg" alt="" width="10px" height="501px"><br>
   </div>
   <div style=" height:500px; width:786px; float:left; box-shadow:0px 45px 6px #000; color:#aaa;">
    <applet  archive="pmvr.jar" mayscript codebase=".." code="pmvr.class" name="pmvr"  width="786" height="500" >
     <param name="image" value="../en/<%= FileHelper.to_filename @city.en_name %>/panoramas/<%= @pano.get_filename %>_5.jpg">
     <param name="zMax" value="150">
     <param name="delay" value="15000">
     <param name='vauto' value="<%= @pano.rotation %>">
     <param name="center" value="<%= @pano.initial_center %>">
     <% if @pano.repeative %><param name='view' value='360'><% end %>
     <param name="hover" value="yes">
     <% counter = -1 
     @pano.internal_links.each do |link|      
       dest = link.get_dest %>
       <% altnam = link.alt_name %>
       <param name="link<%= counter+=1 %>" value="<%= link.path %>,http://stadtpanoramen.de/<%= @city.get_filename %>/<%= dest.get_filename %>.html,<%= altnam.blank? ? dest.name : altnam  %>">
     <% end %>       
     <table width="780" height="300" bgcolor="#000000"><tr><td align=center><font size="+1" color=red>Zum Betrachten der interaktiven Panoramen <br>muss die Java-Unterstützung <br>installiert und aktiviert sein. </font><br><br>Infos dazu finden Sie auf den <a href="http://www.stadtpanoramen.de/html/st_hilfe_3.html">Hilfe-Seiten</a><br><br>Alternativ können die Panoramabilder <br> hier bei den <a href="http://www.stadtpanoramen.de/stadt/bilder_staedte.html" target="_blank">Städte-Bilder</a> auch <br>ohne Java-Aktivierung betrachtet werden.</td></tr></table> 
    </applet><br>   
   </div>  
   <div style=" width:7px; height:501px; overflow:hidden; float:left;">
    <img src="../navpic/st_detail_bsp_09.jpg" alt="" width="9px" height="501px"><br>
   </div>  
   <div id="all_inf" class="all_info">
     <div id="infolink" class="infolayer">
      <span style="letter-spacing: 2px">Info-Links <br>im Bild: </span><br>
      <img src="../navpic/pan.gif" alt="" width="1px" height="3px" border="0"><br>         
      <% @pano.external_links.each do |link| %> <%= link.name %> <br> <% end %> 
     </div>   
     <div id="tour" class="tourlayer">
      <span style="letter-spacing: 2px">Panorama-Tour</span><br>
      <img src="../navpic/pan.gif" alt="" width="1" height="3" border="0"><br>
      Virtueller Rundgang <br>im Bild gelb markiert 
      <img src="../navpic/pan.gif" alt="" width="1" height="3" border="0"><br>
      <br>Nächstes Panorama: <br>
      <% counter = -1 
      @pano.internal_links.each do |link|      
        dest = link.get_dest %> <% altnam = link.alt_name %>
        <a href="http://stadtpanoramen.de/<%= @city.get_filename %>/<%= dest.get_filename %>.html" class="yellow"><%= dest.name %> </a> <br>
      <% end %> 
     </div> 
     <div id="str" class="steetlayer">
      <span style="letter-spacing: 2px">Straßen </span><br>
      <img src="../navpic/pan.gif" alt="" width="1" height="3" border="0"><br>        
      <% @pano.hotspot_infos.each do |hotspot| %> <%= hotspot.name %> <br>
      <% end %> 
     </div> 
   </div>

   <div class="adv">
    <%= @pano.tag_list == "Airport F"||@pano.tag_list.to_s == "Botanischer Garten"||@pano.tag_list.to_s == "Palmengarten"||@pano.tag_list.to_s == "Großer Garten"||@pano.tag_list.to_s == "Kleines Fest im Großen Garten"||@pano.tag_list.to_s == "BUGA 2009" ? "" : @city.html_content %>
   </div>
     <div class="rahmen_wu">
      <div class="rahmen_wul"><img src="../navpic/pan.gif" alt="" width="119" height="14">
      </div>
      <div class="rahmen_wur"><img src="../navpic/pan.gif" alt="" width="145" height="8" border="0">
      </div>
      <div class="rahmen_wum"><%= @pano.get_german_month %>
      </div>
     </div>
   <div class="buttons_j">
    <div class="button_left"><a href="javascript:index()" onMouseOut="tauschpf(pfname,Bild5)" onMouseOver="tauschpf(pfname,Bild6);"><img src="../navpic/pfeil_r.gif" width="8" height="8" name="pfname" title=" Zur Übersicht " alt="" border="0"></a>
    </div>

    <div style="width: 23px; height: 10px; float: left;<%= @pano.internal_links.empty? ? "display:none;" : "" %>"> 
     <a href="javascript:spot_on()"><img src="../navpic/hotsp.gif" width="10" height="10" name="hotname" title=" Panorama-Tour einblenden " alt="" border="0" onMouseUp="layeronoff('tour','','show','infolink','','hide','str','','hide','txt','','hide','gps','','hide')"></a>
    </div>

    <div style="width: 23px; height: 10px; float: left;<%= @pano.external_links.empty? ? "display:none;" : "" %>"> 
     <a href="javascript:inf()" onMouseOut="tauschin(inname,inf1)" onMouseOver="tauschin(inname,inf2)"><img src="../navpic/in.gif" width="10" height="10" name="inname" title=" Info-Links einblenden " alt="" border="0" onMouseUp="layeronoff('infolink','','show','tour','','hide','str','','hide','txt','','hide','gps','','hide')"></a>
    </div>

    <div style="width: 23px; height: 10px; float: left;<%= @pano.hotspot_infos.empty? ? "display:none;" : "" %>">
     <a href="javascript:street()" onMouseOut="tauschstr(strname,stra)" onMouseOver="tauschstr(strname,stra2)"><img src="../navpic/strasse.gif" width="11" height="9" name="strname" title=" Straßennamen einblenden " alt="" border="0" onMouseUp="layeronoff('str','','show','tour','','hide','infolink','','hide','txt','','hide','gps','','hide')"></a>
    </div>  

    <div style="width: 23px;height: 10px; float:left;<%= @pano.get_latitude == "0.000000" ? "display:none;" : "" %>">
     <a href="http://maps.google.com/maps/ms?msid=204881142368333592551.<%= @city.map_id %>&msa=0&ll=<%= @pano.get_latitude %>,<%= @pano.get_longitude %>&spn=0.002500,0.002500&iwloc=<%= @pano.map_id %>" target="top" title=" Aufnahme-Standort auf <%= @city.name %>-Karte anzeigen "><img src="../navpic/gps.gif" width="12" height="9" alt="" border="0" ></a>
    </div>

    <div style="width: 23px;height: 10px; float:left;<%= @pano.internal_links.empty? ? (@pano.external_links.empty? ? (@pano.hotspot_infos.empty? ? (@pano.get_latitude == "0.000000" ? "display:none;" : "") : "") : "") : "" %>">
     <a href="javascript:hausaus()" onMouseOut="tauschaus(ausname,aus)" onMouseOver="tauschaus(ausname,aus2)"><img src="../navpic/aus.gif" width="8" height="8" name="ausname" title=" Infos im Bild ausblenden " alt="" border="0" onMouseUp="layeronoff('infolink','','show','infolink','','hide','tour','','show','tour','','hide','str','','show','str','','hide','txt','','show','txt','','hide','gps','','show','gps','','hide')"></a>
    </div>  
    </div>
  
    <div class="rotatbut">&nbsp;
    </div>
    <div class="foto">
      Foto: <a href="http://www.stadtpanoramen.de/html/kontakt.html" class="greysmall">H. Kölbach</a> <br>
    </div>  
   </div>  
   </div> 
  <footer>
    <a href="http://www.stadtpanoramen.de/html/st_copyright.html">Impressum</a>  
    <span class="contact"><a href="http://www.stadtpanoramen.de/html/kontakt.html">Kontakt</a></span>
  </footer>
</body>
</html>