<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title><%= @city.en_name %> Panoramas </title>
  <meta name="copyright" content="Helmut Koelbach">    
  <meta name="description" content="360° City Panoramas of <%= @city.en_name %> - Panoramic City Views and Virtual Tours">
  <link rel="shortcut icon" href="icon.ico">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" media="screen" href="../css/allcities_en.css">
  <link rel="shortcut icon" href="../icon.ico">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" language="javascript" src="../ind.js"></script>     
  <script type="text/javascript" src="../js/s-panorama.js"></script>
</head>
<body>
  <header>
      <a href="http://www.panorama-cities.net/"><img src="../navpic/logo.png" height="50px" alt="City Panoramas"></a> 
    <nav>  
      <a href="http://panorama-cities.net/german_cities/" class="city-top">German Cities</a><br>
          <ul>     
            <li><a href="../berlin/berlin_germany.html">Berlin </a></li>
            <li><a href="../bielefeld/bielefeld_germany.html">Bielefeld </a></li>
            <li><a href="../bochum/bochum_germany.html">Bochum </a></li>
            <li><a href="../bonn/bonn_germany.html">Bonn </a></li>
            <li><a href="../braunschweig/braunschweig_germany.html">Braunschweig </a></li>
            <li><a href="../bremen/bremen_germany.html">Bremen </a></li>
            <li><a href="../bremerhaven/bremerhaven_germany.html">Bremerhaven </a></li>
            <li><a href="../cologne/cologne_germany.html">Cologne </a></li>
            <li><a href="../darmstadt/darmstadt_germany.html">Darmstadt </a></li>
            <li><a href="../dortmund/dortmund_germany.html">Dortmund </a></li>
            <li><a href="../dresden/dresden_germany.html">Dresden </a></li>
            <li><a href="../duesseldorf/duesseldorf_germany.html">Düsseldorf </a></li>
            <li><a href="../duisburg/duisburg_germany.html">Duisburg </a></li>
            <li><a href="../erfurt/erfur_germany.html">Erfurt </a></li>
            <li><a href="../essen/essen_germany.html">Essen </a></li>
            <li><a href="../frankfurt/frankfurt_germany.html">Frankfurt </a></li>
            <li><a href="../freiburg/freiburg_germany.html">Freiburg </a></li>
            <li><a href="../goslar/goslar_germany.html">Goslar </a></li>
            <li><a href="../hamburg/hamburg_germany.html">Hamburg </a></li>
            <li><a href="../hannover/hannover_germany.html">Hannover </a></li>
            <li><a href="../heidelberg/heidelberg_germany.html">Heidelberg </a></li>
            <li><a href="../hildesheim/hildesheim_germany.html">Hildesheim </a></li>
            <li><a href="../karlsruhe/karlsruhe_germany.html">Karlsruhe </a></li>
            <li><a href="../kassel/kassel_germany.html">Kassel </a></li>
            <li><a href="../kiel/kiel_germany.html">Kiel </a></li>
            <li><a href="../koblenz/koblenz_germany.html">Koblenz </a></li>
            <li><a href="../leipzig/leipzig_germany.html">Leipzig </a></li>
            <li><a href="../luebeck/luebeck_germany.html">Lübeck </a></li>
            <li><a href="../mainz/mainz_germany.html">Mainz </a></li>
            <li><a href="../mannheim/mannheim_germany.html">Mannheim </a></li>
            <li><a href="../minden/minden_germany.html">Minden </a></li>
            <li><a href="../munich/munich_germany.html">Munich </a></li>
            <li><a href="../nuremberg/nuremberg_germany.html">Nuremberg </a></li>
            <li><a href="../oldenburg/oldenburg_germany.html">Oldenburg </a></li>
            <li><a href="../osnabrueck/osnabrueck_germany.html">Osnabrück </a></li>
            <li><a href="../rostock/rostock_germany.html">Rostock </a></li>
            <li><a href="../rothenburg_ob_der_tauber/rothenburg_ob_der_tauber_germany.html">Rothenburg o.d.T.</a></li>
            <li><a href="../schwerin/schwerin_germany.html">Schwerin </a></li>
            <li><a href="../siegen/siegen_germany.html">Siegen </a></li>
            <li><a href="../stuttgart/stuttgart_germany.html">Stuttgart </a></li>
            <li><a href="../trier/trier_germany.html">Trier </a></li>
            <li><a href="../tuebingen/tuebingen_germany.html">Tübingen </a></li>
            <li><a href="../wernigerode/wernigerode_germany.html">Wernigerode </a></li>
            <li><a href="../wiesbaden/wiesbaden_germany.html">Wiesbaden </a></li>
            <li><a href="../wismar/wismar_germany.html">Wismar </a></li>
            <li><a href="../wuerzburg/wuerzburg_germany.html">Würzburg </a></li>
            <li style="padding-right: 200px;"> &nbsp;</li>
            <li><a href="../muensterland/muensterland_germany.html" class="msland">Münsterland </a></li>
            <li><a href="../ahaus/ahaus_germany.html">Ahaus </a></li>
            <li><a href="../ahlen/ahlen_germany.html">Ahlen </a></li>
            <li><a href="../coesfeld/coesfeld_germany.html">Coesfeld </a></li>
            <li><a href="../emsdetten/emsdetten_germany.html">Emsdetten </a></li>
            <li><a href="../greven/greven_germany.html">Greven </a></li>
            <li><a href="../horstmar/horstmar_germany.html">Horstmar </a></li>
            <li><a href="../ibbenbueren/ibbenbueren_germany.html">Ibbenbüren </a></li>
            <li><a href="../lengerich/lengerich_germany.html">Lengerich </a></li>
            <li><a href="../luedinghausen/luedinghausen_germany.html">Lüdinghausen </a></li>
            <li><a href="../muenster/muenster_germany.html">Münster </a></li>
            <li><a href="../rheine/rheine_germany.html">Rheine </a></li>
            <li><a href="../steinfurt/steinfurt_germany.html">Steinfurt </a></li>
            <li><a href="../tecklenburg/tecklenburg_germany.html">Tecklenburg </a></li>
            <li><a href="../telgte/telgte_germany.html">Telgte </a></li>
            <li><a href="../warendorf/warendorf_germany.html">Warendorf </a></li>
        </ul>  
    </nav>         
        <h1><%= @city.en_name %> </h1>  
      <div class="navtop"><a href="http://www.stadtpanoramen.de/<%= FileHelper.to_filename @city.name %>/"><img src="../navpic/de_ico.gif" width="35px" height="26px" border="0" title="<%= @city.name %> - German Version" alt="German"> </a>
      </div>
  </header>
  <div id="large_content"> 
      <div id="menu">  
        <h2>Panoramas <%= @city.en_name %> A-Z</h2>
        <nav>
          <ul><% @city.panoramas.keep_if{ |p| p.published }.sort_by do |n|      
              if n.en_name.blank?
                if n.alt_en_name.blank?
                  n.name
                else
                  n.alt_en_name
                end 
               else
                 n.en_name
               end 
              end.each do |pano| %><% pano_enname = (pano.en_name.blank? ? (pano.alt_en_name.blank? ? (pano.name) : (pano.alt_en_name)) : (pano.en_name)) %>
            <li><a href="<%= pano.en_name.blank? ? (FileHelper.to_filename pano.name) : (FileHelper.to_filename pano.en_name) %>.html" title="<%= pano_enname %> <%= pano.en_location %> <%= pano.district %> <%= @city.en_name %> Germany"><%= pano_enname %> </a></li><% end %>
          </ul>
        </nav>
      </div>     
    <div id="box">  
            <div class="g_adv_only">
              <script type="text/javascript"><!--
              google_ad_client = "pub-2069005959740847";
              //EN-CITIES-TOP
              google_ad_slot = "3075315275";
              google_ad_width = 200;
              google_ad_height = 200;
              google_language = "en";
              //--></script>
              <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
              </script>
            </div> 
    </div>
         
    <div id="grid">
      <ul> <% @city.panoramas.keep_if{ |p| p.published }.sort_by do |n| 
            if n.en_name.blank?
              n.name
            else
              n.en_name
            end 
          end.sort_by{ |p| p.priority }.each do |pano| %>   
        <li><% pano_subtitle = (pano.en_name.blank? ? (pano.alt_en_name.blank? ? (pano.name) : (pano.alt_en_name)) : (pano.en_name)) %>  <% pano_enname = (pano.alt_en_name.blank? ? (pano.en_name.blank? ? (pano.name) : (pano.en_name)) : (pano.alt_en_name)) %>
          <div class="wrapper"><% pano_enlocation = (pano.en_location.blank? ? (pano.location.blank? ? (" ") : (pano.location)) : (pano.en_location)) %>
            <a href="http://www.panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/<%= pano.en_name.blank? ? (FileHelper.to_filename pano.name) : (FileHelper.to_filename pano.en_name) %>.html" title=" <%= pano_enname %> <%= pano_enlocation %> in <%= @city.en_name %> <%= pano.district %>"><img src="http://panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/panoramas/<%= FileHelper.to_filename pano.name %>_<%= FileHelper.to_filename @city.name %>.jpg" alt="<%= pano.name + " " + @city.name %>"></a>
            <% unless pano.rotation == 60 %>  
            <div class="widescreen"><a href="javascript:cindex('http://www.panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/<%= pano.en_name.blank? ? (FileHelper.to_filename pano.name) : (FileHelper.to_filename pano.en_name) %>_5c.html')" title="<%= pano_enname %> Panorama in Widescreen">Widescreen</a>
            </div><% end %>
          </div><%= pano_subtitle %>
        </li><% end %>
      </ul>
    </div>      
      <div class="map_space"> 
      <div class="de-map"> 
        MAP OF GERMANY
         <br>   <% if @city.map_id == "0004da425c9f05f247e60" %>  
          <iframe src="http://www.panorama-cities.net/maps/map_muensterland.html" width="229" height="312" name="map" marginwidth="0"  marginheight="3" frameborder="0" scrolling="no"></iframe>
          <% else %>          
           <% if @city.map_id == "00044b138d7eba762674d" %> 
           <div style="width:229; height:312"> &nbsp; </div>
           <% else %> 
          <iframe src="http://www.panorama-cities.net/maps/map_<%= FileHelper.to_filename @city.en_name %>.html" width="229" height="312" name="map" marginwidth="0"  marginheight="3" frameborder="0" scrolling="no"></iframe>
        <br><a href="http://www.panorama-cities.net/html/map_germany.html#map_germany" class="white">This interactive map on your web page <img src="../navpic/pfeil_rr.gif" alt="" width="8" height="8" border="0"> </a>
        <% end %>
        <% end %>
      </div>
      </div>
      <div class="gmap">
        <%= @city.en_name %> Panorama Locations
       <br>
       <iframe width="560" height="660" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" name="goomap" src="http://maps.google.com/maps/ms?msa=0&amp;msid=204881142368333592551.<%= @city.map_id %>&amp;ie=UTF8&amp;t=m<%= @city.map_coord %>&amp;output=embed"></iframe><br /><a href="http://maps.google.com/maps/ms?msa=0&amp;msid=204881142368333592551.<%= @city.map_id %>&amp;ie=UTF8&amp;t=m<%= @city.map_coord %>&amp;source=embed" target="_blank">Panoramas of <%= @city.en_name %> </a> &nbsp;<span style="font-size:0.9em;">(View Larger Map)</span>
      </div> 
      <div class="more">
        &nbsp;
      </div>
      <div class="adv2-down"> 
          <script type="text/javascript"><!--
          google_ad_client = "pub-2069005959740847";
          google_ad_width = 468;
          google_ad_height = 60;
          google_ad_format = "468x60_as";
          google_ad_type = "text_image";
          //2007-06-29: EN-Ümaps-horU
          google_ad_channel = "3432391245";
          google_color_border = "333333";
          google_color_bg = "000000";
          google_color_link = "66B5FF";
          google_color_text = "CCCCCC";
          google_color_url = "3D81EE";
          google_ui_features = "rc:6";
          google_language = "en";
          //-->
          </script>
          <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
      </div>
  </div>
  <footer> 
    <span class="contact"><a href="http://www.panorama-cities.net/html/kontakt.html">Contact us</a></span>
    <div class="mail"> <a href="mailto:?subject=City Panoramas%20of%20<%= @city.en_name %>%20Germany&body=Dear%0D%0A%0D%0AI%20discovered%20nice%20panoramic%20photos%20of%20the%20city%20<%= @city.en_name %>in%20Germany%%0D%0Awww%2Epanorama-cities%2Enet%2F<%= FileHelper.to_filename @city.en_name %>%2F<%= FileHelper.to_filename @city.en_name %>_panoramas%2Ehtml%0D%0A%0D%0A%0D%0A%2A%2A%2A%2A%2A%2A%2A%2A%0D%0AI%20n%20s%20t%20r%20u%20c%20t%20i%20o%20n%0D%0AEnter%20the%20email%20address%20of%20the%20recipient%2C%0D%0Aadd%20your%20part%20to%20the%20text%20as%20desired%20and%0D%0Adelete%20this%20part%20of%20instructions%20before%20sending%2E" title="by Email"><img src="../navpic/brief.gif" width="27" height="18" border="0" alt="Email"> Email this page </a>
    </div>
  </footer>
</body>
</html>
