<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <link href="http://www.stadtpanoramen.de/css/bildarchiv_ie.css" rel="stylesheet">    
    <script src="http://www.stadtpanoramen.de/js/jquery-1.7.1.min.js"></script>
    <script>
    (function($){
      $(window).load(function(){
      var anc = window.location.hash;
      $(anc).addClass("active");
      });
    })(jQuery);
    </script>       
   <title>Image Archive - <%= @city.en_name %></title>
   <meta name="description" content="Image Archive <%= @city.en_name %> IE-Version">
  </head>
  <body>
    <div id="wrapper">
       <div id="bilder">
          <div id="thumbnails">       
            <% @city.panoramas.sort_by!{ |pano| pano.priority }.each do |pano| %>
              <% next unless pano.published %>
              <% city_name = (@city.en_name.blank? ? (@city.get_filename) : (FileHelper.to_filename @city.en_name)) %> 
              <div id="<%= pano.en_name.blank? ? (pano.get_filename) : (FileHelper.to_filename pano.en_name) %>" class="thumbWrapper" style="background-image: url(photos/<%= FileHelper.to_filename pano.name %>.jpg)">
                <a name="<%= FileHelper.to_filename pano.name %>" href="<%= pano.en_name.blank? ? (pano.get_filename) : (FileHelper.to_filename pano.en_name) %>.html" title="<%= pano.alt_en_name.blank? ? (pano.en_name.blank? ? (pano.name):(pano.en_name)) : (pano.alt_en_name) %>" target="_top">
                  <span class="title"><%= pano.en_name.blank? ? (pano.name):(pano.en_name) %> </span></a>
              </div>
            <% end %>     
          </div>
       </div>
    </div>
  </body>
</html>