<!doctype html>
<html>
<head>
  <meta charset=utf-8> 
  <meta name="copyright" content="Helmut Kölbach">  
  <meta name="viewport" content="height=device-height"> <% location_en = @pano.location.blank? ? ("") : ((@pano.location == "Botanischer Garten") ? ("Botanic Garden") : ((@pano.location == "Burg Vischering") ? ("Vischering Castle") : ((@pano.location == "Festung Ehrenbreitstein") ? ("Ehrenbreitstein Fortress") : (@pano.location)))) %>
  <meta http-equiv="content-language" content="de">
  <meta name="description" content="<% pano_enname = (@pano.alt_en_name.blank? ? (@pano.en_name.blank? ? (@pano.name) : (@pano.en_name)) : (@pano.alt_en_name)) %> <%= pano_enname %> <%= location_en %> in <%= @pano.district %> <%= @city.en_name + " Germany" %> - <%= (@pano.repeative == true) ? ("360° Widescreen Panorama") : ("Widescreen Panorama") %>">
  <% citytitle = location_en.blank? ? (@pano.district.blank? ? (@city.en_name) : (@pano.district)) : (location_en) %>
  <title><%= pano_enname %> <%= citytitle %> </title>
  <link rel="stylesheet" type="text/css" href="../css/cinepano.css">
  <link rel="stylesheet" href="../css/s-panorama.css">
  <!--[if lt IE 9]>
    <style type="text/css">@import url(../css/pan_ie.css);</style>
  <![endif]-->  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="../js/s-panorama.js"></script>
  <script type="text/javascript" src="../js/j-panorama.js"></script>
  <script type="text/javascript" language="javascript" src="../cinepano.js"></script>
  <script>
  <!--   
    $(function() {
      pano = new SimplePanorama({
       'selector': '#pano',
       'imagePath': 'panoramas/<%= @pano.get_filename %>_5.jpg', 
       'modules': ['move_mousedown', 'move_swipe'],      
       'initialPos':175,
       'repeative': true,
       'callback': function() {
          <%
            links = @pano.internal_links
            links.sort_by! { |l| l.get_area }
            links.each do |link| 
              dest = link.get_dest       
              if link.is_circle
          %>
              pano.createCircleHotspot(
                "<a href='<%= dest.en_name.blank? ? (dest.get_filename) : (FileHelper.to_filename dest.en_name) %>_5c.html'><span class='title'><%= link.alt_en_name.blank? ? (dest.en_name.blank? ? (dest.name):(dest.en_name)) : (link.alt_en_name) %></span></a>", 
                <%= link.path %>,"intern"
              );
            <% else %>
              pano.createRectHotspot(
                "<a href='<%= dest.en_name.blank? ? (dest.get_filename) : (FileHelper.to_filename dest.en_name) %>_5c.html'></a>", 
                <%= link.get_xywh %>
              );
            <% end %>
          <% end %>
              pano.showHotspots("intern",visible = true); 
                  
              $('#hotsp_hide').click(function() { 
              pano.showHotspots("intern",visible = false);
              $('#hotsp').show();       
              $('#hotsp_hide').hide();  
              }); 
              
              var spotcss = $('html.no-touch .sp-hotspot');
              $('#hotsp').click(function() { 
              pano.showHotspots("intern",visible = true);
              spotcss.css({'border-width': '2px'}); 
              spotcss.css({'border-color': 'rgba(255,255,0,1)'});
              $('#hotsp').hide();       
              $('#hotsp_hide').show();  
              }); 
              
              var infoElem = $('#linkInfo');
              $('#pano .sp-hotspot').on('mouseenter', function(event) {
                infoElem.text($(event.target).find('.title').text());
                infoElem.css({'opacity': 1});
              });

              $('#pano .sp-hotspot').on('mouseleave', function() {
                infoElem.css({'opacity': 0});
          });
         }
      });      
      pano.targetSpeed = 0.05;
      });  
   //-->
  </script>
  <script>
  <!--    
  $(document).ready(function () { 
    if(navigator.javaEnabled())
    {
      $('#javapano').show(); 
      rand();
    }
    else
    {
      $('#nojava').show();
      }
  });  
  
    function street()
    {
      document.pmvr.set('script','<%= FileHelper.to_filename @city.en_name %>.txt:<%= @pano.get_filename %>s');
    }
    function inf()
    {
      starts();
      document.pmvr.set('script','<%= FileHelper.to_filename @city.en_name %>.txt:<%= @pano.get_filename %>i');
    }
    function haus()
    {
      starts();
      document.pmvr.set('script','<%= FileHelper.to_filename @city.en_name %>.txt:<%= @pano.get_filename %>h');
    }
    function hausaus()
    {
       document.pmvr.set('showlinks','no');
       document.pmvr.set('script','<%= FileHelper.to_filename @city.en_name %>.txt:<%= @pano.get_filename %>');
    }
    function spot_on()
    {
       document.pmvr.set('script','<%= FileHelper.to_filename @city.en_name %>.txt:<%= @pano.get_filename %>');
       document.pmvr.set('showlinks','yes');
    }
     //-->
    </script>
</head>
<body bgcolor="#000000" leftmargin="0" rightmargin="0" onUnload="panostop()">
 <div id="all" class="all">     
   <noscript style="color:#ff6666;font-size:20pt"><br>Bitte <a style="color:#ff6666;font-size:20pt;text-decoration:underline" href="http://ecosia.org/search.php?q=javascript+aktivieren">Please enable Javascript</a> to view the Panorama! </noscript> 
  <div id="javapano" class="javapano">  
    <div class="all_w">
     <div class="rahmen_w">
       <div class="rahmen_wol">
       </div>
       <div class="rahmen_wor">
       </div>
       <div class="rahmen_wom"><img src="../navpic/pan.gif" alt="" width="8" height="2">        
        <%= pano_enname %> <br><%= location_en %> <%= @pano.district %> <%=@city.en_name %> Germany   
       </div>
     </div><br> 
     <div style="clear:left">
    </div>
    
     <div style="all_w">
      <applet archive="pmvr.jar" mayscript codebase=".." code="pmvr.class" name="pmvr"  width="97%" height="500" >
  <param name="image" value="panoramas/<%= FileHelper.to_filename @pano.name %>_5.jpg">
  <param name="zmax" value="150">
  <param name="zoom" value="no"> 
  <param name="delay" value="15000"> 
  <param name="auto" value="<%= @pano.rotation %>">
  <param name="center" value="<%= @pano.initial_center %>"> 
  <% if @pano.repeative %><param name='view' value='360'><% end %>
  <param name="hover" value="yes"> 
    <% 
    counter = -1 
    @pano.internal_links.each do |link|
    dest = Panorama.find(link.destination_id)%>
    <param name="link<%= counter+=1 %>" value="<%= link.path.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,http://stadtpanoramen.de/<%= @city.get_filename %>/<%= dest.get_filename %>_5c.html,<%= dest.name %>">
    <% end %>  
    <br><font size="+1" color="red">Please enable Java support to view the panoramas! <br><br> 
  </applet>
  <noscript><font size="2" color=red><br>Pleas enable JavaScript <br>to view the panoramas ! </font><br></noscript> 
 </div> 
     <div class="rahmen_wu">
       <div class="rahmen_wul"><img src="../navpic/pan.gif" alt="" width="8" height="4"><img src="../navpic/pan.gif" alt="" width="20" height="2"><a href="javascript:end()" onMouseOut="panogo();tauschpf(pfname,Bild5)" onMouseOver="panostop();tauschpf(pfname,Bild6);status='back';return true"><img src="../navpic/pfeil_r.gif" width="8" height="8" name="pfname" alt="" border="0"><img src="../navpic/pan.gif" alt="" width="5" height="2" border="0"><img src="../navpic/tminib.gif" width="86" height="10" alt="" border="0"></a>
       </div>
       <div class="rahmen_wur"><img src="../navpic/pan.gif" alt="" width="8" height="5"><a  href="http://www.stadtpanoramen.de/html/st_kontakt_index.html" target="_blank" onMouseOver="status='Contact';return true"><img src="../navpic/tphk.gif" alt="" width="119" height="8" border="0"></a><img src="../navpic/pan.gif" alt="" width="26" height="8" border="0">
       </div>
       <div class="rahmen_wum"><img src="../navpic/pan.gif" alt="" width="8" height="2"><% unless @pano.date_of_recording.nil? %><%= l @pano.date_of_recording, :format => :month %><% end %>
   </div>
 </div>
 <div class="all_w"><img src="../navpic/taste-lll.jpg" alt="" width="26" height="13"><img src="../navpic/tastenaus.jpg" alt="" width="205" height="13" border="0" name="tastenname" usemap="#tastennameMap5"><img src="../navpic/taste-rrr.jpg" alt="" width="22" height="13" border="0">
 </div>
 <br>
   <div style="width: 100%; height: 23px; text-align:center; <%= @pano.internal_links.empty? ? "display:none;" : "" %>"><a href="javascript:document.pmvr.set('showlinks','yes')" onMouseover="status='Show Hotspots';return true;"><img src="../navpic/tastecinehot.jpg" width="53" height="23" border="0" name="hsname" title=" Show Panorama Tour " alt=""></a>
   </div> 
 <div class="rahmen_w">
  <div class="textinfo_l"><a href="http://www.panorama-cities.net" class="white">START <br>www.panorama-cities.net</a>
  </div>
  <div class="textinfo_r">
  </div>
  <div class="textinfo_m"><a href="javascript:full()"><br>
    <img src="../navpic/fullscreen.gif" width="85" height="23" title="Vergößerung auf Vollbild" alt="Full Screen" name= "fsname" border="0" onMouseOut="tauschfs(fsname,Bildfs)" onMouseOver="tauschfs(fsname,Bildfsc)"></a> 
  </div>
 </div>
</div>
</div>
 <map name="tastennameMap5"> 
    <area shape="rect" coords="0,0,41,13" href="javascript:ll()" title"Pan fast left" alt="" onMouseUp="tastell(tastenname,Bildll2)" onMouseDown="tastell(tastenname,Bildll)">
    <area shape="rect" coords="42,0,81,13" href="javascript:l()" title"Pan left" alt="" onMouseUp="tastel(tastenname,Bildl2)" onMouseDown="tastel(tastenname,Bildl)">
    <area shape="rect" coords="82,0,123,13" href="javascript:stop()" title"Stop" alt="" onMouseUp="tastestop(tastenname,Bildstop2)" onMouseDown="tastestop(tastenname,Bildstop)">
    <area shape="rect" coords="126,0,166,13" href="javascript:r()" title"Pan right" alt="" onMouseUp="taster(tastenname,Bildr2)" onMouseDown="taster(tastenname,Bildr)">
    <area shape="rect" coords="165,0,210,13" href="javascript:rr()" title"Pan fast right" alt="" onMouseUp="tasterr(tastenname,Bildrr2)"  onmousedown="tasterr(tastenname,Bildrr)">
   </map>
     
     
    <div id="nojava" class="nojava">
      <div id="panoramaWrapper">
      <div class="logo_sp"><a href="http://www.panorama-cities.net" target="_top"><img src="../navpic/stadtpanoramen.gif" height="24" width="218" border="0" alt="Logo StadtPanoramen"></a> 
        </div> 
       <div class="rahmen_w">
        <div class="rahmen_wol">
        </div>
        <div class="rahmen_wor">
        </div>
        <div class="rahmen_wom"><img src="../navpic/pan.gif" alt="" width="8" height="15">         
        <%= pano_enname %> <br><%= location_en %> <%= @pano.district %> <%=@city.en_name %> Germany   
        </div>
       </div>
       <div id="pano"> </div>   
       <div id="linkInfo"> </div>
       <div class="rahmen_wu">
        <div class="rahmen_wul"><img src="../navpic/pan.gif" alt="" width="20" height="14"><a href="javascript:history.back()" onMouseOut="panogo();tauschpf(pfname,Bild5)" onMouseOver="panostop();tauschpf(pfname,Bild6);status='back';return true"><img src="../navpic/pfeil_r.gif" width="8" height="8" name="pfname" alt="" border="0"><img src="../navpic/pan.gif" alt="" width="5" height="2" border="0"><img src="../navpic/tminib.gif" width="86" height="10" alt="" border="0"></a>
        </div>
        <div class="rahmen_wur"><a href="http://www.panorama-cities.net/html/st_kontakt_index.html" target="_blank" onMouseOver="status='Kontakt';return true"><img src="../navpic/tphk.gif" alt="" width="119" height="8" border="0"></a><img src="../navpic/pan.gif" alt="" width="26" height="12" border="0">
        </div>
        <div class="rahmen_wum"> <% unless @pano.date_of_recording.nil? %><%= pano.get_english_month %><% end %>
        </div>
       </div>
       <div class="allbuttons">
         <div id="hotsp">
           <img src="../navpic/hotsp.jpg" width="17" height="17" title=" Show Panorama Tour Spots " alt="" border="0">
         </div>
         <div id="hotsp_hide">
           <img src="../navpic/hotsp_hide.jpg" width="17" height="17" title=" Hide Panorama Tour Spots " alt="" border="0">
         </div>
         <div id="panoramaControls">
           <ul>
          <li><img id="pc-left-fast" src="../img/pc/left-fast.png" title="Pan fast left" alt="button_fast_left"/></li>
          <li><img id="pc-left" src="../img/pc/left.png" title="Pan left" alt="button_left"/></li>
          <li><img id="pc-pause" src="../img/pc/pause.png" title="Stop" alt="button_stop"/></li>
          <li><img id="pc-right" src="../img/pc/right.png" title="Pan right" alt="button_right"/></li>
          <li><img id="pc-right-fast" src="../img/pc/right-fast.png" title="Pan fast right" alt="button_fast_right"/></li>
        </ul>
         </div>
         <div id="gps">
        <a href="http://maps.google.com/maps/ms?msid=204881142368333592551.<%= @city.map_id %>&msa=0&ll=<%= @pano.get_latitude %>,<%= @pano.get_longitude %>&spn=0.002500,0.002500&iwloc=<%= @pano.map_id %>" target="top" title=" Show Panorama Location on <%= @city.en_name %> Map "><img src="../navpic/gps_map.png" width="20" height="15" alt="" border="0"></a>  
       </div>
       </div>      
      <div style="clear: left;">
      </div>       
      </div>  
      <div id="menue">
        <ul>
        <li><a href="<%= FileHelper.to_filename @city.en_name %>_germany.html"><%= @city.en_name %> </a></li>
        <li><a href="http://www.panorama-cities.net/html/st_kontakt_index.html">Contact us</a></li>
        </ul>
      </div>
      <div class="frame_all">&nbsp;
        <div id="thumbframe">
          <iframe width="781" height="144"  frameborder="0" marginheight="0" marginwidth="0" scrolling="no" name="archiv"  src="image_archive_<%= FileHelper.to_filename @city.en_name %>.html#<%= @pano.en_name.blank? ? (@pano.get_filename) : (FileHelper.to_filename @pano.en_name) %>"> </iframe>
        </div> 
      </div>        
      <div class="foot">&nbsp;
      </div>       
     </div>        
 </div>    
</body>
</html>
