<% # coding: utf-8
%>

<h1>Statistik</h1>

<div class="section">
  <table>
    <tr>
      <td>Städte</td>
      <td><%= @city_count %></td>
    </tr>
    <tr>
      <td>Panoramen</td>
      <td><%= @pano_count %></td>
    </tr>
    <tr>
      <td>Interne Links</td>
      <td><%= @internal_link_count %></td>
    </tr>
    <tr>
      <td>Externe Links</td>
      <td><%= @external_link_count %></td>
    </tr>
    <tr>
      <td>Hotspots</td>
      <td><%= @hotspot_info_count %></td>
    </tr>
  </table>
</div>