<!doctype html>
<html>
<head>
  <meta charset=utf-8> 
  <meta name="description" content="<% panoname = (@pano.alt_name.blank? ? (@pano.name) : (@pano.alt_name)) %> <%= panoname %> <%= pano.location %> in <%= @city.name %> <%= @pano.district %> - <%= (@pano.repeative == true) ? ("360° Vollbild Panorama") : ("Vollbild Panorama") %>">
  <meta name="copyright" content="H. Kölbach">   
  <meta name="viewport" content="width=device-width, maximum-scale=1">   
  <title><%= @pano.name %> <%= @city.name %> Vollbild </title>
  <link rel="stylesheet" href="../css/simple-panorama.min.css">
  <link rel="stylesheet" type="text/css" href="../css/hd_pano.css">
  <link rel="shortcut icon" href="../icon.ico">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="../js/modernizr.js"></script>
  <script type="text/javascript" src="../js/fullpanorama.js"></script>
  <script type="text/javascript" src="../js/hdpano.js"></script>
  <script>
  <!--   
    $(function() {
      $(window).trigger('resize');
      pano = new SimplePanorama({
       'selector': '#pano',
       'imagePath': '../en/<%= FileHelper.to_filename @city.en_name %>/panoramas/<%= @pano.get_filename %>_hd.jpg', 
       'modules': ['move_mousedown', 'move_swipe'], 
       'initialPos':<%= @pano.initial_center.blank? ?  "0" : (@pano.initial_center*10.8/3.5).to_i %>,
       'repeative': <%= @pano.repeative.blank? ?  "false" : @pano.repeative %>,
       'callback': function() { 
          <%
            links = @pano.internal_links
            links.sort_by! { |l| l.get_area }
            links.each do |link| 
              dest = link.get_dest;          
              if link.is_circle
          %>
              pano.createCircleHotspot(
                "<a href='<%= dest.get_filename %><%= dest.hdpano==true ?  "_full_hd" : "_5c" %>.html'><span class='title'><% altnam = link.alt_name %><%= altnam.blank? ? (dest.alt_name.blank? ? dest.name : dest.alt_name) : altnam %></span></a>",
                <%= link.path.split(',').map! { |s| (s.to_i*10.8/3.5).to_i }.join(',') %>,"intern"
              );
            <% else %> 
              pano.createRectHotspot(
                "<a href='<%= dest.get_filename %><%= dest.hdpano==true ?  "_full_hd" : "_5c" %>.html'><span class='title'><% altnam = link.alt_name %><%= altnam.blank? ? (dest.alt_name.blank? ? dest.name : dest.alt_name) : altnam %></span></a>", 
                <%= link.get_xywh.split(',').map! { |s| (s.to_i*10.8/3.5).to_i }.join(',') %>,"intern"
              );
            <% end %><% end %>
                pano.showHotspots("intern",true);                  
                
                var spotcss = $('html.no-touch .sp-hotspot');
                var linkcss = $('html.no-touch #linkInfo');
                var spottouchcss = $('html.touch .sp-hotspot');
                var linktouchcss = $('html.touch #linkInfo'); 
              
              var infoElem = $('#linkInfo');
              infoElem.css({'opacity': 0});
              $('#pano .sp-hotspot').on('mouseenter', function(event) {
                infoElem.text($(event.target).find('.title').text());
                infoElem.css({'opacity': 1});
              });
              $('#pano .sp-hotspot').on('mouseleave', function() {
                infoElem.css({'opacity': 0});
              });                 
              $('#fullscr_button').show().delay(5000).fadeOut(3000);    
              $('#back_button').delay(8000).fadeIn(400);    
              $('#fullscr_button').css({'cursor': 'pointer'});
         }
      });          
        <%= @pano.rotation == 0 ? "" : @pano.rotation == -20 ? "pano.setTargetSpeed(0.05);" : "pano.setTargetSpeed(-0.05);" %>  
      }); 
   //-->
  </script>
</head>
<body>
     <div id="screen">
       <div id="pano">
         <div class="loadcircle"> 
           <img src="../navpic/load.gif">
         </div>
       </div>
       <div id="fullscr_button">
         Vollbild (F11)
       </div>
       <div id="back_button">
         <a href="<%= @pano.get_filename %>_5c.html">x</a>
       </div>
       <div id="linkInfo">
          <div class="linkspace"> </div>
       </div>     
    </div> 
</body>
</html>