<% sortedPanoramas = @city.panoramas %>       <% sortedPanoramas.sort_by!{ |p| (p.district.blank? ? "0_" : p.district) + (p.location.blank? ? "0_" : p.location) + p.name } %>        <% sortedPanoramas.each do |pano| %>    
<% next unless pano.published and pano.date_of_recording.year == 2014 %>      <% pano_filename = FileHelper.to_filename pano.name %>          <% pano_en_filename = FileHelper.to_filename( pano.en_name.blank? ? pano.name : pano.en_name ) %>           <% unless pano.get_latitude == "0.000000" %>        <% panoenname = (pano.alt_en_name.blank? ? (pano.en_name.blank? ? (pano.name) : (pano.en_name)) : (pano.alt_en_name)) %>        <% panoname = (pano.alt_name.blank? ? (pano.name) : (pano.alt_name)) %>        <% pano_loc = (pano.location.blank? ? ("") : (pano.location + " in")) %>        <% pano_dist = (pano.district.blank? ? ("") : (pano.district)) %>
<center>      
              <%= pano_loc %> <%= @city.name %> <%= pano_dist %> <% city_filename = FileHelper.to_filename @city.name %>      <% city_en_filename = FileHelper.to_filename @city.en_name %>
              <a href="http://www.stadtpanoramen.de/<%= city_filename %>/index.html" title="StadtPanoramen <%= @city.name %>"><img src="http://www.stadtpanoramen.de/navpic/de_ico-small.gif"></a>
              <br>              <br>
              <%= pano.alt_name.blank? ? (pano.name) : (panoname.to_s) %> <img src="http://www.panorama-cities.net/navpic/pan.gif" height="4px" width="4px"><br>
              <a href="http://www.stadtpanoramen.de/<%= city_filename %>/<%= pano_filename %>.html" title="<%= panoname %> <%= pano_loc %> <%= @city.name %> <%= pano_dist %>">
                <img src="http://www.panorama-cities.net/<%= city_en_filename %>/photos/<%= pano_filename %>.jpg" alt="<%= panoname %> <%= pano_loc %> in <%= @city.name %>"></a>
              <%= (pano.repeative == true) ? ("<br> 360° Panorama") : ("<br>") %>                  
              <img src="http://www.panorama-cities.net/navpic/pan.gif" alt="" height="4px" width="4px"><br>
              <% unless pano.rotation == -80 %>
              <a href="http://www.stadtpanoramen.de/<%= city_filename %>/<%= pano_filename %>_5c.html" title="Widescreen-Panorama <%= panoname %> <%= @city.name %>">Widescreen </a>+ Voll-Format
              <br>
          <% end %>____________________<br><br>
              <a href="http://www.panorama-cities.net/<%= city_en_filename %>/<%= city_en_filename %>_germany.html" title="<%= @city.en_name %> City Panoramas"><img src="http://www.stadtpanoramen.de/navpic/uk-small.jpg" alt=""></a>
              <%= (pano.repeative == true) ? ("<br> 360° Panorama") : ("") %> <br>
              <a href="http://www.panorama-cities.net/<%= city_en_filename %>/<%= pano_en_filename %>.html"><%= panoenname%></a> <br> 
              <%= pano_loc %> <%= pano_dist %> <%= @city.en_name %> Germany            
              <img src="http://www.panorama-cities.net/navpic/pan.gif" alt="" height="4px" with="4px"><br>
              <% unless pano.rotation == -80 %>
              <a href="http://www.panorama-cities.net/<%= city_en_filename %>/<%= pano_en_filename %>_5c.html" title="<%= panoenname %> in <%= @city.en_name %> - Widescreen View">Widescreen </a> + Full Screen
              <br>
          <% end %>____________________<br>                    
              </center>
          <% end %>
          <% end %>