<!doctype html>
<html>
<head>
    <meta charset=utf-8> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="jquery/jquery-1.7.2.min.js"%3E%3C/script%3E'))</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script>!window.jQuery.ui && document.write(unescape('%3Cscript src="jquery/jquery-ui-1.8.21.custom.min.js"%3E%3C/script%3E'))</script>
    <script src="../js/jquery.mousewheel.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.js"></script>
    <script>
    (function($){
      $(window).load(function(){
        $("#cont").mCustomScrollbar({
          horizontalScroll:true,
        });
    var anc = window.location.hash;
    $("#cont").mCustomScrollbar("scrollTo",anc);
    $(anc).addClass("active");
      });
    })(jQuery);
    </script>   
    <script> 
    function load() {
      anc = window.location.hash;
      archiv = ("bildarchiv_<%= @city.get_filename %>_ie.html"+anc);
      if (navigator.appName == "Microsoft Internet Explorer")
      location.replace(archiv);
    }
    </script>      
    <link href="../css/bildarchiv.css" rel="stylesheet" type="text/css">  
    <link href="../css/jquery.mCustomScrollbar_h.css" rel="stylesheet" type="text/css">  
   <title>Bildarchiv - <%= @city.name %></title>
   <meta name="description" content="Bildarchiv <%= @city.name %> - Bilder zum Anklicken für Panoramapräsentationen">
  </head>
  <body onload="load()">
      <div id="cont" class="wrapper">
          <div id="thumbnails"> 
            <% @city.panoramas.sort_by!{ |pano| pano.priority }.each do |pano| %>
             <% next unless pano.published %>
              <div id="anch" class="anch"><a name="<%= pano.get_filename %>"> </a>
              </div> 
              <% city_name = @city.get_filename %>    
              <div id="<%= pano.get_filename %>" class="thumbWrapper" style="background-image: url(http://stadtpanoramen.de/en/<%= city_name.to_s == "koeln" ? "cologne" : (city_name.to_s == "muenchen" ? "munich" :(city_name.to_s == "nuernberg" ? "nuremberg" : city_name)) %>/photos/<%= pano.get_filename %>.jpg)">
                <a href="<%= pano.get_filename %>.html" title="<%= pano.alt_name.blank? ? (pano.name) : (pano.alt_name) %>" target="_top">
                  <span class="title"><%= (pano.name) %> </span></a>
              </div>
            <% end %> 
              <div class="thumbWrapper" style="background-color: rgba(34, 34, 34, 0.7)">
              </div>
           </div>  
      </div>
  </body>
</html>
