<!doctype html>
<html>
<head>
   <meta charset=utf-8> 
   <meta http-equiv="content-language" content="de">
   <meta name="viewport" content="height=device-height">    
   <meta name="copyright" content="Helmut Kölbach">    
   <meta name="description" content="<% panoname = (@pano.alt_name.blank? ? (@pano.name) : (@pano.alt_name)) %> <%= panoname %> <%= @pano.location %> in <%= @city.name %> <%= @pano.district %> - <%= (@pano.repeative == true) ? ("360° Panorama") : ("Panorama") %>">
    <link rel="stylesheet" href="../css/s-panorama.css"> 
    <link rel="stylesheet" href="../css/pano_small.css"> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="../js/s-panorama.js"></script>
    <script type="text/javascript" src="../js/j-panorama.js"></script>
    <script>
    <!--   
      $(function() {
        pano = new SimplePanorama({
         'elem': $('#pano'), 
         'imagePath': '../en/<%= FileHelper.to_filename @city.en_name %>/panoramas/<%= @pano.get_filename %>_3.jpg', 
         'modules': ['move_mousedown', 'move_swipe'],      
         'initialPos':<%= @pano.initial_center %>,
         'repeative': <%= @pano.repeative %>
        });        
        pano.targetSpeed = 0.05;
        
        $("#hotsp").click(function() {
          <% @pano.internal_links.each do |link| 
            dest = link.get_dest%>          
            <% if link.is_circle %>
              pano.createCircleHotspot(
                '<a href="<%= link.get_dest.get_filename %>.html"><% altnam = link.alt_name %><%= altnam.blank? ? dest.name : altnam  %></a>', 
                <%= link.path %>
              );
            <% else %>
              pano.createRectHotspot(
                '<a href="<%= link.get_dest.get_filename %>.html"></a>', 
                <%= link.get_xywh %>
              );
            <% end %>
          <% end %>
        });
      });
     //-->
    </script>
    <script>
    <!--    
    $(document).ready(function () { 
      if(navigator.javaEnabled())
      {
        $('#nojava').hide();
      }
      else
      {
        $('#javapano').hide();
        $('#nojava').show();
        }
    });  
    
    function street()
    {
      document.pmvr.set('script','<%= @city.get_filename %>.txt:<%= @pano.get_filename %>s');
    }
    function inf()
    {
      starts();
      document.pmvr.set('script','<%= @city.get_filename %>.txt:<%= @pano.get_filename %>i');
    }
    function haus()
    {
      starts();
      document.pmvr.set('script','<%= @city.get_filename %>.txt:<%= @pano.get_filename %>h');
    }
    function hausaus()
    {
       document.pmvr.set('showlinks','no');
       document.pmvr.set('script','<%= @city.get_filename %>.txt:<%= @pano.get_filename %>');
    }
    function spot_on()
    {
       document.pmvr.set('script','<%= @city.get_filename %>.txt:<%= @pano.get_filename %>');
       document.pmvr.set('showlinks','yes');
    }
     //-->
    </script>
   <title><%= panoname %> <%= @pano.location %> <%= @city.name %> - StadtPanorama</title>
  </head>
<body onUnload="panostop()">
 <div id="all" class="all">   
  <div id="javapano" class="javapano">  
   <div class="titletext">    
      <%= panoname %> <%= @pano.location %> <br><%= @city.name %> <%= @pano.district %>
   </div>
    
   <div class="logo"><a href="http://www.stadtpanoramen.de" target="_top"> <img src="../navpic/stadtpanoramen.gif" height="24" width="218" border="0" alt="StadtPanoramen - Start"></a>
   </div>  
   <div class="bord_top">
   <img src="../navpic/st_detail_bsp_05.jpg" alt="" width="523" height="9"><br>
   </div>
   <div class="bord_left">
   <img src="../navpic/st_detail_bsp_07.jpg" alt="" width="10" height="251"><br>
   </div>
   <div class="applet">
    <applet  archive="pmvr.jar" mayscript codebase=".." code="pmvr.class" name="pmvr"  width="500" height="250" >
     <param name="image" value="../en/<%= FileHelper.to_filename @city.en_name %>/panoramas/<%= @pano.get_filename %>_3.jpg">
     <param name="zMax" value="150">
     <param name="delay" value="15000">
     <%= @pano.rotation == -60 ? "<param name='vauto'" : "<param name='auto'" %> value="<%= @pano.rotation %>">
     <param name="center" value="<%= @pano.initial_center %>">
     <% if @pano.repeative %><param name='view' value='360'><% end %>
     <param name="hover" value="yes">
     <% counter = -1 
     @pano.internal_links.each do |link|      
       dest = link.get_dest %>
       <% altnam = link.alt_name %>
       <param name="link<%= counter+=1 %>" value="<%= link.path %>,http://stadtpanoramen.de/<%= @city.get_filename %>/<%= dest.get_filename %>.html,<%= altnam.blank? ? dest.name : altnam  %>">
     <% end %>       
     <table width="498" height="250" bgcolor="#cccccc"><tr><td align=center><font size="+1" color=red>Zum Betrachten der interaktiven Panoramen <br>muss die Java-Unterstützung <br>installiert und aktiviert sein. </font><br><br>Infos dazu finden Sie auf den <a href="http://www.stadtpanoramen.de/html/st_hilfe_3.html">Hilfe-Seiten</a><br><br>Alternativ können die Panoramabilder <br> hier bei den <a href="http://www.stadtpanoramen.de/stadt/bilder_staedte.html" target="_blank">Städte-Bilder</a> auch <br>ohne Java-Aktivierung betrachtet werden.</td></tr></table> 
    </applet><br>   
   </div>  
   <div class="bord_right">
    <img src="../navpic/st_detail_bsp_09.jpg" alt="" width="13" height="251"><br>
   </div>  
   <div id="info" class="infotext">
    <span style="font: bold 9pt Arial, Helvetica, sans-serif; color: #FFFFFF;  letter-spacing: 2px">Info-Links <br>im Bild: </span><br>
    <img src="../navpic/pan.gif" alt="" width="1" height="3" border="0"><br>         
    <% @pano.external_links.each do |link| %>
      <%= link.name %> <br>
    <% end %>     
  
   <div id="tour" class="tourlayer">
    <span style="font: bold 9pt Arial, Helvetica, sans-serif; color:#FFFFFF; letter-spacing: 2px">Panorama-Tour</span>
    <img src="../navpic/pan.gif" alt="" width="1" height="3" border="0">
    <br>Virtueller Rundgang <br>im Bild gelb markiert 
    <img src="../navpic/pan.gif" alt="" width="1" height="3" border="0"><br>
    <br>Nächstes Panorama: <br>
    <% 
    counter = -1 
    @pano.internal_links.each do |link|      
      dest = link.get_dest %>
      <% altnam = link.alt_name %>
      <a href="http://stadtpanoramen.de/<%= @city.get_filename %>/<%= dest.get_filename %>.html" class="yellow"><%= dest.name %> </a> <br>
    <% end %> 
   </div> 
    
   <div id="str" class="textlayer">
    <span style="font: bold 9pt Arial, Helvetica, sans-serif; color: #FFFFFF;  letter-spacing: 2px">Straßen </span><br>
    <img src="../navpic/pan.gif" alt="" width="1" height="3" border="0"><br>        
    <% @pano.hotspot_infos.each do |hotspot| %>
      <%= hotspot.name %> <br>
    <% end %> 
   </div> 
  
   <div id="gps" class="textlayer">
    <span style="font: bold 9pt Arial, Helvetica, sans-serif; color: #FFFFFF;  letter-spacing: 2px">Kamera-<br>Standort <br><%= @pano.name %> </span><br>
    <img src="../navpic/pan.gif" alt="" width="1" height="3" border="0"><br>            
    
    <%= @pano.get_latitude_degree %> N (<%= @pano.get_latitude 4 %>)<br>
    <%= @pano.get_longitude_degree %> E (<%= @pano.get_longitude 4 %>)

    <br> <br><a href="http://maps.google.de/maps?q=<%= @pano.latitude %>+<%= @pano.longitude %>" class="white" target="_blank">In Karte bei <br>Google Maps <br>anzeigen <img src="../navpic/pfeil_rr.gif" width="8" height="8"  alt="" border="0"></a><br>(Grüner Pfeil)
   </div>    
  </div>

   <div class="adv">
    <%= @pano.tag_list == "Airport F"||@pano.tag_list.to_s == "Botanischer Garten"||@pano.tag_list.to_s == "Palmengarten"||@pano.tag_list.to_s == "Großer Garten"||@pano.tag_list.to_s == "Kleines Fest im Großen Garten"||@pano.tag_list.to_s == "BUGA 2009" ? "" : @city.html_content %>
   </div>
   <div class="bord_u">
    <img src="../navpic/st_detail_bsp_05.jpg" alt="" width="523" height="9" align="top"><br>
   </div>
   <div class="buttons_j">
    <div class="button_left"><a href="javascript:index()" onMouseOut="tauschpf(pfname,Bild5)" onMouseOver="tauschpf(pfname,Bild6);"><img src="../navpic/pfeil_r.gif" width="8" height="8" name="pfname" title=" Zur Übersicht " alt="" border="0"></a>
    </div>

    <div style="width: 23px; height: 10px; float: left;<%= @pano.internal_links.empty? ? "display:none;" : "" %>"> 
     <a href="javascript:spot_on()"><img src="../navpic/hotsp1.gif" width="10" height="10" name="hotname" title=" Panorama-Tour einblenden - &#13; auch mit Leertaste ein- und ausblenden " alt="" border="0" onMouseUp="layeronoff('tour','','show','info','','hide','str','','hide','txt','','hide','gps','','hide')"></a>
    </div>

    <div style="width: 23px; height: 10px; float: left;<%= @pano.external_links.empty? ? "display:none;" : "" %>"> 
     <a href="javascript:inf()" onMouseOut="tauschin(inname,inf1)" onMouseOver="tauschin(inname,inf2)"><img src="../navpic/in.gif" width="10" height="10" name="inname" title=" Info-Links einblenden " alt="" border="0" onMouseOver="status='Info-Links im Panorama einblenden';return true" onMouseUp="layeronoff('info','','show','tour','','hide','str','','hide','txt','','hide','gps','','hide')"></a>
    </div>

    <div style="width: 23px; height: 10px; float: left;<%= @pano.hotspot_infos.empty? ? "display:none;" : "" %>">
     <a href="javascript:street()" onMouseOut="tauschstr(strname,stra)" onMouseOver="tauschstr(strname,stra2)"><img src="../navpic/strasse.gif" width="11" height="9" name="strname" title=" Straßennamen einblenden " alt="" border="0"  onMouseOver="status='Straßennamen einblenden';return true" onMouseUp="layeronoff('str','','show','tour','','hide','info','','hide','txt','','hide','gps','','hide')"></a>
    </div>  

    <div style="width: 23px;height: 10px; float:left;<%= @pano.get_latitude == "0.000000" ? "display:none;" : "" %>">
     <a href="http://maps.google.com/maps/ms?msid=204881142368333592551.<%= @city.map_id %>&msa=0&ll=<%= @pano.get_latitude %>,<%= @pano.get_longitude %>&spn=0.002500,0.002500&iwloc=<%= pano.map_id %>" title=" Aufnahme-Standort auf <%= @city.name %>-Karte anzeigen "><img src="../navpic/gps.gif" width="12" height="9" alt="" border="0" ></a>
    </div>

    <div class="button_right">
     <a href="javascript:hausaus()" onMouseOut="tauschaus(ausname,aus)" onMouseOver="tauschaus(ausname,aus2)"><img src="../navpic/aus.gif" width="8" height="8" name="ausname" title=" Infos im Bild ausblenden " alt="" border="0" onMouseOver="status='Infos ausblenden';return true" onMouseUp="layeronoff('info','','show','info','','hide','tour','','show','tour','','hide','str','','show','str','','hide','txt','','show','txt','','hide','gps','','show','gps','','hide')"></a>
    </div>  
    </div>
  
    <div class="rotbut">
     <img src="../navpic/taste-lll.jpg" alt="" width="26" height="13"  align="top" border="0"><img src="../navpic/tastenaus.jpg" alt="" width="205" height="13" align="top" border="0" name="tastenname" usemap="#tastennameMap"><img src="../navpic/taste-rrr.jpg" alt="" width="22" height="13" align="top" border="0"></div>
    <div class="foto">
      Foto: <a href="http://www.stadtpanoramen.de/html/kontakt.html" class="greysmall">H. Kölbach</a> <br>
    </div>  
    
    <div class="w_screen">   
     <a href="javascript:cine()" onMouseOut="tauschc(cname,Bild7)" onMouseOver="tauschc(cname,Bild8)"><img src="../navpic/bcine.gif" width="108" height="20" title="Panorama in voller Breite" alt="" name="cname" border="0"></a> 
    </div>
    <div class="date"> 
      <%= @pano.get_german_month %>
    </div>
  
    <div id="indexlink"  class="more"><br>
     Weitere <a href="index.html" target="_top" class="white">Panoramen von <%= @city.name %> <img src="../navpic/pfeil_rr.gif" width="8" height="8" alt="" border="0"></a>
     </div>
  
     <div class="thumbs">
      <iframe width="797" height="150" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" name="archiv"  src="bildarchiv_<%= @city.get_filename %>.html#<%= @pano.get_filename %>"> </iframe>
     </div>
     <div class="advrow">
   <script type="text/javascript"><!--
   google_ad_client = "pub-2069005959740847";
   google_alternate_color = "000000";
   google_ad_width = 728;
   google_ad_height = 15;
   google_ad_format = "728x15_0ads_al";
   //2007-08-21: DE-klPanos-grLinkblock-horU
   google_ad_channel = "1464037453";
   google_color_border = "333333";
   google_color_bg = "000000";
   google_color_link = "66B5FF";
   google_color_text = "CCCCCC";
   google_color_url = "3D81EE";
   google_language = "de";
   //-->
   </script>
   <script type="text/javascript"
   src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
   </script>
    </div>
   </div>
   <map name="tastennameMap">  
    <area shape="rect" coords="0,0,41,13" href="javascript:ll()" title="Schnell links drehen"  alt="" onMouseUp="tastell(tastenname,Bildll2)" onMouseDown="tastell(tastenname,Bildll)">
    <area shape="rect" coords="42,0,81,13" href="javascript:l()"  title="Links drehen" alt="" onMouseUp="tastel(tastenname,Bildl2)" onMouseDown="tastel(tastenname,Bildl)">
    <area shape="rect" coords="82,0,123,13" href="javascript:stop()" title="Stop" alt="" onMouseUp="tastestop(tastenname,Bildstop2)" onMouseDown="tastestop(tastenname,Bildstop)">
    <area shape="rect" coords="126,0,166,13" href="javascript:r()"  title="Rechts drehen" alt="" onMouseUp="taster(tastenname,Bildr2)" onMouseDown="taster(tastenname,Bildr)">
    <area shape="rect" coords="165,0,210,13" href="javascript:rr()"  title="Schnell rechts drehen" alt="" onMouseUp="tasterr(tastenname,Bildrr2)"  onmousedown="tasterr(tastenname,Bildrr)">
   </map>
   
   
  <div id="nojava" class="nojava">
    <div id="panoramaWrapper">
    <div class="logo_sp"><a href="http://www.stadtpanoramen.de" target="_top"><img src="../navpic/stadtpanoramen.gif" height="24" width="218" border="0" alt="Logo StadtPanoramen"></a> 
      </div> 
     <div class="rahmen_w">
      <div class="rahmen_wol">
      </div>
      <div class="rahmen_wor">
      </div>
      <div class="rahmen_wom"><img src="../navpic/pan.gif" alt="" width="8" height="15">        
      <%= panoname %> <%= @pano.location %> <%= @city.name %> <%= @pano.district %>
      </div>
     </div>     
     <div id="pano">
     </div>   
     <div class="rahmen_wu">
      <div class="rahmen_wul"><img src="../navpic/pan.gif" alt="" width="20" height="14"><a href="javascript:history.back()" onMouseOut="panogo();tauschpf(pfname,Bild5)" onMouseOver="panostop();tauschpf(pfname,Bild6);status='zur&uuml;ck';return true"><img src="../navpic/pfeil_r.gif" width="8" height="8" name="pfname" alt="" border="0"><img src="../navpic/pan.gif" alt="" width="5" height="2" border="0"><img src="../navpic/tminib.gif" width="86" height="10" alt="" border="0"></a>
      </div>
      <div class="rahmen_wur"><a href="http://www.stadtpanoramen.de/html/st_kontakt_index.html" target="_blank" onMouseOver="status='Kontakt';return true"><img src="../navpic/tphk.gif" alt="" width="119" height="8" border="0"></a><img src="../navpic/pan.gif" alt="" width="26" height="12" border="0">
      </div>
      <div class="rahmen_wum"> <% unless @pano.date_of_recording.nil? %><%= l @pano.date_of_recording, :format => :month %><% end %>
      </div>
     </div>
     <div class="allbuttons">
       <div id="hotsp">
        <img src="../navpic/hotsp.jpg" width="17" height="17" name="hotname" title=" Panorama-Tour einblenden " alt="" border="0"> 
       </div>
       <div id="panoramaControls">
         <ul>
          <li><img id="pc-left-fast" src="../img/pc/left-fast.png" title="Schnell links drehen" alt="button_fast_left"/></li>
          <li><img id="pc-left" src="../img/pc/left.png" title="Links drehen" alt="button_left"/></li>
          <li><img id="pc-pause" src="../img/pc/pause.png" title="Stop" alt="button_stop"/></li>
          <li><img id="pc-right" src="../img/pc/right.png" title="Rechts drehen" alt="button_right"/></li>
          <li><img id="pc-right-fast" src="../img/pc/right-fast.png" title="Schnell rechts drehen" alt="button_fast_right"/></li>
        </ul>
       </div>
       <div id="gps">
        <a href="http://maps.google.com/maps/ms?msid=204881142368333592551.<%= @city.map_id %>&msa=0&ll=<%= @pano.get_latitude %>,<%= @pano.get_longitude %>&spn=0.002500,0.002500&iwloc=<%= @pano.map_id %>" title=" Aufnahme-Standort auf <%= @city.name %>-Karte anzeigen "><img src="../navpic/gps_map.png" width="20" height="15" alt="" border="0"></a> 
       </div>
     </div>      
    <div style="clear: left;">
    </div>       
    </div>  
    <div id="menue">
      <ul>
        <li><a href="index.html"><%= @city.name %> </a></li>
        <li><a href="http://www.stadtpanoramen.de/html/360_grad.html">Photo-Service </a></li>
        <li><a href="http://www.stadtpanoramen.de/html/st_kontakt_index.html">Kontakt </a></li>
      </ul>
    </div>
    <div id="thumbframe">
   <iframe width="781" height="144"  frameborder="0" marginheight="0" marginwidth="0" scrolling="no" name="archiv"  src="bildarchiv_<%= @city.get_filename %>.html#<%= @pano.get_filename %>"> </iframe>
    </div> 
    <div class="foot">&nbsp;
    </div>       
   </div>        
   </div>      
  </body>
</html>
