<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset=utf-8 />
  <title>::: Panoramen </title>
   <meta http-equiv="cache-control" content="max-age=260000">
  <meta name="copyright" content="Helmut Kölbach">  
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta name="description" content="::: - Panorama-Ansichten mit virtuellem Rundgang in voller Bildschirmbreite">
  <link rel="shortcut icon" href="../icon.ico">
  <link rel="stylesheet" type="text/css" media="screen" href="../../css/locations.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../css/allcities.css">
  <script type="text/javascript" src="../js/modernizr.js"></script>
  <script  async type="text/javascript" src="../ind.js"></script>  
</head>
<body>
  <header>
     <div class="logo">
      <a href="http://www.stadtpanoramen.de/" target="_top"><img src="../navpic/logo.png" width="150px" height="51px" alt="Stadtpanoramen" border="0"></a>
     </div>                                                   
     <div class="city">
      <a href="http://www.stadtpanoramen.de/<%= @city.get_filename %>/" target="_top"><%= @city.name %> </a>
     </div>       
     <h1>::: </h1>   
  </header>
  <div id="content">  
      <div id="menu">  
        <h2>Panoramen <%= @city.name %> A-Z</h2>
        <nav>
          <ul><% @city.panoramas.keep_if{ |p| p.published }.sort_by{ |n| n.name }.each do |pano| %><% panoname = (pano.alt_name.blank? ? (pano.name) : (pano.alt_name)) %>
            <li><a href="<%= pano.get_filename %>.html" title="<%= panoname %>"><%= pano.name %> </a></li><% end %>
          </ul>
        </nav>
      </div>            
      <div id="box">  
       <div class="g_adv_only">
        <div style="font-size: 2em;"><br>
          ::: <br>  
        </div>       
        <div style="font-size: 1.5em;">
         Adresse 
        </div> 
       </div>
      </div> 
    <div id="grid">
      <ul><% @city.panoramas.keep_if{ |p| p.published }.sort_by{ |p| p.priority }.each do |pano| %>      
        <li><% panoname = (pano.alt_name.blank? ? (pano.name) : (pano.alt_name)) %>
          <div class="wrapper">
            <a href="http://www.stadtpanoramen.de/<%= @city.get_filename %>/<%= pano.get_filename %>.html" title="<%= panoname %> <% unless pano.location.nil? %><%= pano.location + " " %><% end %>in <%= @city.name %>"><img src="http://panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/panoramas/<%= pano.get_filename %>_<%= @city.get_filename %>.jpg" alt="<%= pano.name %> <%= pano.location %> <%= @city.name %>"></a>    <% unless pano.rotation == 60 %>
            <div class="widescreen"><a href="javascript:cindex('<%= pano.get_filename %>_5c.html')" title="Panorama <%= pano.name %> in voller Breite">Widescreen</a>
            </div><% end %>
          </div><%= pano.name %>
        </li><% end %>
      </ul>
    </div>
      <div id="cont_down">
            <div id="gmap">
                  <br>
                 <a name="karte"><%= @city.name %> Panorama-Aufnahmestandorte</a>
                 <br><% mapcode = @city.mymap_id %><% if mapcode == "zIANpqu4IHeQ.kKDcOohK8htk" %>      
                <iframe id="map_frame"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=zIANpqu4IHeQ.kKDcOohK8htk&ie=UTF8&ll=<%= @city.map_coord %>&z=16&t=m"<% else %><% if mapcode == "zIANpqu4IHeQ.k6dPEXy8Scoc" %><iframe  id="map_frame"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=zIANpqu4IHeQ.k6dPEXy8Scoc&ie=UTF8&z=19&t=h"<% else %><iframe  id="map_frame"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://mapsengine.google.com/map/embed?mid=<%= @city.mymap_id %>"<% end %><% end %>></iframe><% if mapcode == "zIANpqu4IHeQ.kKDcOohK8htk" %>
                <a href="https://www.google.com/maps/d/viewer?mid=zIANpqu4IHeQ.kKDcOohK8htk&ie=UTF8&ll=<%= @city.map_coord %>&z=16&t=m"<% else %><% if mapcode == "zIANpqu4IHeQ.k6dPEXy8Scoc" %><a href="https://www.google.com/maps/d/viewer?mid=zIANpqu4IHeQ.k6dPEXy8Scoc&ie=UTF8&z=19&t=h"<% else %><a href="https://mapsengine.google.com/map/viewer?mid=<%= @city.mymap_id %>" <% end %><% end %> target="_blank"><span style="font-size:17px;"><%= @city.name %> Panorama-Karte </span></a> <br><span style="font-size:12px;">(Panoramen auf einer größeren Karte anzeigen)</span>
            </div>
           <br> 
          <div id="box-ur">
              <div class="de-map"><% if  @city.map_id == "0004df7ee473a37211d4c" or @city.map_id =="00044b138d7eba762674d" %> <% else %>  
                  INTERAKTIVE <br>DEUTSCHLANDKARTE
                   <br>
              <% if @city.map_id == "0004da425c9f05f247e60" %>
                  <iframe src="http://www.stadtpanoramen.de/karten/karte_muensterland.html" width="229" height="312" name="map" marginwidth="0"  marginheight="3" frameborder="0" scrolling="no"></iframe>
                </div>
                 <% else %>  
                    <iframe src="http://www.stadtpanoramen.de/karten/karte_<%= @city.get_filename %>.html" width="229" height="312" name="map" marginwidth="0"  marginheight="3" frameborder="0" scrolling="no"></iframe>
                  <br><a href="http://www.stadtpanoramen.de/html/logos.html#deutschlandkarte"> Deutschlandkarte einbinden <img src="../navpic/pfeil_rr.gif" alt="" width="8" height="8" border="0"> </a>       
               </div><% end %><% end %> 
          <div id="adv2-down">     
            <%= @city.ad_sec_page_down %>
            </div>
          </div> 
       </div> 
    <div class="adtext">
      <br>
    </div> 
    </div>
      <div id="fb-root"></div>
   <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>
  <footer>
    <a href="http://www.stadtpanoramen.de/html/st_copyright.html">Impressum</a>  
    <span class="contact"><a href="http://www.stadtpanoramen.de/html/kontakt.html">Kontakt</a></span>
    <div class="mail"> <a href="mailto:?subject=Tipp%20StadtPanoramen%20von%20<%= @city.name %>&body=Hallo%2c%0D%0A%0D%0Ahier%20ein%20Link%20zu%20interessanten%20Panoramabildern%20von%20<%= @city.name %>%0D%0Awww%2Estadtpanoramen%2Ede%2F<%= @city.get_filename %>/<%= @city.get_filename %>_panoramen.html%0D%0A" title="per Email versenden"><img src="../navpic/brief.gif" width="27" height="18" border="0" alt="per Email"> Seite senden </a>
    </div>
    <div class="gplus"><script type="text/javascript" src="http://apis.google.com/js/plusone.js">{lang: 'de', parsetags: 'explicit'}</script><g:plusone href="http://www.stadtpanoramen.de/<%= @city.get_filename %>/<%= @city.get_filename %>_panoramen.html" size="medium" count="false"></g:plusone><script type="text/javascript">gapi.plusone.go();</script>
    </div>
    <div class="socmed-fb">
      <div class="fb-like" data-href="http://www.stadtpanoramen.de/<%= @city.get_filename %>/<%= @city.get_filename %>_panoramen.html" data-width="265" data-layout="button" data-action="recommend" colorscheme="dark" data-show-faces="false" data-share="false"></div>      
    </div>  
  </footer>
</body>
</html>