<!doctype html>
<html lang="de">
<head>
   <meta charset=utf-8> 
   <meta http-equiv="content-language" content="de"><% panoname = (@pano.alt_name.blank? ? (@pano.name) : (@pano.alt_name)) %>
   <meta name="copyright" content="Helmut Kölbach"><% city_name = (panoname[@city.name] == @city.name) ? ("") :(@city.name) %>    
   <meta name="viewport" content="width=device-width, initial-scale=1.0"><% citytitle = @pano.district.blank? ? (city_name) : (@pano.district) %>    
   <meta name="description" content="Panoramakarte <%= panoname %> <%= @pano.location %> <%= citytitle.blank? ? ("") : ("in " + citytitle) %> mit Aufnahmestandort">
   <meta http-equiv="cache-control" content="max-age=604800">
   <link rel="stylesheet" href="../css/pano_maps.css">
   <link rel="shortcut icon" href="../icon.ico"> 
   <title>Panorama-Karte <%= panoname %> <%= @pano.location %> <%= citytitle.blank? ? ("") : (citytitle) %></title>
  </head>
  <body>
  <header>
    <div class="whead">
     <div class="logo">
      <a href="http://www.stadtpanoramen.de/"><img src="../navpic/logo.png" width="150px" height="51px" alt="Stadtpanoramen" border="0"></a>
     </div>                                                   
     <div class="city">
      <a href="http://www.stadtpanoramen.de/<%= @city.get_filename %>/<% if !@pano.district.blank? %>panoramen_<%= FileHelper.to_filename @pano.district %>.html"><%= @pano.district %><% else %><% if !@pano.location.blank? %>panoramen_<%= FileHelper.to_filename @pano.location %>.html"><%= @pano.location %><% else %>"><%= @city.name %><% end %><% end %> </a> <% if !@pano.location.blank? %>in <a href="http://www.stadtpanoramen.de/<%= @city.get_filename %>/"><%= @city.name %> </a><% end %>
     </div>                            
     <div class="cities">  
      <a href="http://www.stadtpanoramen.de/stadt/" title="Städte-Bilder Übersicht" class="city-top">Städte</a>
     <div class="service">
      <a href="http://www.stadtpanoramen.de/html/photo-service.html" title="Panoramabilder und virtuelle Rundgänge">Photo-Service </a>
     </div>   
     </div>   
     </div>          
  </header>  
  <div class="pano_map"> 
    <div class="mapscreen">
      <iframe width="95%%" height="95%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" name="goomap" src="https://www.google.com/maps/d/embed?mid=<%= @city.mymap_id %>&ie=UTF8&ll=<%= @pano.get_latitude %>,<%= @pano.get_longitude %>&z=19&<% if @city.mymap_id == "zIANpqu4IHeQ.k6dPEXy8Scoc" %>t=h<% else %>t=m<% end %>"></iframe>
    </div>  
</body>
</html>