<!doctype html>
<html lang="de">
<head>
   <meta charset=utf-8> <% panoname = (@pano.alt_name.blank? ? (@pano.name) : (@pano.alt_name)) %>
   <meta http-equiv="content-language" content="de">
   <meta http-equiv="cache-control" content="max-age=604800">
   <meta name="copyright" content="Helmut Kölbach"><% city_name = (panoname[@city.name] == @city.name) ? ("") :(@city.name) %>    
   <meta name="viewport" content="width=device-width, initial-scale=1.0"><% citytitle = @pano.district.blank? ? (city_name) : (@pano.district) %>    
   <meta name="description" content="<%= panoname %> <%= @pano.location %> <%= citytitle.blank? ? ("") : ("in " + citytitle) %> <%= (@pano.repeative == true) ? ("- Widescreen-Panorama - Ansicht in voller Breite") : ("") %>">
   <title><%= (@pano.repeative == true) ? ("360° Widescreen Panorama") : ("") %> <%= panoname %> <%= pano.location %>  <%= citytitle.blank? ? ("") : (citytitle) %></title>
   <link rel="stylesheet" href="../css/simplepanorama.css">
   <link rel="stylesheet" type="text/css" href="../css/cine_pano.css">
   <link rel="shortcut icon" href="../icon.ico">
   <link rel="alternate" hreflang="en" href="http://www.panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/<%= FileHelper.to_filename @pano.en_name %>_5c.html" />
   <script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
   <script type="text/javascript" src="../js/modernizr.js"></script>
   <script type="text/javascript" src="../js/simple-panorama.min.js"></script>
   <script type="text/javascript" src="../js/cine_pano.js"></script>
   <script>
    <!--  <% g_lat = @pano.get_latitude %> <% g_lon = @pano.get_longitude %> <% p_lat = g_lat.to_f %> <% p_lon = g_lon.to_f %>
    $(function() {
      pano = new SimplePanorama({
       'selector': '#pano',
       'imagePath': '../en/<%= FileHelper.to_filename @city.en_name %>/panoramas/<%= @pano.get_filename %>_5.jpg', 
       'modules': ['move_mousedown', 'move_swipe'], 
       'initialPos':<%= @pano.initial_center.blank? ?  "0" : (@pano.initial_center*5/3.5).to_i %>,
       'repeative': <%= @pano.repeative.blank? ?  "false" : @pano.repeative %>,
       'callback': function() {
          <%
            links = @pano.internal_links
            links.sort_by!{ |l| -l.get_area }
            links.each do |link| 
              dest = link.get_dest  
              d_lon = dest.longitude
              d_lat = dest.latitude      
              if link.is_circle
            %>
            <% n_lon = p_lon - d_lon 
               n_lat = p_lat - d_lat
               dist_lon = n_lon.abs * 71.5
               dist_lat = n_lat.abs * 111.3
               dist_ko = Math.sqrt(dist_lon*dist_lon + dist_lat*dist_lat)*1000
               dist_ko <= 2600? (dist = (dist_ko)) : (dist = (dist_ko).to_i) 
               dist >= 2600? (distance = "&nbsp; " + ((dist/1000).round(1).to_i.to_s) + "km") : (dist >= 1000? (distance = "&nbsp; " + ((dist/1000).round(1).to_s) + "km") : (dist >= 26? (distance = "&nbsp; " + (dist.round(-1).to_s) + "m") : (dist <= 10? (distance = "") : (distance = "&nbsp; " + (dist.to_i.to_s) + "m"))))
               (d_lon <1 || dist <1)? (distance = "") : ("")
            %> 
              pano.createCircleHotspot(
                "<a href='<%= dest.get_filename %>_5c.html'><span class='title'><% altnam = link.alt_name %><%= altnam.blank? ? (dest.alt_name.blank? ? dest.name : dest.alt_name) : altnam %> <%= distance %> </span></a>", 
                <%= link.path.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"intern"
              );
            <% else %> 
              pano.createRectHotspot(
                "<a href='<%= dest.get_filename %>_5c.html'><span class='title'><% altnam = link.alt_name %><%= altnam.blank? ? (dest.alt_name.blank? ? dest.name : dest.alt_name) : altnam %></span></a>", 
                <%= link.get_xywh.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"intern"
              );
            <% end %><% end %>
              <%
              extlinks = @pano.external_links
              extlinks.sort_by!{ |l| -l.get_area }
              extlinks.each do |exlink| 
              exurl = exlink.url  
              if exlink.is_circle
            %>
                pano.createCircleHotspot(
                  "<a href='<%= exurl %>'><span class='title'><%= exlink.name %> </span></a>", 
                  <%= exlink.path.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"<%= exlink.name=="Webcam" ? "extern" : "intern" %>"
                );
              <% else %>
                pano.createRectHotspot( <% v_space = exlink.get_xywh.split(",")[3].to_i %><%linkspan = (exlink.name + " </span> <span class='title_url'> ") %>
                  "<a href='<%= exurl %>'><span class='title'><% linkname = (v_space < 50 ? (linkspan) : (linkspan + "<br> ")) %><%= (exlink.name == "." ? " " : linkname + (exurl.split("/")[2])) %> </span></a>",
                  <%= exlink.get_xywh.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"extern"
                );
            <% end %> <% end %>                                 
              <%
              spots = @pano.hotspot_infos
              spots.sort_by! { |l| -l.get_area }
              spots.each do |spot|       
              if spot.is_circle 
            %>  <% if (spot.path.split(",")[0].to_i + spot.path.split(",")[1].to_i != 0) %>                 
                pano.createCircleHotspot(
                  "<span class='title'><%= spot.name %></span>", 
                  <%= spot.path.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"screen"
                );<% end %><% else %> 
                pano.createRectHotspot(
                  "<span class='title'><%= spot.name %></span>",
                  <%= spot.get_xywh.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"info"
                );<% end %>  <% if (spot.path.split(",")[0].to_i + spot.path.split(",")[1].to_i == 0) %> 
                pano.createRectHotspot(
                  "<span class='title'><%= spot.name %></span>", 
                  1,1,6000,500,"info"
                );
            <% end %> <% end %> 
                pano.showHotspots("intern",true); 
                pano.showHotspots("extern",false); 
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false);  
                var spotcss = $('.sp-hotspot');
                var linkInf = $('#linkInfos');
                var linktxt = $('.no-touch #linkinfo');
                var linktxt_url = $('#link_url');
                var t_linktxt = $('.touch #linkinfo');  
                linktxt_url.hide();  
                function int_spot() { 
                pano.showHotspots("intern",true);
                pano.showHotspots("extern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false); 
                linktxt_url.hide();
                spotcss.css({'border-width': '2px', 'border-color': 'rgba(250,250,110,1)', 'background-color': 'rgba(0,0,0,.07)'});
                $( "#linkinfo" ).text( "Virtueller Panorama-Rundgang ist aktiviert!" );
                linkInf.fadeIn(); 
                }; 
                function ext_info() { 
                pano.showHotspots("extern",true);
                pano.showHotspots("intern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false); 
                spotcss.css({'border-width': '2px', 'border-color': 'rgba(190,190,190,1)', 'background-color': 'rgba(0,0,0,.07)'});
                $( "#linkinfo" ).text( "Info-Links im Panorama sind aktiviert!" ); 
                linktxt_url.css({'opacity': 1,'color': 'rgb(210,210,210)'});   
                }; 
                function streets_info() { 
                pano.showHotspots("info",true); 
                pano.showHotspots("screen",true); 
                pano.showHotspots("extern",false);
                pano.showHotspots("intern",false);
                linktxt_url.hide();   
                spotcss.css({'color':'rgba(0,0,0,0)', 'border-width': '0', 'background-color': 'rgba(0,0,0,0)'}); 
                }; 
                function off_info() { 
                pano.showHotspots("intern",false);
                pano.showHotspots("extern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false);           
                };                        
            <% unless @pano.internal_links.empty? %> 
                $('#hotsp').click(function() { 
                  int_spot();
                  $('#hotsp').hide();       
                  $('#hotsp_hide').show();
                  $('#off').hide();   
                  $('#linkinfo').css({'opacity': 1,'color': 'rgb(250,250,90)'}); 
                });                        
                $('#hotsp_hide').click(function() { 
                pano.showHotspots("intern",false);
                $('#hotsp').show();       
                $('#hotsp_hide').hide();   
                linkInf.hide();   
                });       <% end %>  
            <% unless @pano.external_links.empty? %> 
                $('#ext').click(function() { 
                  ext_info();    
                <% links = @pano.internal_links
                    links.first(1).each do |link| 
                    if link %>
                $('#hotsp').show();       
                $('#hotsp_hide').hide(); <% end %><% end %>    
                $('#off').show(); 
                $('#linkinfo').css({'opacity': 1,'color': 'rgb(210,210,210)'}); 
                linktxt_url.css({'margin-left': '12px','opacity': 1,'color': 'rgb(210,210,210)'});  
                linkInf.fadeIn(); 
                });     <% end %>   
            <% unless @pano.hotspot_infos.empty? %>  
                $('#streets').click(function() { 
                  streets_info();   
                <% links = @pano.internal_links
                    links.first(1).each do |link| 
                    if link %>
                  $('#hotsp').show();       
                  $('#hotsp_hide').hide(); <% end %><% end %> 
                  linktxt_url.css({'margin-left': '0'}); 
                  $('#linkinfo').show();                              
                  $( t_linktxt ).text( "Straßen im Panorama antippen um Straßennamen anzuzeigen!" );
                  t_linktxt.css({'opacity': 1,'color': 'rgb(210,210,210)'}); 
                  $('#off').show(); 
                  $( linktxt ).text( "Straßennamen mit Mauszeiger im Panorama anzeigen!" );
                  linktxt.css({'opacity': 1,'color': 'rgb(210,210,210)'}); 
                  linkInf.fadeIn(); 
                });      <% end %> 
                $('#off').click(function() { 
                  off_info();
               <% links = @pano.internal_links
                  links.first(1).each do |link| 
                  if link %>
                  $('#hotsp').show();       
                  $('#hotsp_hide').hide(); <% end %><% end %> 
                  $('#off').hide();    
                  linkInf.hide(); 
                }); 
                $('.sp-hotspot').on('mouseenter', function(event) {
                  spotcss.css({'cursor': 'pointer'});
                  linktxt.text($(event.target).find('.title').text());
                  linkInf.fadeIn();
                });
                $('.sp-hotspot').on('mouseleave', function() {
                  linkInf.hide();
                }); 
                $('.sp-rect').on('mouseenter', function(event) {
                  linktxt_url.text($(event.target).find('.title_url').text());
                  linktxt_url.fadeIn();
                  spotcss.css({'border-color': 'rgba(190,190,190,1)'});
                });
                $('.sp-rect').on('mouseleave', function(event) {
                  linktxt_url.hide();
                });
                $('.sp-hotspot').on('click', function(event) {  
                spotxt = $(this).html();               
                startpos = spotxt.indexOf('href="'); 
                endpos = spotxt.indexOf('"><span');                     
                spotlink = $(this).html().slice(startpos+6 ,endpos);  
                  if (startpos != -1){               
                  location.href = spotlink;  
                  } 
                  else {
                    t_linktxt.text($(event.target).find('.title').text());
                    }     
                });
                $('.sp-container').on("touchend", function() {
                  if (pano.speed.x < 0){
                  pano.setTargetSpeed(-0.1);
                  button(bus,Bildrr2); tbutton(bus_t,Bildrr2);
                    }                
                  else {
                  pano.setTargetSpeed(0.1)
                  button(bus,Bildll2); tbutton(bus_t,Bildll2);
                  }
                });
           }
        }); 
         $("#pano").click(function() { 
          button(bus,Bildstop2); tbutton(bus_t,Bildstop2);
        });           
        <%= @pano.rotation == 0 ? "" : @pano.rotation == -20 ? "pano.setTargetSpeed(0.05); button(bus,Bildl2); tbutton(bus_t,Bildl2);" : "pano.setTargetSpeed(-0.05); button(bus,Bildr2); tbutton(bus_t,Bildr2);" %>
        <% if not @pano.repeative %>  
        var lastX = undefined;
        setInterval(function() {
          if(lastX == pano.pos.x) {
            pano.setTargetSpeed(-pano.targetSpeed.x);
            butsign = window.document.bus.src.lastIndexOf("-"); 
            butscr = window.document.bus.src.charAt(butsign+1);  
            butscr2 = window.document.bus.src.charAt(butsign+2); 
            if(butscr != "s") { 
              if(butscr == "r") {
               if(butscr2 == "r") {
                  window.document.bus.src = "../navpic/taste-ll2.jpg"; 
                  window.document.bus_t.src = "../navpic/taste-ll2.jpg";              
               }
               else
                window.document.bus.src = "../navpic/taste-l2.jpg";
                window.document.bus_t.src = "../navpic/taste-l2.jpg";              
              }
              else
               if(butscr2 == "l") {
                  window.document.bus.src = "../navpic/taste-rr2.jpg"; 
                  window.document.bus_t.src = "../navpic/taste-rr2.jpg";              
               }
               else
                window.document.bus.src = "../navpic/taste-r2.jpg"; 
                window.document.bus_t.src = "../navpic/taste-r2.jpg";         
            }   
          }
          lastX = pano.pos.x;
        }, 1000);<% end %>
      }); 
   //-->
  </script>
</head>
<body>
  <header>
    <div class="whead">
       <div id="top">
         <div class="logo">
          <a href="http://www.stadtpanoramen.de/" target="_top"><img src="../navpic/logo.png"  width="124" height="51" alt="Stadtpanoramen" border="0"></a>
         </div>                     
         <div id="city">
          <a href="http://www.stadtpanoramen.de/<%= @city.get_filename %>/<% if !@pano.district.blank? %>panoramen_<%= FileHelper.to_filename @pano.district %>.html"><%= @pano.district %><% else %><% if !@pano.location.blank? %>panoramen_<%= FileHelper.to_filename @pano.location %>.html"><%= @pano.location %><% else %>"><%= @city.name %><% end %><% end %> </a><% if !@pano.location.blank? %>in <a href="http://www.stadtpanoramen.de/<%= @city.get_filename %>/" target="_top"><%= @city.name %> </a><% end %>
         </div>  
         <div id="close">
           <a href="javascript:window.close()"><img src="../navpic/close.png" alt="" border="0"></a>
          </div>                         
         <div id="cities">  
            <a href="http://www.stadtpanoramen.de/stadt/" title="Städte-Bilder Übersicht" class="city-top">Städte</a>
           <div class="service">
            <a href="http://www.stadtpanoramen.de/html/photo-service.html" title="Panoramabilder und virtuelle Rundgänge">Photo-Service </a>
           </div>   
         </div>    
        </div>      
     </div>           
  </header>
 <div id="all"> 
    <div id="panoramaWrapper">
        <div id="rahmen_txt">
          <%= panoname %> <%= @pano.location %> <%= citytitle.blank? ? ("") : ("- " + citytitle) %>
        </div>
     <div class="rahmen_w">
      <div class="rahmen_wol">
      </div>
      <div class="rahmen_wor">
      </div>
      <div class="rahmen_wom"><img src="../navpic/pan.gif" alt="" width="8" height="15">   
      </div>
     </div>
     <div id="screen">
     <noscript style="color:#ff6666;font-size:20pt"><br>Das Panorama benötigt <a style="color:#ff6666;font-size:20pt;text-decoration:underline" href="http://ecosia.org/search.php?q=javascript+aktivieren">Javascript-Aktivierung! </a>
     <img id="noscr" src="../en/<%= FileHelper.to_filename @city.en_name %>/panoramas/<%= @pano.get_filename %>_5.jpg">
     </noscript>      
     <div id="pano">
         <div class="loadcircle"> 
           <img src="../navpic/load.gif">
         </div>
     </div>
        <div id="linkInfos">   
         <div id="linkinfo">
         </div>     
         <div id="link_url">
         </div>     
       </div>     
    </div>  
     <div class="rahmen_wu">
      <div class="rahmen_wul"><a href="javascript:end()" class="back"><img src="../navpic/pfeil_r.gif" alt="" width="8" height="8" border="0"> zurück</a>
      </div>
      <div class="rahmen_wur"><a  href="http://www.stadtpanoramen.de/html/st_kontakt_index.html" class="foto">Panorama: H. Kölbach</a>
      </div>
      <div class="rahmen_wum"><% unless pano.date_of_recording.year.to_i <= 1999 %><%= pano.get_german_month %><% end %>
      </div>
     </div>         
     <div class="all_buttons">   
     <div class="buttons">  
      <div id="hotsp" class="but-l" style="<%= @pano.internal_links.empty? ? "" : " display:block;" %>"> 
       <img src="../navpic/hotspot.jpg" class="albut" width="18" height="15" title=" Panorama-Tour einblenden " alt="" border="0" name="hotspotname" onmouseleave="tauschhot(hotspotname,hot)" onmouseover="tauschhot(hotspotname,hot_h)">
      </div>
      <div id="hotsp_hide" class="but-l"> 
        <img src="../navpic/hotspot_hide.jpg" class="albut" width="18" height="15" title=" Panorama-Tour ausblenden " alt="" border="0">
      </div>   
      <div id="ext" class="but-l" style="<%= @pano.external_links.empty? ? "" : " display:block;" %>"> 
       <img src="../navpic/infos.jpg" class="albut" width="18" height="15" title=" Info-Links einblenden " alt="" border="0" name="infosname" onmouseleave="tauschin(infosname,infos)" onmouseover="tauschin(infosname,infos_h)">
      </div>  
      <div id="streets" class="but-l" style="<%= @pano.hotspot_infos.empty? ? "" : " display:block;" %>">
       <img src="../navpic/street.jpg" class="albut" width="18" height="15" title=" Straßennamen einblenden " alt="" border="0" name="streetname" onmouseleave="tauschstr(streetname,street)" onmouseover="tauschstr(streetname,street_h)">
      </div>    
      <div id="off" class="but-l">
       <img src="../navpic/off.jpg" class="albut" width="18" height="15" name="offname" title=" Infos im Bild ausblenden " alt="" border="0" onmouseleave="tauschoff(offname,off)" onmouseover="tauschoff(offname,off_h)">
      </div>    
     </div>
    <div class="noj_rotatbut" <%= @pano.rotation == 0? ' style="visibility:hidden"' : "" %>>
     <img src="../navpic/taste-lll.jpg" class="rotbut" alt="" width="26" height="13"><img src="../navpic/tastenaus.jpg" class="rotmbut" alt="" width="205" height="13" border="0" name="bus" usemap="#busMap"><img src="../navpic/taste-rrr.jpg" class="rotbut" alt="" width="22" height="13" border="0">
    </div> 
    <div class="touch_rotatbut" <%= @pano.rotation == 0? ' style="visibility:hidden"' : "" %>>
     <img src="../navpic/taste-lll.jpg" class="rotbut" alt="" width="39" height="20"><img src="../navpic/tastenaus.jpg" alt="" width="307" height="20" border="0" name="bus_t" usemap="#tbusMap"><img src="../navpic/taste-rrr.jpg" alt="" width="39" height="20" border="0">
    </div> 
    <div class="rbuttons">           
        <%= @pano.hdpano==true ? '<div id="full"><img src="../navpic/fullscreen_d.jpg" class="albut" width="18" height="15"  title="Panorama in Vollbild-Ansicht" alt="Vollbild-Button" border="0" name="vbname" onmouseleave="tauschvb(vbname,vb)" onmouseover="tauschvb(vbname,vb_h)" ></div>' : ' ' %>
      <div class="gps-but"<%= @pano.get_latitude == "0.000000" ? " style='visibility:hidden'" : "" %>>
       <a href="karte_<%= @pano.get_filename %>.html" title="<%= @city.name %>-Karte mit Aufnahme-Standort <%= panoname %>"><img src="../navpic/gps.jpg" class="albut" width="18" height="15" alt="" border="0" name="gpsname" onmouseleave="tauschgps(gpsname,gps)" onmouseover="tauschgps(gpsname,gps_h)" ></a>
      </div>
     </div>
   </div> 
   <div id="foot">   
    <div id="f_left"> 
      <a href="mailto:?subject=StadtPanorama%20<%= panoname %> <%= @pano.location %> <%= citytitle.blank? ? ("") : ("- " + citytitle) %>&body=Hallo%2c%0D%0A%0D%0Ahier%20ein%20interessantes%20Panorama%20von%20<%= @city.name %>%0D%0Awww%2Estadtpanoramen%2Ede%2F<%= @city.get_filename %>%2F<%= @pano.get_filename %>_5c%2Ehtml%0D%0A" title="mit eigenem Emailprogramm senden"><img src="../navpic/brief.gif" width="27" height="18" border="0" alt="Email"> Panorama senden </a>
    </div>
    <div id="f_mid">
      &nbsp;
    </div>
    <div id="f_right">
      &nbsp;
    </div>
   </div>
     <map name="busMap">  
      <area shape="rect" coords="0,0,41,13" href="javascript:ll()" title="Schnell links drehen"  alt="" onMouseUp="button(bus,Bildll2)" onMouseDown="button(bus,Bildll)">
      <area shape="rect" coords="42,0,81,13" href="javascript:l()" title="Links drehen"  alt="" onMouseUp="button(bus,Bildl2)" onMouseDown="button(bus,Bildl)">
      <area shape="rect" coords="82,0,123,13" href="javascript:stop()" title="Stop"  alt="" onMouseUp="button(bus,Bildstop2)" onMouseDown="button(bus,Bildstop)">
      <area shape="rect" coords="124,0,164,13" href="javascript:r()" title="Rechts drehen"  alt="" onMouseUp="button(bus,Bildr2)" onMouseDown="button(bus,Bildr)">
      <area shape="rect" coords="165,0,210,13" href="javascript:rr()" title="Schnell rechts drehen"  alt="" onMouseUp="button(bus,Bildrr2)"  onMousedown="button(bus,Bildrr)">
      </map>  
     <map name="tbusMap">
      <area shape="rect" coords="0,0,62,20" href="javascript:ll()" alt="" onclick="tbutton(bus_t,Bildll2)">
      <area shape="rect" coords="63,0,122,20" href="javascript:l()" alt="" onclick="tbutton(bus_t,Bildl2)">
      <area shape="rect" coords="123,0,184,20" href="javascript:stop()" alt="" onclick="tbutton(bus_t,Bildstop2)">
      <area shape="rect" coords="185,0,246,20" href="javascript:r()" alt="" onclick="tbutton(bus_t,Bildr2)">
      <area shape="rect" coords="247,0,307,20" href="javascript:rr()" alt="" onclick="tbutton(bus_t,Bildrr2)">
     </map>     
   </div> 
  </div>
</body>
</html>