<!doctype html>
<html>
<head>
  <meta charset=utf-8> 
  <meta name="description" content="<% panoname = (@pano.alt_name.blank? ? (@pano.name) : (@pano.alt_name)) %> <%= panoname %> <%= pano.location %> in <%= @city.name %> <%= @pano.district %> - <%= (@pano.repeative == true) ? ("360° Widescreen-Panorama") : ("Widescreen-Panorama") %>">
  <meta name="copyright" content="H. Kölbach">   
  <meta name="viewport" content="width=device-width, maximum-scale=1">   
  <title><%= @pano.name %> <%= @city.name %> </title>
  <link rel="stylesheet" href="../css/simple-panorama.min.css">
  <link rel="stylesheet" type="text/css" href="../css/cinepano.css">
  <link rel="shortcut icon" href="../icon.ico">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="../js/modernizr.js"></script>
  <script type="text/javascript" src="../js/simple-panorama.min.js"></script>
  <script type="text/javascript" src="../js/cine_pano.js"></script>
  <script>
    <!--  <% g_lat = @pano.get_latitude %> <% g_lon = @pano.get_longitude %> <% p_lat = g_lat.to_f %> <% p_lon = g_lon.to_f %>
    $(function() {
      pano = new SimplePanorama({
       'selector': '#pano',
       'imagePath': '../en/<%= FileHelper.to_filename @city.en_name %>/panoramas/<%= @pano.get_filename %>_5.jpg', 
       'modules': ['move_mousedown', 'move_swipe'], 
       'initialPos':<%= @pano.initial_center.blank? ?  "0" : (@pano.initial_center*5/3.5).to_i %>,
       'repeative': <%= @pano.repeative.blank? ?  "false" : @pano.repeative %>,
       'callback': function() {
          <%
            links = @pano.internal_links
            links.sort_by! { |l| l.get_area }
            links.each do |link| 
              dest = link.get_dest  
              d_lon = dest.longitude
              d_lat = dest.latitude      
              if link.is_circle
            %>
            <% n_lon = p_lon - d_lon 
               n_lat = p_lat - d_lat
               dist_lon = n_lon.abs * 71.5
               dist_lat = n_lat.abs * 111.3
               dist_ko = Math.sqrt(dist_lon*dist_lon + dist_lat*dist_lat)*1000
               dist_ko <= 2600? (dist = (dist_ko)) : (dist = (dist_ko).to_i) 
               dist >= 1000? (distance = "- " + ((dist/1000).round(1).to_s) + "km") : (dist >= 26? (distance = "- " + (dist.round(-1).to_s) + "m") : (distance = "- " + (dist.to_i.to_s) + "m"))
               (d_lon <1 || dist <1)? (distance = "") : ("")
            %> 
              pano.createCircleHotspot(
                "<a href='<%= dest.get_filename %>_5c.html'><span class='title'><% altnam = link.alt_name %><%= altnam.blank? ? (dest.alt_name.blank? ? dest.name : dest.alt_name) : altnam %> <%= distance %> </span></a>", 
                <%= link.path.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"intern"
              );
            <% else %> 
              pano.createRectHotspot(
                "<a href='<%= dest.get_filename %>_5c.html'><span class='title'><% altnam = link.alt_name %><%= altnam.blank? ? (dest.alt_name.blank? ? dest.name : dest.alt_name) : altnam %></span></a>", 
                <%= link.get_xywh.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"intern"
              );
            <% end %><% end %>
              <%
              extlinks = @pano.external_links
              extlinks.sort_by! { |l| l.get_area }
              extlinks.each do |exlink| 
              exurl = exlink.url  
              if exlink.is_circle
            %>
                pano.createCircleHotspot(
                  "<a href='<%= exurl %>'><span class='title'><%= exlink.name %> </span></a>", 
                  <%= exlink.path.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"<%= exlink.name=="Webcam" ? "extern" : "intern" %>"
                );
              <% else %>
                pano.createRectHotspot(
                  "<a href='<%= exurl %>'><span class='title'><% linkname = (exlink.name + " - Info Link (") %><% camname = ("Webcam (") %><%= (exlink.name == "." ? camname : linkname) + (exurl.split("/")[2]) + ")" %></span></a>",
                  <%= exlink.get_xywh.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"extern"
                );
            <% end %> <% end %>                                 
              <%
              spots = @pano.hotspot_infos
              spots.sort_by! { |l| -l.get_area }
              spots.each do |spot|       
              if spot.is_circle   
            %>           
                pano.createCircleHotspot(
                  "<span class='title'><%= spot.name %></span>", 
                  <%= spot.path.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"screen"
                );
            <% else %>
                pano.createRectHotspot(
                  "<span class='title'><%= spot.name %></span>", 
                  <%= spot.get_xywh.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"info"
                );
            <% end %> <% end %>   
                pano.showHotspots("intern",true); 
                pano.showHotspots("extern",false); 
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false);                    
                
                var spotcss = $('html.no-touch .sp-hotspot');
                var linkcss = $('html.no-touch #linkInfo');
                var spottouchcss = $('html.touch .sp-hotspot');
                var linktouchcss = $('html.touch #linkInfo');
            <% unless @pano.internal_links.empty? %> 
                $('#hotsp').click(function() { 
                pano.showHotspots("intern",true);
                pano.showHotspots("extern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false);
                spotcss.css({'border-width': '2px', 'border-color': 'rgba(250,250,50,1)', 'background-color': 'rgba(0,0,0,.15)'}); 
                spottouchcss.css({'border-width': '3px', 'border-color': 'rgba(210,210,110,1)', 'background-color': 'rgba(0,0,0,0)'});
                linkcss.css({'color': 'rgb(250,250,50)'});  
                $('#hotsp').hide();       
                $('#hotsp_hide').show();
                $('#off').hide();         
                }); 
                              
                $('#hotsp_hide').click(function() { 
                pano.showHotspots("intern",false);
                $('#hotsp').show();       
                $('#hotsp_hide').hide();  
                });   
            <% end %>                     
            <% unless @pano.external_links.empty? %> 
                $('#ext').click(function() { 
                pano.showHotspots("extern",true);
                pano.showHotspots("intern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false); 
                spotcss.css({'border-width': '2px', 'border-color': 'rgba(190,190,190,1)', 'background-color': 'rgba(0,0,0,.15)'}); 
                spottouchcss.css({'border-width': '3px', 'border-color': 'rgba(210,210,210,1)', 'background-color': 'rgba(0,0,0,.3)'});    
                linkcss.css({'color': 'rgb(210,210,210)'});   <% links = @pano.internal_links
                    links.first(1).each do |link| 
                    if link %>
                $('#hotsp').show();       
                $('#hotsp_hide').hide(); 
                <% end %><% end %>   
                $('#off').show();     
                }); 
            <% end %>                     
            <% unless @pano.hotspot_infos.empty? %>   
                $('#streets').click(function() { 
                pano.showHotspots("info",true); 
                pano.showHotspots("screen",true); 
                pano.showHotspots("extern",false);
                pano.showHotspots("intern",false);
                spotcss.css({'border-width': '0px', 'background-color': 'rgba(0,0,0,0)'}); 
                spottouchcss.css({'border-width': '0px', 'background-color': 'rgba(0,0,0,0)'});
                linkcss.css({'color': 'rgb(210,210,210)'});
                linktouchcss.css({'color': 'rgb(210,210,210)'});   <% links = @pano.internal_links
                    links.first(1).each do |link| 
                    if link %>
                $('#hotsp').show();       
                $('#hotsp_hide').hide(); 
                <% end %><% end %>  
                $('#off').show();      
                }); 
            <% end %>                     
                
                $('#off').click(function() { 
                pano.showHotspots("intern",false);
                pano.showHotspots("extern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false);   <% links = @pano.internal_links
                    links.first(1).each do |link| 
                    if link %>
                $('#hotsp').show();       
                $('#hotsp_hide').hide(); 
                <% end %><% end %>     
                $('#off').hide();     
                });  
              
              var infoElem = $('#linkInfo');
              infoElem.css({'opacity': 0});
              $('#pano .sp-hotspot').on('mouseenter', function(event) {
                infoElem.text($(event.target).find('.title').text());
                infoElem.css({'opacity': 1});
              });
              $('#pano .sp-hotspot').on('mouseleave', function() {
                infoElem.css({'opacity': 0});
              });          
              imgwidth=pano.img.width;
              if (imgwidth != 0) {
                $('#panoramaWrapper').css({"max-width": imgwidth});  
                $('#top').css({"max-width": imgwidth, "margin": "0 auto"});  
              }
         }
      });   
         $("#pano").mousedown(function() { 
          button(bus,Bildstop2)
        });           
        <%= @pano.rotation == 0 ? "" : @pano.rotation == -20 ? "pano.setTargetSpeed(0.05); button(bus,Bildl2);" : "pano.setTargetSpeed(-0.05); button(bus,Bildr2);" %>  
      }); 
   //-->
  </script>
</head>
<body>
  <header>
     <div id="top">
       <div class="logo">
        <a href="http://www.stadtpanoramen.de/"><img src="../navpic/logo.png" width="150px" height="51px" alt="Stadtpanoramen"></a>
       </div>                                                   
       <div class="city">
        <a href="http://www.stadtpanoramen.de/<%= @city.get_filename %>/<% if !@pano.district.blank? %>panoramen_<%= FileHelper.to_filename @pano.district %>.html"><%= @pano.district %><% else %><% if !@pano.location.blank? %>panoramen_<%= FileHelper.to_filename @pano.location %>.html"><%= @pano.location %><% else %>"><%= @city.name %><% end %><% end %> </a>
       </div>  
       <div id="close">
         <a href="javascript:window.close()"><img src="../navpic/close.png" alt=""></a>
       </div>                            
       <div class="cities">  
          <a href="http://www.stadtpanoramen.de/stadt/" title="Städte-Bilder Übersicht" class="city-top">Städte</a>
         <div class="service">
          <a href="http://www.stadtpanoramen.de/html/photo-service.html" title="Panoramabilder und virtuelle Rundgänge">Photo-Service </a>
         </div>   
       </div>    
     </div>          
  </header>
 <div id="all"> 
    <div id="panoramaWrapper">
     <div class="rahmen_w">
      <div class="rahmen_wol">
      </div>
      <div class="rahmen_wor">
      </div>
      <div class="rahmen_wom"><img src="../navpic/pan.gif" alt="" width="8" height="15">        
        <%= panoname %> - <%= @pano.location %> <%= @city.name %> <%= @pano.district %>
      </div>
     </div>
     <div id="screen">
     <noscript style="color:#ff6666;font-size:20pt"><br>Das Panorama benötigt <a style="color:#ff6666;font-size:20pt;text-decoration:underline" href="http://ecosia.org/search.php?q=javascript+aktivieren">Javascript-Aktivierung! </a>
     <img id="noscr" src="../en/<%= FileHelper.to_filename @city.en_name %>/panoramas/<%= @pano.get_filename %>_5.jpg">
     </noscript>
     <div id="pano"> </div>
     <div id="linkInfo">
        <div class="linkspace"> </div>
     </div>     
    </div>  
     <div class="rahmen_wu">
      <div class="rahmen_wul"><a href="javascript:end()" class="back"><img src="../navpic/pfeil_r.gif" alt="" width="8" height="8"> zurück</a>
      </div>
      <div class="rahmen_wur"><a  href="http://www.stadtpanoramen.de/html/st_kontakt_index.html" class="foto">Panorama: H. Kölbach</a>
      </div>
      <div class="rahmen_wum"><% unless pano.date_of_recording.year.to_i <= 1999 %><%= pano.get_german_month %><% end %>
      </div>
     </div>         
     <div class="all_buttons">   
     <div class="noj_buttons">  
      <div id="hotsp" style="width: 20%; height: 15px; float: left; cursor:pointer;<%= @pano.internal_links.empty? ? " display:none;" : "" %>"> 
       <img src="../navpic/hotspot.jpg" width="18" height="15" title=" Panorama-Tour einblenden " alt="" border="0" name="hotspotname" onmouseleave="tauschhot(hotspotname,hot)" onmouseover="tauschhot(hotspotname,hot_h)">
      </div>
      <div id="hotsp_hide" style="width: 20%; height: 15px; float: left; cursor:pointer;"> 
        <img src="../navpic/hotspot_hide.jpg" width="18" height="15" title=" Panorama-Tour ausblenden " alt="" border="0">
      </div>   
      <div id="ext" style="width: 20%; height: 15px; float: left; cursor:pointer;<%= @pano.external_links.empty? ? " display:none;" : "" %>"> 
       <img src="../navpic/infos.jpg" width="18" height="15" title=" Info-Links einblenden " alt="" border="0" name="infosname" onmouseleave="tauschin(infosname,infos)" onmouseover="tauschin(infosname,infos_h)">
      </div>  
      <div id="streets" style="width: 20%; height: 15px; float: left; cursor:pointer;<%= @pano.hotspot_infos.empty? ? " display:none;" : "" %>">
       <img src="../navpic/street.jpg" width="18" height="15" title=" Straßennamen einblenden " alt="" border="0" name="streetname" onmouseleave="tauschstr(streetname,street)" onmouseover="tauschstr(streetname,street_h)">
      </div>    
      <div id="off" style=" width: 20%; height: 15px; float:left; cursor:pointer; display:none;">
       <img src="../navpic/off.jpg" width="18" height="15" name="offname" title=" Infos im Bild ausblenden " alt="" border="0" onmouseleave="tauschoff(offname,off)" onmouseover="tauschoff(offname,off_h)">
      </div>    
     </div>
    <div class="gps">  
      <div style="width:20%<%= @pano.get_latitude == "0.000000" ? "; visibility:hidden" : "" %>">
       <a href="http://maps.google.com/maps/ms?msid=204881142368333592551.<%= @city.map_id %>&msa=0&ll=<%= @pano.get_latitude %>,<%= @pano.get_longitude %>&spn=0.002500,0.002500&iwloc=<%= @pano.map_id %>" title=" Aufnahme-Standort auf <%= @city.name %>-Karte anzeigen "><img src="../navpic/gps.jpg" width="18" height="15" alt="" border="0" name="gpsname" onmouseleave="tauschgps(gpsname,gps)" onmouseover="tauschgps(gpsname,gps_h)" ></a>
      </div>
     </div>
    <div class="noj_rotatbut" <%= @pano.rotation == 0? ' style="visibility:hidden"' : "" %>>
     <img src="../navpic/taste-lll.png" alt="" width="26" height="13"><img src="../navpic/tastenaus.jpg" alt="" width="205" height="13" border="0" name="bus" usemap="#busMap"><img src="../navpic/taste-rrr.png" alt="" width="22" height="13" border="0">
    </div> 
   </div>  
     <map name="busMap"><% if @pano.repeative %>  
      <area shape="rect" coords="0,0,41,13" href="javascript:ll()" title="Schnell links drehen"  alt="" onMouseUp="button(bus,Bildll2)" onMouseDown="button(bus,Bildll)">
      <area shape="rect" coords="42,0,81,13" href="javascript:l()" title="Links drehen"  alt="" onMouseUp="button(bus,Bildl2)" onMouseDown="button(bus,Bildl)">
      <area shape="rect" coords="82,0,123,13" href="javascript:stop()" title="Stop"  alt="" onMouseUp="button(bus,Bildstop2)" onMouseDown="button(bus,Bildstop)">
      <area shape="rect" coords="124,0,164,13" href="javascript:r()" title="Rechts drehen"  alt="" onMouseUp="button(bus,Bildr2)" onMouseDown="button(bus,Bildr)">
      <area shape="rect" coords="165,0,210,13" href="javascript:rr()" title="Schnell rechts drehen"  alt="" onMouseUp="button(bus,Bildrr2)"  onMousedown="button(bus,Bildrr)">
     <% else %>
      <area shape="rect" coords="0,0,41,13" href="javascript:ll()" title="Schnell links drehen"  alt="" onMouseUp="button(bus,Bildll)" onMouseDown="button(bus,Bildll2)">
      <area shape="rect" coords="42,0,81,13" href="javascript:l()"  title="Links drehen" alt="" onMouseUp="button(bus,Bildl)" onMouseDown="button(bus,Bildl2)">
      <area shape="rect" coords="82,0,123,13" href="javascript:stop()" title="Stop" alt="" onMouseUp="button(bus,Bildstop)" onMouseDown="button(bus,Bildstop2)">
      <area shape="rect" coords="126,0,166,13" href="javascript:r()"  title="Rechts drehen" alt="" onMouseUp="button(bus,Bildr)" onMouseDown="button(bus,Bildr2)">
      <area shape="rect" coords="165,0,210,13" href="javascript:rr()"  title="Schnell rechts drehen" alt="" onMouseUp="button(bus,Bildrr)"  onMousedown="button(bus,Bildrr2)">
      <% end %></map>      
   <noscript style="color:#ff6666;font-size:20pt"><br>Das Panorama benötigt <a style="color:#ff6666;font-size:20pt;text-decoration:underline" href="http://ecosia.org/search.php?q=javascript+aktivieren">Javascript-Aktivierung! </a> </noscript>     
   </div> 
  <div class="center_full">
    <div id="full">
     <%= @pano.hdpano==true ?  '<img src="../navpic/fullscreen.gif" title="Panorama in Vollbild-Ansicht" alt="Fullscreen">' : ' ' %>
    </div>
  </div>
  </div>
  <footer>  
    <div id="f_left"> 
      <a href="mailto:?subject=StadtPanorama%20<%= panoname %> <%= @pano.location %> <%= @city.name %> <%= @pano.district %>&body=Hallo%2c%0D%0A%0D%0Ahier%20ein%20interessantes%20Panorama%20von%20<%= @city.name %>%0D%0Awww%2Estadtpanoramen%2Ede%2F<%= @city.get_filename %>%2F<%= @pano.get_filename %>_5c%2Ehtml%0D%0A%0D%0A%0D%0A%2A%2A%2A%2A%2A%2A%2A%2A%0D%0AA%20n%20l%20e%20i%20t%20u%20n%20g%0D%0AEmailadresse%20des%20Empf%C3%A4ngers%20eingeben%2c%0D%0Aden%20Text%20nach%20Belieben%20erg%C3%A4nzen%20und%0D%0Adiesen%20Anleitungsabschnitt%20vor%20dem%20Absenden%20entfernen%2E" title="per Email versenden"><img src="../navpic/brief.gif" width="27" height="18" border="0" alt="per Email"> Panorama weiterempfehlen</a>
    </div>
    <div id="f_mid">
      <a href="javascript:location.reload()"> Zur Normalansicht <img src="../navpic/pfeil_rr.gif" alt="" width="8" height="8"></a>
    </div>
    <div id="f_right">
      <a href="http://www.stadtpanoramen.de/html/kontakt.html">Kontakt</a>
    </div>
  </footer>
</body>
</html>