<% # coding: utf-8 
%>

<% unless @city.new_record? %>
  <a href="<%= city_path(@city) %>">Panoramen</a>
<% end %>
<h1>Bearbeiten: <%= @city.name %></h1>

<div id="sections">
  <ul>
    <li><a href="#tab-fields">Datensatz</a></li>
  </ul>
  
  <div id="tab-fields" class="section">
    <%= form_for(@city) do |f| %>
      <div class="field">
        <%= f.label :name, "Name"  %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :en_name, "Englischer Name" %>
        <%= f.text_field :en_name %>
      </div>
      <div class="field">
        <%= f.label :map_id, "G-Map City-ID" %>
        <%= f.text_field :map_id %>
      </div>
      <div class="field">
        <%= f.label :map_coord, "G-Map Koordinaten" %>
        <%= f.text_field :map_coord, :size => 70 %>
      </div>
      <div class="field">
        <%= f.label :quiz, "Quiz-Link" %>
        <%= f.check_box :quiz %>
      </div>
      <div class="field">
        <%= f.label :linktipps, "Linktips"  %>
        <%= f.text_area :linktips, :cols => 199 %>
      </div>
      <div class="field">
        <%= f.label :ad_mobile_banner, "Mobile-Banner Stadtübersicht top"  %>
        <%= f.text_area :ad_mobile_banner, :cols => 75, :rows => 12 %>
      </div>
      <div class="actions">
        <%= f.submit "Speichern" %>
      </div>
      <div class="field">
        <%= f.label :ad_more_first_page_top, "Weitere Werbung Stadtübersicht top"  %>
        <%= f.text_area :ad_more_first_page_top, :cols => 75, :rows => 12 %>
      </div>
      <div class="field">
        <%= f.label :citytext, "Citytext"  %>
        <%= f.text_area :citytext, :cols => 75, :rows => 12 %>
      </div>
      <div class="field">
        <%= f.label :ad_first_page_down, "Werbung Stadtübersicht unten"  %>
        <%= f.text_area :ad_first_page_down, :cols => 75, :rows => 12 %>
      </div>
      <div class="field">
        <%= f.label :ad_sec_page_top, "Werbung 2.Stadtübersicht top"  %>
        <%= f.text_area :ad_sec_page_top, :cols => 75, :rows => 12 %>
      </div>
      <div class="field">
        <%= f.label :ad_sec_page_down, "Werbung 2.Stadtübersicht unten"  %>
        <%= f.text_area :ad_sec_page_down, :cols => 75, :rows => 12 %>
      </div>
      <div class="field">
        <%= f.label :html_content, "Werbung Pano-Seiten"  %>
        <%= f.text_area :html_content, :cols => 75, :rows => 12 %>
      </div>
      <div class="field">
        <%= f.label :en_ad_mobile_banner, "En-Mobile-Banner (Stadtübersicht top)"  %>
        <%= f.text_area :en_ad_mobile_banner, :cols => 75, :rows => 12 %>
      </div>
      <div class="field">
        <%= f.label :en_ad_first_page_top, "En-Werbung Stadtübersicht top"  %>
        <%= f.text_area :en_ad_first_page_top, :cols => 75, :rows => 12 %>
      </div>
      <div class="field">
        <%= f.label :en_ad_more_first_page_top, "En-Weitere Werbung Stadtübersicht top"  %>
        <%= f.text_area :en_ad_more_first_page_top, :cols => 75, :rows => 12 %>
      </div>
      <div class="actions">
        <%= f.submit "Speichern" %>
      </div>
      <div class="field">
        <%= f.label :en_ad_first_page_down, "En-Werbung Stadtübersicht unten"  %>
        <%= f.text_area :en_ad_first_page_down, :cols => 75, :rows => 12 %>
      </div>
      <div class="field">
        <%= f.label :en_ad_sec_page_top, "En-Werbung 2.Stadtübersicht top"  %>
        <%= f.text_area :en_ad_sec_page_top, :cols => 75, :rows => 12 %>
      </div>
      <div class="field">
        <%= f.label :en_ad_sec_page_down, "En-Werbung 2.Stadtübersicht unten"  %>
        <%= f.text_area :en_ad_sec_page_down, :cols => 75, :rows => 12 %>
      </div>
      <div class="field">
        <%= f.label :en_ad_panos, "En-Werbung Panoramen"  %>
        <%= f.text_area :en_ad_panos, :cols => 75, :rows => 12 %>
      </div>
      <div class="field">
        <%= f.label :ad_first_page_top, "125x125 Google-Werbung (Stadtübersicht alt)"  %>
        <%= f.text_area :ad_first_page_top, :cols => 75, :rows => 12 %>
      </div>
    <% end %>
  </div>

</div>
