<!doctype html>
<html>
<head>
   <meta charset=utf-8> 
   <meta http-equiv="content-language" content="de">   
   <meta name="viewport" content="height=device-height"> 
   <meta name="copyright" content="Helmut Koelbach"> <% location_en = (@pano.en_location.blank? ? (@pano.location) : (@pano.en_location)) %>
   <meta name="description" content="<% pano_enname = (@pano.alt_en_name.blank? ? (@pano.en_name.blank? ? (@pano.name) : (@pano.en_name)) : (@pano.alt_en_name)) %> <%= pano_enname %> <%= location_en %> in <%= @city.en_name + " Germany" %> - <%= (@pano.repeative == true) ? ("360° Panorama") : ("Panorama") %>">
   <link rel="stylesheet" href="../css/s-panorama.css"> 
   <link rel="stylesheet" href="../css/panosmall_en.css">
   <link rel="shortcut icon" href="../icon.ico">
    <!--[if lt IE 9]>
      <style type="text/css">@import url(../css/pan_ie.css);</style>
    <![endif]-->   
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="../js/s-panorama.js"></script>
    <script type="text/javascript" src="../js/j-panorama.js"></script>
    <script>
    <!--   
      $(function() {
        pano = new SimplePanorama({
         'selector': '#pano',
         'imagePath': 'panoramas/<%= @pano.get_filename %>_3.jpg', 
         'modules': ['move_mousedown', 'move_swipe'],      
         'initialPos':<%= @pano.initial_center %>,
         'repeative': <%= @pano.repeative %>,
         'callback': function() {
            <%
              links = @pano.internal_links
              links.sort_by! { |l| l.get_area }
              links.each do |link| 
                dest = link.get_dest       
                if link.is_circle
            %>
              pano.createCircleHotspot(
                "<a href='<%= dest.en_name.blank? ? (dest.get_filename) : (FileHelper.to_filename dest.en_name) %>.html'><span class='title'><%= link.alt_en_name.blank? ? (dest.en_name.blank? ? (dest.name):(dest.en_name)) : (link.alt_en_name) %></span></a>", 
                <%= link.path %>,"intern"
              );
            <% else %>
              pano.createRectHotspot(
                "<a href='<%= dest.en_name.blank? ? (dest.get_filename) : (FileHelper.to_filename dest.en_name) %>.html'></a>", 
                <%= link.get_xywh %>
              );
            <% end %>
          <% end %>
                pano.showHotspots("intern",visible = true); 
                    
                $('#hotsp_hide').click(function() { 
                pano.showHotspots("intern",visible = false);
                $('#hotsp').show();       
                $('#hotsp_hide').hide();  
                }); 
                
                var spotcss = $('html.no-touch .sp-hotspot');
                $('#hotsp').click(function() { 
                pano.showHotspots("intern",visible = true);
                spotcss.css({'border-width': '2px'}); 
                spotcss.css({'border-color': 'rgba(255,255,0,1)'});
                $('#hotsp').hide();       
                $('#hotsp_hide').show();  
                }); 
                
                var infoElem = $('#linkInfo');
                $('#pano .sp-hotspot').on('mouseenter', function(event) {
                  infoElem.text($(event.target).find('.title').text());
                  infoElem.css({'opacity': 1});
                });

                $('#pano .sp-hotspot').on('mouseleave', function() {
                  infoElem.css({'opacity': 0});
            });
           }
        });      
        pano.targetSpeed = 0.05;
        });  
     //-->
    </script>
    <script>
    <!--    
    $(document).ready(function () { 
      if(navigator.javaEnabled())
      {
        $('#javapano').show();
      }
      else
      {
        $('#nojava').show();
        }
    });  
    
    function street()
    {
      document.pmvr.set('script','<%= FileHelper.to_filename @city.en_name %>.txt:<%= @pano.get_filename %>s');
    }
    function inf()
    {
      document.pmvr.set('script','<%= FileHelper.to_filename @city.en_name %>.txt:<%= @pano.get_filename %>i');
    }
    function haus()
    {
      document.pmvr.set('script','<%= FileHelper.to_filename @city.en_name %>.txt:<%= @pano.get_filename %>h');
    }
    function hausaus()
    {
       document.pmvr.set('showlinks','no');
       document.pmvr.set('script','<%= FileHelper.to_filename @city.en_name %>.txt:<%= @pano.get_filename %>');
    }
    function spot_on()
    {
       document.pmvr.set('script','<%= FileHelper.to_filename @city.en_name %>.txt:<%= @pano.get_filename %>');
       document.pmvr.set('showlinks','yes');
    }
     //-->
    </script>
     <% citytitle = location_en.blank? ? (@pano.district.blank? ? (@city.en_name) : (@pano.district)) : (location_en) %>
   <title><%= pano_enname %> <%= citytitle %> - City Panorama</title>
    
  </head>
<body>
  <header>
      <div class="logo">
        <a href="http://www.panorama-cities.net/"><img src="../navpic/logo.png" width="150px" height="51px" alt="City Panoramas"></a>
      </div>                  
      <div  class="city">
        <a href="http://www.panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/<% if !@pano.district.blank? %><%= FileHelper.to_filename @pano.district %>_panoramas.html"><%= @pano.district %><% else %><% if !@pano.location.blank? %><%= FileHelper.to_filename @pano.en_location %>_panoramas.html"><%= @pano.en_location %><% else %><%= FileHelper.to_filename @city.en_name %>_germany.html"><%= @city.en_name %><% end %><% end %> </a>
      </div>  
      <div class="navtop">
        <a href="http://www.stadtpanoramen.de/<%= FileHelper.to_filename @city.name %>/<%= FileHelper.to_filename @pano.name %>.html"><img src="../navpic/de_ico.gif" width="35px" height="26px" border="0" title="<%= @pano.name %> - German Version" alt="German"> </a>
      </div>                                           
      <div class="cities"> 
        <a href="http://panorama-cities.net/german_cities/" title="German Cities" class="city-top">Cities</a>
      </div>        
  </header>
 <div class="all">      
  <div id="javapano" class="javapano">      
     <div class="rahmen_w">
      <div class="rahmen_wol">
      </div>
      <div class="rahmen_wor">
      </div>
      <div class="rahmen_wom">
   <h1><%= pano_enname %> <%= location_en %> <%= @pano.district %> <%=@city.en_name %> </h1>
      </div>
     </div>
   <div class="bord_left">
   <img src="../navpic/st_detail_bsp_07.jpg" alt="" width="10px" height="301px"><br>
   </div>
   <div class="applet">
    <applet MAYSCRIPT archive="pmvr.jar" codebase=".." name="pmvr" code="pmvr.class" width="786" height="300">
     <param name="permissions" value="sandbox">
     <param name="image" value="panoramas/<%= FileHelper.to_filename @pano.name %>_3.jpg">
     <param name="zMax" value="150">
     <param name="delay" value="15000">
     <%= @pano.rotation == -60 ? "<param name='vauto'" : "<param name='auto'" %> value="<%= @pano.rotation %>">
     <param name="center" value="<%= @pano.initial_center %>">
     <% if @pano.repeative %><param name="view" value="360"><% end %>
     <param name="hover" value="yes">
     <% counter = -1 
     @pano.internal_links.each do |link|      
       dest = link.get_dest %>       
       <param name="link<%= counter+=1 %>" value="<%= link.path %>,http://www.panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/<%= dest.en_name.blank? ? (dest.get_filename) : (FileHelper.to_filename dest.en_name) %>.html,<%= link.alt_en_name.blank? ? (dest.en_name.blank? ? (dest.name):(dest.en_name)) : (link.alt_en_name) %>">
     <% end %>        
     <table width="780" height="300" bgcolor="#000000"><tr><td align="center"><font size="+1" color=red>Please enable Java support!<br><br>To install Java (or just learn more about Java) visit:<br><br><a href="http://www.java.com">http://www.java.com</a></font></td></tr></table> 
    </applet><br>    
   </div>  
   <div class="bord_right">
    <img src="../navpic/st_detail_bsp_09.jpg" alt="" width="9px" height="301px"><br>
   </div>  
   <div id="all_inf">
     <div id="infolink" class="infolayer">
      <span style="letter-spacing: 2px">Info Links in <br>the Panorama </span><br>
      <img src="../navpic/pan.gif" alt="" width="1px" height="3px" border="0"><br>           
      <% @pano.external_links.each do |link| %> <%= link.en_name.blank? ? (link.name) : (link.en_name) %> <br>
      <% end %>  
       </div>   
       <div id="tour" class="tourlayer">
        <span style="letter-spacing: 2px">Panorama Tour</span><br>
        <img src="../navpic/pan.gif" alt="" width="1" height="3" border="0"><br>
      Virtual Tour at the <br>Yellow Spots 
      <img src="../navpic/pan.gif" alt="" width="1" height="3" border="0"><br>
      <br>Next Panorama: <br>
      <% counter = -1 
      @pano.internal_links.each do |link|      
        dest = link.get_dest %>
        <a href="http://www.panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/<%= dest.en_name.blank? ? (dest.get_filename) : (FileHelper.to_filename dest.en_name) %>.html" class="yellow"><%= link.alt_en_name.blank? ? (dest.en_name.blank? ? (dest.name):(dest.en_name)) : (link.alt_en_name) %> </a> <br>
      <% end %> 
       </div> 
       <div id="str" class="steetlayer">
        <span style="letter-spacing: 2px">Streets </span><br>
        <img src="../navpic/pan.gif" alt="" width="1" height="3" border="0"><br>       
      <% @pano.hotspot_infos.each do |hotspot| %>
        <%= hotspot.name %><br>
    <% end %> 
   </div> 
  </div>

   <div class="adv"><% if !@pano.exclusive %>   
    <script type="text/javascript"><!--
    google_ad_client = "pub-2069005959740847";
    google_alternate_color = "000000";
    google_ad_width = 120;
    google_ad_height = 240;
    google_ad_format = "120x240_as";
    google_ad_type = "text";
    //2007-06-29: EN-klPanos-klvert
    google_ad_channel = "3122914084";
    google_color_border = "333333";
    google_color_bg = "000000";
    google_color_link = "66B5FF";
    google_color_text = "CCCCCC";
    google_color_url = "3D81EE";
    google_ui_features = "rc:6";
    google_language = "en";
    //-->
    </script>
    <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>)<% end %>
   </div>
     <div class="rahmen_wu">
      <div class="rahmen_wul"><img src="../navpic/pan.gif" alt="" width="119" height="14">
      </div>
      <div class="rahmen_wur"><img src="../navpic/pan.gif" alt="" width="145" height="8" border="0">
      </div>
      <div class="rahmen_wum"><% unless @pano.date_of_recording.nil? %><%= pano.get_english_month %><% end %>
      </div>
     </div>
   <div class="buttons_j">
    <div class="button_left"><a href="javascript:index()" onMouseOut="tauschpf(pfname,Bild5)" onMouseOver="tauschpf(pfname,Bild6);"><img src="../navpic/pfeil_r.gif" width="8" height="8" name="pfname" title=" Overview " alt="" border="0"></a>
    </div>

    <div style="width: 23px; height: 10px; float: left;<%= @pano.internal_links.blank? ? "display:none;" : "" %>"> 
     <a href="javascript:spot_on()"><img src="../navpic/hotsp1.gif" width="10" height="10" name="hotname" title=" Fade in Panorama Tour " alt="" border="0" onClick="layeronoff('tour','','show','infolink','','hide','str','','hide','txt','','hide');$('#all_inf').show()"></a>
    </div>

    <div style="width: 23px; height: 10px; float: left;<%= @pano.external_links.blank? ? "display:none;" : "" %>"> 
     <a href="javascript:inf()" onMouseOut="tauschin(inname,inf1)" onMouseOver="tauschin(inname,inf2)"><img src="../navpic/in.gif" width="10" height="10" name="inname" title=" Fade in Info Links " alt="" border="0" onClick="layeronoff('infolink','','show','tour','','hide','str','','hide','txt','','hide');$('#all_inf').show()"></a>
    </div>

    <div style="width: 23px; height: 10px; float: left;<%= @pano.hotspot_infos.blank? ? "display:none;" : "" %>">
     <a href="javascript:street()" onMouseOut="tauschstr(strname,stra)" onMouseOver="tauschstr(strname,stra2)"><img src="../navpic/strasse.gif" width="11" height="9" name="strname" title=" Fade in Streets " alt="" border="0" onClick="layeronoff('str','','show','tour','','hide','infolink','','hide','txt','','hide');$('#all_inf').show()"></a>
    </div>  

    <div style="width: 23px;height: 10px; float:left;<%= @pano.get_latitude == "0.000000" ? "display:none;" : "" %>">
     <a href="http://maps.google.com/maps/ms?msid=204881142368333592551.<%= @city.map_id %>&msa=0&ll=<%= @pano.get_latitude %>,<%= @pano.get_longitude %>&spn=0.002500,0.002500&iwloc=<%= pano.map_id %>" target="top" title=" Show Panorama Location on <%= @city.en_name %> Map "><img src="../navpic/gps.gif" width="12" height="9" alt="" border="0" ></a>
    </div>

    <div style="margin-left: 5px; width: 23px;height: 10px; float:left;<%= @pano.internal_links.empty? ? (@pano.external_links.empty? ? (@pano.hotspot_infos.empty? ? (@pano.get_latitude == "0.000000" ? "display:none;" : "") : "") : "") : "" %>">
     <a href="javascript:hausaus()" onMouseOut="tauschaus(ausname,aus)" onMouseOver="tauschaus(ausname,aus2)"><img src="../navpic/aus.gif" width="8" height="8" name="ausname" title=" Hide Infos " alt="" border="0" onClick="layeronoff('infolink','','show','infolink','','hide','tour','','show','tour','','hide','str','','show','str','','hide','txt','','show','txt','','hide','gps','','show');$('#all_inf').hide()"></a>
    </div>  
    </div>
  
    <div class="rotatbut">
     <img src="../navpic/taste-lll.jpg" alt="" width="26" height="13"  align="top" border="0"><img src="../navpic/tastenaus.jpg" alt="" width="205" height="13" align="top" border="0" name="tastenname" usemap="#tastennameMap"><img src="../navpic/taste-rrr.jpg" alt="" width="22" height="13" align="top" border="0"></div>
    <div class="foto">
      Photo: <a href="http://www.panorama-cities.net/html/kontakt.html" class="greysmall">H. Koelbach</a> <br>
    </div>   
    <div class="w_screen">   
     <a href="<%= FileHelper.to_filename @pano.en_name %>_5c.html" onMouseOut="tauschc(cname,Bild7)" onMouseOver="tauschc(cname,Bild8)"><img src="../navpic/bcine.gif" width="108" height="20" title="Panorama in voller Breite" alt="" name="cname" border="0"></a> 
    </div>   
   </div>  
   <% if @pano.repeative %>
   <map name="tastennameMap"> 
    <area shape="rect" coords="0,0,41,13" href="javascript:ll()" title="Pan fast left"  alt="" onMouseUp="tastell(tastenname,Bildll2)" onMouseDown="tastell(tastenname,Bildll)">
    <area shape="rect" coords="42,0,81,13" href="javascript:l()"  title="Pan left" alt="" onMouseUp="tastel(tastenname,Bildl2)" onMouseDown="tastel(tastenname,Bildl)">
    <area shape="rect" coords="82,0,123,13" href="javascript:stop()" title="Stop" alt="" onMouseUp="tastestop(tastenname,Bildstop2)" onMouseDown="tastestop(tastenname,Bildstop)">
    <area shape="rect" coords="126,0,166,13" href="javascript:r()"  title="Pan right" alt="" onMouseUp="taster(tastenname,Bildr2)" onMouseDown="taster(tastenname,Bildr)">
    <area shape="rect" coords="165,0,210,13" href="javascript:rr()"  title="Pan fast right" alt="" onMouseUp="tasterr(tastenname,Bildrr2)"  onmousedown="tasterr(tastenname,Bildrr)">
   </map> <% else %>
   <map name="tastennameMap"> 
    <area shape="rect" coords="0,0,41,13" href="javascript:ll()" title="Pan fast left"  alt="" onMouseUp="tastell(tastenname,Bildll)" onMouseDown="tastell(tastenname,Bildll2)">
    <area shape="rect" coords="42,0,81,13" href="javascript:l()"  title="Pan left" alt="" onMouseUp="tastel(tastenname,Bildl)" onMouseDown="tastel(tastenname,Bildl2)">
    <area shape="rect" coords="82,0,123,13" href="javascript:stop()" title="Stop" alt="" onMouseUp="tastestop(tastenname,Bildstop2)" onMouseDown="tastestop(tastenname,Bildstop)">
    <area shape="rect" coords="126,0,166,13" href="javascript:r()"  title="Pan right" alt="" onMouseUp="taster(tastenname,Bildr)" onMouseDown="taster(tastenname,Bildr2)">
    <area shape="rect" coords="165,0,210,13" href="javascript:rr()"  title="Pan fast right" alt="" onMouseUp="tasterr(tastenname,Bildrr)"  onmousedown="tasterr(tastenname,Bildrr2)">
   </map>
   <% end %>
  <div id="nojava" class="nojava">
    <div id="panoramaWrapper">
     <div class="rahmen_w">
      <div class="rahmen_wol">
      </div>
      <div class="rahmen_wor">
      </div>
      <div class="rahmen_wom">
        <%= pano_enname %> <%= location_en %> <%= @pano.district %> <%=@city.en_name %>
      </div>
     </div>
   <div class="bord_l">
   <img src="../navpic/st_detail_bsp_07.jpg" alt="" width="10" height="351">
   </div>
     <div id="pano"> </div>
   <div class="bord_r">
    <img src="../navpic/st_detail_bsp_09.jpg" alt="" width="13" height="351"><br>
   </div>         
    </div>  
   <div id="noj_all_inf">
     <div id="noj_infolink" class="infolayer">
      <span style="letter-spacing: 2px">Info Links in <br>the Panorama </span><br>
      <img src="../navpic/pan.gif" alt="" width="1px" height="3px" border="0"><br>           
      <% @pano.external_links.each do |link| %> <%= link.en_name.blank? ? (link.name) : (link.en_name) %> <br>
      <% end %>  
       </div>   
       <div id="noj_tour" class="tourlayer">
        <span style="letter-spacing: 2px">Panorama Tour</span><br>
        <img src="../navpic/pan.gif" alt="" width="1" height="3" border="0"><br>
      Virtual Tour at the <br>Yellow Spots 
      <img src="../navpic/pan.gif" alt="" width="1" height="3" border="0"><br>
      <br>Next Panorama: <br>
      <% counter = -1 
      @pano.internal_links.each do |link|      
        dest = link.get_dest %>
        <a href="http://www.panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/<%= dest.en_name.blank? ? (dest.get_filename) : (FileHelper.to_filename dest.en_name) %>.html" class="yellow"><%= link.alt_en_name.blank? ? (dest.en_name.blank? ? (dest.name):(dest.en_name)) : (link.alt_en_name) %> </a> <br>
      <% end %> 
       </div> 
       <div id="noj_str" class="steetlayer">
        <span style="letter-spacing: 2px">Streets </span><br>
        <img src="../navpic/pan.gif" alt="" width="1" height="3" border="0"><br>       
      <% @pano.hotspot_infos.each do |hotspot| %>
        <%= hotspot.name %><br>
    <% end %> 
   </div> 
  </div>
   <div class="noj-adv"><% if !@pano.exclusive %>
    <script type="text/javascript"><!--
    google_ad_client = "pub-2069005959740847";
    google_alternate_color = "000000";
    google_ad_width = 120;
    google_ad_height = 240;
    google_ad_format = "120x240_as";
    google_ad_type = "text";
    //2007-06-29: EN-klPanos-klvert
    google_ad_channel = "3122914084";
    google_color_border = "333333";
    google_color_bg = "000000";
    google_color_link = "66B5FF";
    google_color_text = "CCCCCC";
    google_color_url = "3D81EE";
    google_ui_features = "rc:6";
    google_language = "en";
    //-->
    </script>
    <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>)
    <% end %>
   </div>
     <div id="linkInfo"> </div> 
     <div class="rahmen_wu">
      <div class="rahmen_wul"><img src="../navpic/pan.gif" alt="" width="119" height="14">
      </div>
      <div class="rahmen_wur"><img src="../navpic/pan.gif" alt="" width="145" height="8" border="0">
      </div>
      <div class="rahmen_wum"><% unless @pano.date_of_recording.nil? %><%= pano.get_english_month %><% end %>
      </div>
     </div>
     <div class="allbuttons">
       <div id="hotsp" style="margin-top:-10px; width:30%; height:20px; padding-top:20px; float:left; text-align:right; cursor:pointer;<%= @pano.internal_links.empty? ? "display:none;" : "" %>">
         <img src="../navpic/hotsp.gif" width="17" height="17" title=" Show Panorama Tour Spots " alt="" border="0" onClick="layeronoff('noj_tour','','show','noj_infolink','','hide','noj_str','','hide','noj_txt','','hide');$('#noj_all_inf').show()">
       </div>
       <div id="hotsp_hide">
         <img src="../navpic/hotsp_hide.jpg" width="17" height="17" title=" Hide Panorama Tour Spots " alt="" border="0" onClick="layeronoff('noj_tour','','hide','noj_infolink','','hide','noj_str','','hide','noj_txt','','hide');$('#noj_all_inf').hide()">
       </div>
       <div id="panoramaControls">
        <ul>
          <li><img id="pc-left-fast" src="../img/pc/left-fast.png" title="Pan fast left" alt="button_fast_left"/></li>
          <li><img id="pc-left" src="../img/pc/left.png" title="Pan left" alt="button_left"/></li>
          <li><img id="pc-pause" src="../img/pc/pause.png" title="Stop" alt="button_stop"/></li>
          <li><img id="pc-right" src="../img/pc/right.png" title="Pan right" alt="button_right"/></li>
          <li><img id="pc-right-fast" src="../img/pc/right-fast.png" title="Pan fast right" alt="button_fast_right"/></li>
        </ul>
       </div>
       <div id="gps" <%= @pano.get_latitude == "0.000000" ? "style='display:none;'" : "" %>>
        <a href="http://maps.google.com/maps/ms?msid=204881142368333592551.<%= @city.map_id %>&msa=0&ll=<%= @pano.get_latitude %>,<%= @pano.get_longitude %>&spn=0.002500,0.002500&iwloc=<%= @pano.map_id %>" title="  Show Panorama Location on <%= @city.en_name %> Map "><img src="../navpic/gps_map.png" width="20" height="15" alt="" border="0"></a>
       </div>
    <div class="noj-foto">
      Photo: <a href="http://www.panorama-cities.net/html/kontakt.html" class="greysmall">H. Koelbach</a> <br>
    </div>  
     </div> 
    <div class="nojw_screen">   
     <a href="<%= FileHelper.to_filename @pano.en_name %>_5c.html" onMouseOut="tauschc(cname,Bild7)" onMouseOver="tauschc(cname,Bild8)"><img src="../navpic/bcine.gif" width="108" height="20" title="Panorama in voller Breite" alt="" name="cname" border="0"></a> 
    </div>   
   </div>       
    <div class="pad">
    </div>       
    <div class="content-b">
    <div id="menue">
      <ul>
        <li>More <a href="<%= FileHelper.to_filename @city.en_name %>_panoramas.html" target="_top" class="white">Panoramas of <%= @city.en_name %></a></li>
      </ul>
    </div>
      <div id="thumbframe">
          <iframe width="781" height="144"  frameborder="0" marginheight="0" marginwidth="0" scrolling="no" name="archiv" src="image_archive_<%= FileHelper.to_filename @city.en_name %>.html#<%= @pano.en_name.blank? ? (@pano.get_filename) : (FileHelper.to_filename @pano.en_name) %>"> </iframe>
        </div> 
    <div class="pad">&nbsp;
    </div> 
    <div class="advrow"><% if !@pano.exclusive %>   
    <script type="text/javascript"><!--
      google_ad_client = "pub-2069005959740847";
      google_alternate_color = "000000";
      google_ad_width = 728;
      google_ad_height = 15;
      google_ad_format = "728x15_0ads_al";
      //2007-06-29: EN-Panos-grLinkblock-horU
      google_ad_channel = "2177003998";
      google_color_border = "333333";
      google_color_bg = "000000";
      google_color_link = "66B5FF";
      google_color_text = "CCCCCC";
      google_color_url = "3D81EE";
      google_language = "en";
      //-->
      </script>
      <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script><% end %>
    </div>
    </div>    
    <div class="foot">&nbsp;>
    </div>    
    <div>
   <noscript style="color:#ff6666;font-size:20pt"><br>Please enable <a style="color:#ff6666;font-size:20pt;text-decoration:underline" href="http://www.enable-javascript.com/">Javascript </a> </noscript>
   </div>     
   </div> 
  <footer> 
    <span class="contact"><a href="http://www.panorama-cities.net/html/kontakt.html">Contact us</a></span>
    <div class="mail"> <a href="mailto:?subject=City Panorama%20<%= pano_enname %> <%= @pano.en_location %> <%= @city.en_name %> <%= @pano.district %>&body=Dear%0D%0A%0D%0AI%20discovered%20a%20nice%20panoramic%20photo%20of%20the%20city%20<%= @city.en_name %>%20in%20Germany%0D%0Awww%2Epanorama-cities%2Enet%2F<%= FileHelper.to_filename @city.en_name %>%2F<%= FileHelper.to_filename @pano.en_name %>%2Ehtml%0D%0A%0D%0A%0D%0A%2A%2A%2A%2A%2A%2A%2A%2A%0D%0AI%20n%20s%20t%20r%20u%20c%20t%20i%20o%20n%0D%0AEnter%20the%20email%20address%20of%20the%20recipient%2C%0D%0Aadd%20your%20part%20to%20the%20text%20as%20desired%20and%0D%0Adelete%20this%20part%20of%20instructions%20before%20sending%2E" title="by Email"><img src="../navpic/brief.gif" width="27" height="18" border="0" alt="Email"> Email this page </a>
    </div>
  </footer>
</body>
</html>
