<!doctype html>
<html>
<head>
  <meta charset=utf-8> 
  <% location_en = (@pano.en_location.blank? ? (@pano.location) : (@pano.en_location)) %>
  <meta name="description" content="<% pano_enname = (@pano.alt_en_name.blank? ? (@pano.en_name.blank? ? (@pano.name) : (@pano.en_name)) : (@pano.alt_en_name)) %> <%= pano_enname %> <%= location_en %> in <%= @pano.district %> <%= @city.en_name + " Germany" %> - <%= (@pano.repeative == true) ? ("360° Widescreen Panorama") : ("vertical Panorama") %>">
  <% citytitle = location_en.blank? ? (@pano.district.blank? ? (@city.en_name) : (@pano.district)) : (location_en) %>
  <meta name="copyright" content="Helmut Koelbach">  
  <meta name="viewport" content="width=device-width, maximum-scale=1">  
  <title><%= pano_enname %> <%= citytitle %> </title>
  <link rel="stylesheet" href="../css/simple-panorama.min.css">
  <link rel="stylesheet" type="text/css" href="../css/v-pano.css">
  <link rel="shortcut icon" href="../icon.ico">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="../js/modernizr.js"></script>
  <script type="text/javascript" src="../js/simple-panorama.min.js"></script>
  <script>
  <!--   
    $(function() {
      pano = new SimplePanorama({
       'selector': '#pano',
       'imagePath': 'panoramas/<%= @pano.get_filename %>_5.jpg',  
       'modules': ['move_mousedown'], 
       'initialPos':0,
       'repeative':false,
       'callback': function() {
          <%
              links = @pano.internal_links
              links.sort_by! { |l| l.get_area }
              links.each do |link| 
                dest = link.get_dest       
                if link.is_circle
            %>
                pano.createCircleHotspot(
                "<a href='<%= dest.en_name.blank? ? (dest.get_filename) : (FileHelper.to_filename dest.en_name) %>_5c.html'><span class='title'><% altennam = link.alt_en_name %><%= altennam.blank? ? (dest.alt_en_name.blank? ? (dest.en_name.blank? ? dest.name : dest.en_name) : dest.alt_en_name) : altennam %></span></a>", 
                <%= link.path.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"intern"
                );
              <% else %>
                pano.createRectHotspot(
                "<a href='<%= dest.en_name.blank? ? (dest.get_filename) : (FileHelper.to_filename dest.en_name) %>_5c.html'><span class='title'><% altennam = link.alt_en_name %><%= altennam.blank? ? dest.name : altennam %></span></a>",  
                  <%= link.get_xywh.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"intern"
                );
              <% end %>  <% end %>    
              <%
              extlinks = @pano.external_links
              extlinks.sort_by! { |l| l.get_area }
              extlinks.each do |exlink| 
              exurl = (exlink.en_url.blank? ? exlink.url : exlink.en_url)
              exname = (exlink.en_name.blank? ? exlink.name : exlink.en_name)   
              if exlink.is_circle
            %>
                pano.createCircleHotspot(
                  "<a href='<%= exurl %>'><span class='title'><%= exname %> </span></a>", 
                  <%= exlink.path.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"<%= exlink.name=="Webcam" ? "extern" : "intern" %>"
                );
              <% else %>           
                pano.createRectHotspot( <% if exlink.en_url.blank? %>
                  "<a href='<%= exlink.url %>'><% exlink.url %><span class='title'><% linkname = (exlink.en_name.blank? ? (exlink.name + " - German Info (") : (exlink.en_name + " - Info Link(")) %><% camname = ("Webcam (") %><%= (exlink.name == "." ? camname : linkname) + (exurl.split("/")[2]) + ")" %></span></a>",
        <% else %>"<a href='<%= exlink.en_url + "'><span class='title'>" + exname + " - Info Link (" + (exlink.en_url.split("/")[2]) + ")" %></span></a>",  
        <% end %> <%= exlink.get_xywh.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"extern"
                );
            <% end %><% end %>                                  
              <%
              spots = @pano.hotspot_infos
              spots.sort_by! { |l| -l.get_area }
              spots.each do |spot|       
              if spot.is_circle   
            %>           
                pano.createCircleHotspot(
                  "<span class='title'><%= spot.name %></span>", 
                  <%= spot.path.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"screen"
                );
            <% else %>
                pano.createRectHotspot(
                  "<span class='title'><%= spot.name %></span>", 
                  <%= spot.get_xywh.split(',').map! { |s| (s.to_i*5/3.5).to_i }.join(',') %>,"info"
                );
            <% end %> <% end %>        
                pano.showHotspots("intern",true); 
                pano.showHotspots("extern",false); 
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false);                    
                
                var spotcss = $('html.no-touch .sp-hotspot');
                
                $('#hotsp').click(function() { 
                pano.showHotspots("intern",true);
                pano.showHotspots("extern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false);
                spotcss.css({'border-width': '2px'}); 
                spotcss.css({'border-color': 'rgba(210,210,110,1)'});
                $('#hotsp').hide();       
                $('#hotsp_hide').show();  
                $('#off').hide();       
                }); 
                    
                $('#hotsp_hide').click(function() { 
                pano.showHotspots("intern",false);
                $('#hotsp').show();       
                $('#hotsp_hide').hide();  
                }); 
                
                $('#ext').click(function() { 
                pano.showHotspots("extern",true);
                pano.showHotspots("intern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false); 
                spotcss.css({'border-width': '2px'}); 
                spotcss.css({'border-color': 'rgba(210,210,110,1)'});  <% links = @pano.internal_links
                    links.first(1).each do |link| 
                    if link %>
                $('#hotsp').show();       
                $('#hotsp_hide').hide();   
                <% end %><% end %> 
                $('#off').show();     
                }); 
                
                
                $('#streets').click(function() { 
                pano.showHotspots("info",true); 
                pano.showHotspots("screen",true); 
                pano.showHotspots("extern",false);
                pano.showHotspots("intern",false);
                spotcss.css({'border-width': '0px'});   <% links = @pano.internal_links
                    links.first(1).each do |link| 
                    if link %>
                $('#hotsp').show();       
                $('#hotsp_hide').hide(); 
                <% end %><% end %>  
                $('#off').show();      
                }); 
                
                $('#off').click(function() { 
                pano.showHotspots("intern",false);
                pano.showHotspots("extern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false);   <% links = @pano.internal_links
                    links.first(1).each do |link| 
                    if link %>
                $('#hotsp').show();       
                $('#hotsp_hide').hide(); 
                <% end %><% end %>     
                $('#off').hide();     
                }); 
              
              var infoElem = $('#linkInfo');
              $('#pano .sp-hotspot').on('mouseenter', function(event) {
                infoElem.text($(event.target).find('.title').text());
                infoElem.css({'opacity': 1});
              });
              $('#pano .sp-hotspot').on('mouseleave', function() {
                infoElem.css({'opacity': 0});
              });    
              imgwidth=pano.img.width;     
              imgw=pano.img.width+"px";  
              if (imgwidth != 0) {
                $('#panoramaWrapper').css({"max-width": imgw});  
                $('#pano').css({"max-width": imgw});   
                $('#top').css({"max-width": imgw, "margin": "0 auto"}); 
              }
         }
      });         
        pano.setTargetSpeed(0, -0.05);  
      }); 
   //-->
  </script>
</head>
<body>
  <header>
      <div id="top">
        <div class="logo">
          <a href="http://www.panorama-cities.net/"><img src="../navpic/logo.png" width="150px" height="51px" alt="City Panoramas"></a>
        </div>                  
        <div  class="city">
          <a href="http://www.panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/<% if !@pano.district.blank? %><%= FileHelper.to_filename @pano.district %>_panoramas.html"><%= @pano.district %><% else %><% if !@pano.location.blank? %><%= FileHelper.to_filename @pano.en_location %>_panoramas.html"><%= @pano.en_location %><% else %><%= FileHelper.to_filename @city.en_name %>_germany.html"><%= @city.en_name %><% end %><% end %> </a>
        </div>  
        <div id="close">
         <a href="javascript:history.back()"><img src="../navpic/close.png" alt=""></a>
        </div> 
        <div class="flag">
            <a href="http://www.stadtpanoramen.de/<%= FileHelper.to_filename @city.name %>/<%= FileHelper.to_filename @pano.name %>.html"><img src="../navpic/de_ico.gif" width="35px" height="26px" border="0" title="<%= @pano.name %> - German Version" alt="German"> </a>                                          
          <div class="cities_en"> 
            <a href="http://panorama-cities.net/german_cities/" title="German Cities" class="city-top">Cities</a>
          </div> 
        </div>  
      </div>           
  </header>
 <div id="all">    
    <div id="panoramaWrapper">
     <div class="rahmen_w">
      <div class="rahmen_wom"><img src="../navpic/pan.gif" alt="" width="8" height="15">     
        <%= pano_enname %> <br><%= location_en %> <%= @pano.district %> <%=@city.en_name %> Germany  
      </div>
     </div>
     <div id="screen">
     <div id="pano"> </div> 
     <div id="linkInfo"> </div>   
    </div>  
     <div class="rahmen_wu">
      <div class="rahmen_wul"><a href="javascript:end()" class="back"><img src="../navpic/pfeil_r.gif" alt="" width="8" height="8"> back</a>
      </div>
      <div class="rahmen_wur"><a href="http://www.panorama-cities.net/html/st_kontakt_index.html" class="foto">Panorama H. Kölbach</a>
      </div>
      <div class="rahmen_wum"><% unless pano.date_of_recording.year.to_i <= 1999 %><%= pano.get_english_month %><% end %>
      </div>
     </div>        
     <div class="all_buttons">   
     <div class="noj_buttons">  
      <div id="hotsp" style="width: 20%; height: 15px; float: left; cursor:pointer;<%= @pano.internal_links.empty? ? " display:none;" : "" %>"> 
       <img src="../navpic/hotspot.jpg" width="18" height="15" title=" Display Panorama Tour Spots " alt="" border="0" name="hotspotname" onmouseleave="tauschhot(hotspotname,hot)" onmouseover="tauschhot(hotspotname,hot_h)">
      </div>
      <div id="hotsp_hide" style="width: 20%; height: 15px; float: left; cursor:pointer;"> 
        <img src="../navpic/hotspot_hide.jpg" width="18" height="15" title=" Hide Panorama Tour Spots " alt="" border="0">
      </div>   
      <div id="ext" style="width: 20%; height: 15px; float: left; cursor:pointer;<%= @pano.external_links.empty? ? " display:none;" : "" %>"> 
       <img src="../navpic/infos.jpg" width="18" height="15" title=" Display Info Links " alt="" border="0" name="infosname" onmouseleave="tauschin(infosname,infos)" onmouseover="tauschin(infosname,infos_h)">
      </div>  
      <div id="streets" style="width: 20%; height: 15px; float: left; cursor:pointer;<%= @pano.hotspot_infos.empty? ? " display:none;" : "" %>">
       <img src="../navpic/street.jpg" width="18" height="15" title=" Display Street names " alt="" border="0" name="streetname" onmouseleave="tauschstr(streetname,street)" onmouseover="tauschstr(streetname,street_h)">
      </div>    
      <div  id="off" style=" width: 20%; height: 15px; float:left; cursor:pointer; display:none;">
       <img src="../navpic/off.jpg" width="18" height="15" title=" Hide Infos " name="offname" alt="" border="0" onmouseleave="tauschoff(offname,off)" onmouseover="tauschoff(offname,off_h)" alt="" border="0">
      </div>    
     </div> 
    <div class="gps">  
      <div style="width:20%<%= @pano.get_latitude == "0.000000" ? "; visibility:hidden" : "" %>">
       <a href="http://maps.google.com/maps/ms?msid=204881142368333592551.<%= @city.map_id %>&msa=0&ll=<%= @pano.get_latitude %>,<%= @pano.get_longitude %>&spn=0.002500,0.002500&iwloc=<%= @pano.map_id %>" title="  Show Panorama Location on <%= @city.en_name %> Map "><img src="../navpic/gps.jpg" width="20" height="15" alt="" border="0" name="gpsname" onmouseleave="tauschgps(gpsname,gps)" onmouseover="tauschgps(gpsname,gps_h)" ></a>
       </div>
     </div>
   </div>  
   <noscript style="color:#ff6666;font-size:20pt"><br>Please enable <a style="color:#ff6666;font-size:20pt;text-decoration:underline" href="http://www.enable-javascript.com/">Javascript </a> </noscript>
   </div>
   <div class="center_full">
      <div id="full">
       <img src="../navpic/fullscreen.gif" title="Fullscreen View" alt="Fullscreen">
      </div>
   </div>
  </div>
  <footer>
    <span class="contact"><a href="http://www.panorama-cities.net/html/kontakt.html">Contact us</a></span>
    <div class="mail"> <a href="mailto:?subject=City Panorama%20<%= pano_enname %> <%= @pano.en_location %> <%= @city.en_name %> <%= @pano.district %>&body=Dear%0D%0A%0D%0AI%20discovered%20a%20nice%20panoramic%20photo%20of%20the%20city%20<%= @city.en_name %>%20in%20Germany%0D%0Awww%2Epanorama-cities%2Enet%2F<%= FileHelper.to_filename @city.en_name %>%2F<%= FileHelper.to_filename @pano.en_name %>%2Ehtml%0D%0A%0D%0A%0D%0A%2A%2A%2A%2A%2A%2A%2A%2A%0D%0AI%20n%20s%20t%20r%20u%20c%20t%20i%20o%20n%0D%0AEnter%20the%20email%20address%20of%20the%20recipient%2C%0D%0Aadd%20your%20part%20to%20the%20text%20as%20desired%20and%0D%0Adelete%20this%20part%20of%20instructions%20before%20sending%2E" title="by Email"><img src="../navpic/brief.gif" width="27" height="18" border="0" alt="Email"> Email this Panorama</a>
    </div>
  </footer>
</body>
</html>