<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset=utf-8 />
  <title>::: <%= @city.name %> - Panoramen </title>
   <meta http-equiv="cache-control" content="max-age=260000">
  <meta name="copyright" content="Helmut Kölbach">       
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta name="description" content="Panoramen ::: in <%= @city.name %> - Ansichten mit virtuellen Rundgängen im Panoramaformat<% citypanos = @city.panoramas.keep_if{ |p| !p.location.blank? }.sort_by{ |p| p.location } %><% n_pano = citypanos.length %>und Fotos mit den Bildmotiven: <% unless n_pano <= 3 %><% citypanos.first(n_pano-2).each do |pano_u| %><%=  pano_u.name + ", " %><% end %><% pano_vend = citypanos.at(n_pano-2) %><% unless pano_vend.nil? %><%=  pano_vend.name %><% end %><% pano_end = citypanos.at(n_pano-1) %><% unless pano_end.nil? %><%= " und " + pano_end.name  %><% end %><% end %>">
  <link rel="stylesheet" type="text/css" href="../../css/allcities.css">
  <link rel="shortcut icon" href="../../icon.ico">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" language="javascript" src="../../ind.js"></script>     
  <script type="text/javascript" src="../../js/s-panorama.js"></script>
</head>
<body>
  <header>
      <div class="logo">   
       <a href="http://www.stadtpanoramen.de/" target="_top"><img src="../../navpic/logo.png" alt="Stadtpanoramen" border="0"></a> 
      </div>   
      <h1 class="hotel">::: <br><%= @city.name %> </h1>
      <nav>        
      <a href="http://www.stadtpanoramen.de/stadt/" title="Städte-Bilder Übersicht" class="city-top">Städte </a><br>
          <ul>     
            <li><a href="../../berlin/">Berlin </a></li>
            <li><a href="../../bielefeld/">Bielefeld </a></li>
            <li><a href="../../bochum/">Bochum </a></li>
            <li><a href="../../bonn/">Bonn </a></li>
            <li><a href="../../braunschweig/">Braunschweig </a></li>
            <li><a href="../../bremen/">Bremen </a></li>
            <li><a href="../../bremerhaven/">Bremerhaven </a></li>
            <li><a href="../../darmstadt/">Darmstadt </a></li>
            <li><a href="../../dortmund/">Dortmund </a></li>
            <li><a href="../../dresden/">Dresden </a></li>
            <li><a href="../../duesseldorf/">Düsseldorf </a></li>
            <li><a href="../../duisburg/">Duisburg </a></li>
            <li><a href="../../erfurt/">Erfurt </a></li>
            <li><a href="../../essen/">Essen </a></li>
            <li><a href="../../frankfurt/">Frankfurt </a></li>
            <li><a href="../../freiburg/">Freiburg </a></li>
            <li><a href="../../goslar/">Goslar </a></li>
            <li><a href="../../hamburg/">Hamburg </a></li>
            <li><a href="../../hannover/">Hannover </a></li>
            <li><a href="../../heidelberg/">Heidelberg </a></li>
            <li><a href="../../hildesheim/">Hildesheim </a></li>
            <li><a href="../../karlsruhe/">Karlsruhe </a></li>
            <li><a href="../../kassel/">Kassel </a></li>
            <li><a href="../../kiel/">Kiel </a></li>
            <li><a href="../../koblenz/">Koblenz </a></li>
            <li><a href="../../koeln/">Köln </a></li>
            <li><a href="../../leipzig/">Leipzig </a></li>
            <li><a href="../../luebeck/">Lübeck </a></li>
            <li><a href="../../mainz/">Mainz </a></li>
            <li><a href="../../mannheim/">Mannheim </a></li>
            <li><a href="../../minden/">Minden </a></li>
            <li><a href="../../muenchen/">München </a></li>
            <li><a href="../../nuernberg/">Nürnberg </a></li>
            <li><a href="../../oldenburg/">Oldenburg </a></li>
            <li><a href="../../osnabrueck/">Osnabrück </a></li>
            <li><a href="../../rostock/">Rostock </a></li>
            <li><a href="../../rothenburg_ob_der_tauber/">Rothenburg o.d.T.</a></li>
            <li><a href="../../schwerin/">Schwerin </a></li>
            <li><a href="../../siegen/">Siegen </a></li>
            <li><a href="../../stuttgart/">Stuttgart </a></li>
            <li><a href="../../trier/">Trier </a></li>
            <li><a href="../../tuebingen/">Tübingen </a></li>
            <li><a href="../../wernigerode/">Wernigerode </a></li>
            <li><a href="../../wiesbaden/">Wiesbaden </a></li>
            <li><a href="../../wismar/">Wismar </a></li>
            <li><a href="../../wuerzburg/">Würzburg </a></li>
            <li style="padding-right: 200px;"> &nbsp;</li>
            <li><a href="../../muensterland/" class="msland">Münsterland </a></li>
            <li><a href="../../ahaus/">Ahaus </a></li>
            <li><a href="../../ahlen/">Ahlen </a></li>
            <li><a href="../../coesfeld/">Coesfeld </a></li>
            <li><a href="../../emsdetten/">Emsdetten </a></li>
            <li><a href="../../greven/">Greven </a></li>
            <li><a href="../../horstmar/">Horstmar </a></li>
            <li><a href="../../ibbenbueren/">Ibbenbüren </a></li>
            <li><a href="../../lengerich/">Lengerich </a></li>
            <li><a href="../../luedinghausen/">Lüdinghausen </a></li>
            <li><a href="../../muenster/">Münster </a></li>
            <li><a href="../../rheine/">Rheine </a></li>
            <li><a href="../../steinfurt/">Steinfurt </a></li>
            <li><a href="../../tecklenburg/">Tecklenburg </a></li>
            <li><a href="../../telgte/">Telgte </a></li>
            <li><a href="../../warendorf/">Warendorf </a></li>
      </nav>    
  </header>
  <div id="content">   
    <div id="box"> 
      <div class="adv-more">    
        <div style="font-size: 18px;">
          Ferienwohnung Tecklenburger Augenblicke <br>
        </div>       
        <div style="font-size: 16px;">
        Am Steinkamp 48 <br>  
        D-49545 Tecklenburg <br> <br>
        Fon +49 (0)5482-925-939 <br>
        Mob +49 (0)179-227 5 162 <br>
        Fax +49 (0)5482-925-832 <br><br>
        Email <a href="mailto:info@ferienwohnung-tecklenburger-augenblicke.de" style="font-size:14px; border:#111">info@ferienwohnung-tecklenburger-augenblicke.de </a> <br><br>
        Internet: <a href="http://www.ferienwohnung-tecklenburger-augenblicke.de/" target="_blank" style="font-size:14px; border:#111">www.ferienwohnung-tecklenburger-augenblicke.de </a> 
        </div> 
      </div> 
    </div>        
    <div id="grid">
      <ul> <% @city.panoramas.keep_if{ |d| !d.location.blank? }.sort_by{ |p| p.location }.each do |pano| %>        
        <li><% panoname = (pano.alt_name.blank? ? (pano.name) : (pano.alt_name)) %>
          <div class="wrapper">
            <a href="http://www.stadtpanoramen.de/<%= @city.get_filename %>/.../<%= pano.get_filename %>_....html" title="<%= panoname %> <%= pano.location %> in <%= @city.name %>"><img src="http://panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/.../panoramas/<%= pano.get_filename %>_....jpg" alt="<%= pano.name %> ::: <%= @city.name %>"></a>
            <% unless pano.rotation == 60 %>
            <div class="widescreen"><a href="javascript:cindex('<%= pano.get_filename %>..._5c.html')" title="Panorama <%= pano.name %> in voller Breite">Widescreen</a>
            </div><% end %>
          </div><%= pano.name %>
        </li><% end %>
      </ul>
    </div> 
      <div id="cont_down">
            <div id="gmap">
                  <br>
                 <a name="karte"><%= @city.name %> Panorama-Aufnahmestandorte</a>
                 <br><% mapcode = @city.mymap_id %><% if mapcode == "zIANpqu4IHeQ.kKDcOohK8htk" %>      
                <iframe id="map_frame"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=zIANpqu4IHeQ.kKDcOohK8htk&ie=UTF8&ll=<%= @city.map_coord %>&z=16&t=m"<% else %><% if mapcode == "zIANpqu4IHeQ.k6dPEXy8Scoc" %><iframe  id="map_frame"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=zIANpqu4IHeQ.k6dPEXy8Scoc&ie=UTF8&z=19&t=h"<% else %><iframe  id="map_frame"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://mapsengine.google.com/map/embed?mid=<%= @city.mymap_id %>"<% end %><% end %>></iframe><% if mapcode == "zIANpqu4IHeQ.kKDcOohK8htk" %>
                <a href="https://www.google.com/maps/d/viewer?mid=zIANpqu4IHeQ.kKDcOohK8htk&ie=UTF8&ll=<%= @city.map_coord %>&z=16&t=m"<% else %><% if mapcode == "zIANpqu4IHeQ.k6dPEXy8Scoc" %><a href="https://www.google.com/maps/d/viewer?mid=zIANpqu4IHeQ.k6dPEXy8Scoc&ie=UTF8&z=19&t=h"<% else %><a href="https://mapsengine.google.com/map/viewer?mid=<%= @city.mymap_id %>" <% end %><% end %> target="_blank"><span style="font-size:17px;"><%= @city.name %> Panorama-Karte </span></a> <br><span style="font-size:12px;">(Panoramen auf einer größeren Karte anzeigen)</span>
            </div>
           <br> 
          <div id="box-ur">
              <div class="de-map"><% if  @city.map_id == "0004df7ee473a37211d4c" or @city.map_id =="00044b138d7eba762674d" %> <% else %>  
                  INTERAKTIVE <br>DEUTSCHLANDKARTE
                   <br>
              <% if @city.map_id == "0004da425c9f05f247e60" %>
                  <iframe src="http://www.stadtpanoramen.de/karten/karte_muensterland.html" width="229" height="312" name="map" marginwidth="0"  marginheight="3" frameborder="0" scrolling="no"></iframe>
                </div>
                 <% else %>  
                    <iframe src="http://www.stadtpanoramen.de/karten/karte_<%= @city.get_filename %>.html" width="229" height="312" name="map" marginwidth="0"  marginheight="3" frameborder="0" scrolling="no"></iframe>
                  <br><a href="http://www.stadtpanoramen.de/html/logos.html#deutschlandkarte"> Deutschlandkarte einbinden <img src="../../navpic/pfeil_rr.gif" alt="" width="8" height="8" border="0"> </a>       
               </div><% end %><% end %> 
          <div id="adv2-down">     
            <%= @city.ad_sec_page_down %>
            </div>
          </div> 
       </div> 
    <div class="adtext">
      <br>
    </div> 
    </div>
      <div id="fb-root"></div>
   <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>
  <footer>
    <a href="http://www.stadtpanoramen.de/html/st_copyright.html">Impressum</a>  
    <span class="contact"><a href="http://www.stadtpanoramen.de/html/kontakt.html">Kontakt</a></span>
    <div class="mail"> <a href="mailto:?subject=Tipp%20Panoramen%20:::&body=Hallo%2c%0D%0A%0D%0Ahier%20ein%20Link%20zu%20interessanten%20Panoramabildern%20aus%20<%= @city.name %>%0D%0Awww%2Estadtpanoramen%2Ede%2F<%= @city.get_filename %>%2Fpanoramen_...%2Ehtml%0D%0A" title="per Email versenden"><img src="../../navpic/brief.gif" width="27" height="18" border="0" alt="per Email"> Seite senden </a>
    </div>
    <div class="gplus"><script type="text/javascript" src="http://apis.google.com/js/plusone.js">{lang: 'de', parsetags: 'explicit'}</script><g:plusone href="http://www.stadtpanoramen.de/<%= @city.get_filename %>/panoramen_....html" size="medium" count="false"></g:plusone><script type="text/javascript">gapi.plusone.go();</script>
    </div>
    <div id="socmed-fb">
      <div class="fb-like" data-href="http://www.stadtpanoramen.de/<%= @city.get_filename %>/panoramen_....html" data-width="265" data-layout="button" data-action="recommend" colorscheme="dark" data-show-faces="false" data-share="false"></div>      
    </div>  
  </footer>
</body>
</html>