<!doctype html>
<html>
<head>
   <meta charset=utf-8> 
   <meta http-equiv="content-language" content="en">   
   <meta name="viewport" content="width=800, maximum-scale=1">
   <meta name="copyright" content="Helmut Koelbach"> <% location_en = (@pano.en_location.blank? ? (@pano.location) : (@pano.en_location)) %>
   <meta name="description" content="<% pano_enname = (@pano.alt_en_name.blank? ? (@pano.en_name.blank? ? (@pano.name) : (@pano.en_name)) : (@pano.alt_en_name)) %><%= pano_enname %> <%= location_en %> in <%= @city.en_name + " Germany" %> - <%= (@pano.repeative == true) ? ("360° Panorama") : ("Panorama") %>">
   <link rel="stylesheet" href="../css/simple-panorama.min.css">    
   <link rel="stylesheet" href="../css/panosmall.css">
   <link rel="shortcut icon" href="../icon.ico">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="../js/jquery.mousewheel.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="../js/modernizr.js"></script>
    <script type="text/javascript" src="../js/simple-panorama.min.js"></script>
    <script type="text/javascript" src="../js/j_pano_en.js"></script>
    <link href="../css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <link href="../css/jquery.mCustomScrollbar_h.css" rel="stylesheet" type="text/css">  
    <script>
    <!--  <% g_lat = @pano.get_latitude %> <% g_lon = @pano.get_longitude %> <% p_lat = g_lat.to_f %> <% p_lon = g_lon.to_f %>
      $(function() {
        pano = new SimplePanorama({
         'selector': '#pano',
         'imagePath': 'panoramas/<%= @pano.get_filename %>_3.jpg', 
         'modules': ['move_mousedown', 'move_swipe'], 
         'initialPos':<%= @pano.initial_center.blank? ?  "0" : (@pano.initial_center).to_i %>,
         'repeative': <%= @pano.repeative.blank? ?  "false" : @pano.repeative %>,
         'callback': function() {
            <%
              links = @pano.internal_links
              links.sort_by! { |l| l.get_area }
              links.each do |link| 
              dest = link.get_dest 
              d_lon = dest.longitude
              d_lat = dest.latitude      
              if link.is_circle
            %>
            <% n_lon = p_lon - d_lon 
               n_lat = p_lat - d_lat
               dist_lon = n_lon.abs * 71.5
               dist_lat = n_lat.abs * 111.3
               dist_ko = Math.sqrt(dist_lon*dist_lon + dist_lat*dist_lat)*1000
               dist_ko <= 2600? (dist = (dist_ko)) : (dist = (dist_ko).to_i) 
               dist >= 1000? (distance = "- " + ((dist/1000).round(1).to_s) + "km") : (dist >= 20? (distance = "- " + (dist.round(-1).to_s) + "m") : (distance = "- " + (dist.to_s) + "m"))
               (d_lon <1 || dist <1)? (distance = "") : ("")
            %> 
                pano.createCircleHotspot(
                "<a href='<%= dest.en_name.blank? ? (dest.get_filename) : (FileHelper.to_filename dest.en_name) %>.html'><span class='title'><% altennam = link.alt_en_name %><%= altennam.blank? ? (dest.alt_en_name.blank? ? (dest.en_name.blank? ? dest.name : dest.en_name) : dest.alt_en_name) : altennam %> <%= distance %> </span></a>", 
                <%= link.path %>,"intern"
                );
              <% else %>
                pano.createRectHotspot(
                "<a href='<%= dest.en_name.blank? ? (dest.get_filename) : (FileHelper.to_filename dest.en_name) %>.html'><span class='title'><% altennam = link.alt_en_name %><%= altennam.blank? ? dest.name : altennam %></span></a>",  
                  <%= link.get_xywh %>,"intern"
                );
              <% end %> <% end %>   
              <%
              extlinks = @pano.external_links
              extlinks.sort_by! { |l| l.get_area }
              extlinks.each do |exlink| 
              exurl = (exlink.en_url.blank? ? exlink.url : exlink.en_url)
              exname = (exlink.en_name.blank? ? exlink.name : exlink.en_name)              
              if exlink.is_circle
            %>
                pano.createCircleHotspot(
                  "<a href='<%= exurl %>'><span class='title'><%= exname %> </span></a>", 
                  <%= exlink.path %>,"<%= exlink.name=="Webcam" ? "extern" : "intern" %>"
                );
              <% else %>            
                pano.createRectHotspot( <% if exlink.en_url.blank? %>
                  "<a href='<%= exlink.url %>'><span class='title'><% linkname = (exlink.en_name.blank? ? (exlink.name + " - German Info (") : (exlink.en_name + " - Info Link(")) %><% camname = ("Webcam (") %><%= (exlink.name == "." ? camname : linkname) + (exurl.split("/")[2]) + ")" %></span></a>",
        <% else %>"<a href='<%= exlink.en_url + "'><span class='title'>" + exname + " - Info Link (" + (exlink.en_url.split("/")[2]) + ")" %></span></a>",  
        <% end %> <%= exlink.get_xywh %>,"extern"
                );
            <% end %><% end %>                                  
              <%
              spots = @pano.hotspot_infos
              spots.sort_by! { |l| -l.get_area }
              spots.each do |spot|       
                if spot.is_circle   
            %>
                pano.createCircleHotspot(
                  "<span class='title'><%= spot.name %></span>", 
                  <%= spot.path %>,"screen"
                );
            <% else %> 
                pano.createRectHotspot(
                  "<span class='title'><%= spot.name %></span>", 
                  <%= spot.get_xywh %>,"info"
                );
            <% end %>  <% end %>  
                pano.showHotspots("intern",true); 
                pano.showHotspots("extern",false); 
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false);                    
                
                var spotcss = $('html.no-touch .sp-hotspot');
                var linkcss = $('html.no-touch #linkInfo');
                var spottouchcss = $('html.touch .sp-hotspot');
                var linktouchcss = $('html.touch #linkInfo');
            <% unless @pano.internal_links.empty? %> 
                $('#hotsp').click(function() { 
                pano.showHotspots("intern",true);
                pano.showHotspots("extern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false);
                spotcss.css({'border-width': '2px', 'border-color': 'rgba(250,250,50,1)', 'background-color': 'rgba(0,0,0,.15)'}); 
                spottouchcss.css({'border-width': '3px', 'border-color': 'rgba(210,210,110,1)', 'background-color': 'rgba(0,0,0,0)'});
                linkcss.css({'color': 'rgb(250,250,50)'});   
                $('#hotsp').hide();       
                $('#hotsp_hide').show();
                $('#off').hide();         
                }); 
                              
                $('#hotsp_hide').click(function() { 
                pano.showHotspots("intern",false);
                $('#hotsp').show();       
                $('#hotsp_hide').hide();  
                });   
            <% end %>                     
            <% unless @pano.external_links.empty? %> 
                $('#ext').click(function() { 
                pano.showHotspots("extern",true);
                pano.showHotspots("intern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false); 
                spotcss.css({'border-width': '2px', 'border-color': 'rgba(190,190,190,1)', 'background-color': 'rgba(0,0,0,.15)'}); 
                spottouchcss.css({'border-width': '3px', 'border-color': 'rgba(210,210,210,1)', 'background-color': 'rgba(0,0,0,.3)'});    
                linkcss.css({'color': 'rgb(210,210,210)'});   <% links = @pano.internal_links
                    links.first(1).each do |link| 
                    if link %>
                $('#hotsp').show();       
                $('#hotsp_hide').hide(); 
                <% end %><% end %>   
                $('#off').show();     
                }); 
            <% end %>                     
            <% unless @pano.hotspot_infos.empty? %>   
                $('#streets').click(function() { 
                pano.showHotspots("info",true); 
                pano.showHotspots("screen",true); 
                pano.showHotspots("extern",false);
                pano.showHotspots("intern",false);
                spotcss.css({'border-width': '0px', 'background-color': 'rgba(0,0,0,0)'}); 
                spottouchcss.css({'border-width': '0px', 'background-color': 'rgba(0,0,0,0)'});
                linkcss.css({'color': 'rgb(210,210,210)'});
                linktouchcss.css({'color': 'rgb(210,210,210)'});   <% links = @pano.internal_links
                    links.first(1).each do |link| 
                    if link %>
                $('#hotsp').show();       
                $('#hotsp_hide').hide(); 
                <% end %><% end %>  
                $('#off').show();      
                }); 
            <% end %>                     
                
                $('#off').click(function() { 
                pano.showHotspots("intern",false);
                pano.showHotspots("extern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false);   <% links = @pano.internal_links
                    links.first(1).each do |link| 
                    if link %>
                $('#hotsp').show();       
                $('#hotsp_hide').hide(); 
                <% end %><% end %>     
                $('#off').hide();     
                }); 
                
                var infoElem = $('#linkInfo');
                infoElem.css({'opacity': 0});
                $('#pano .sp-hotspot').on('mouseenter', function(event) {
                  infoElem.text($(event.target).find('.title').text());
                  infoElem.css({'opacity': 1});
                });
                $('#pano .sp-hotspot').on('mouseleave', function() {
                  infoElem.css({'opacity': 0});
            });
           }
        });  
         $("#pano").mousedown(function() { 
          button(bus,Bildstop2)
        });            
        <%= @pano.rotation == 0 ? "" : @pano.rotation == -20 ? "pano.setTargetSpeed(0.05); button(bus,Bildl2);" : "pano.setTargetSpeed(-0.05); button(bus,Bildr2);" %>  
      }); 
 (function($){
  $(document).ready(function () {  
      $("#thumbframe").load("photo_stock_<%= FileHelper.to_filename @city.en_name %>.html");  
      $(window).load(function(){ 
        $("#cont").mCustomScrollbar({
          horizontalScroll:true,
        });
        var anc = "#<%= FileHelper.to_filename @pano.en_name %>";
        $("#cont").mCustomScrollbar("scrollTo",anc);
        $(anc).addClass("active");
        $("#cont").mouseover(function() {
        $(anc).removeClass("active");
        });
        $("#cont").mouseleave(function() {
        $(anc).addClass("active");
        });
      });
    });
 })(jQuery);   
     //-->
    </script>
     <% citytitle = location_en.blank? ? (@pano.district.blank? ? (@city.en_name) : (@pano.district)) : (location_en) %>
   <title><%= pano_enname %> <%= citytitle %> - City Panorama</title>    
  </head>
  <body>
  <header>
      <div class="logo">
        <a href="http://www.panorama-cities.net/"><img src="../navpic/logo.png" width="150px" height="51px" alt="City Panoramas"></a>
      </div>                  
      <div  class="city">
        <a href="http://www.panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/<% if !@pano.district.blank? %><%= FileHelper.to_filename @pano.district %>_panoramas.html"><%= @pano.district %><% else %><% if !@pano.location.blank? %><%= FileHelper.to_filename @pano.en_location %>_panoramas.html"><%= @pano.en_location %><% else %><%= FileHelper.to_filename @city.en_name %>_germany.html"><%= @city.en_name %><% end %><% end %> </a>
      </div>  
      <div class="flag">
        <a href="http://www.stadtpanoramen.de/<%= FileHelper.to_filename @city.name %>/<%= FileHelper.to_filename @pano.name %>.html"><img src="../navpic/de_ico.gif" width="35px" height="26px" border="0" title="<%= @pano.name %> - German Version" alt="German"> </a>
      </div>                                                    
      <div class="cities_en"> 
        <a href="http://panorama-cities.net/german_cities/" title="German Cities" class="city-top">Cities</a>
      </div> 
  </header>
 <div class="all"> 
    <div id="nojava">
     <div id="panoramaWrapper">
       <div class="rahmen_w">
        <div class="rahmen_wol">
        </div>
        <div class="rahmen_wor">
        </div>
        <div id="rahmen_wom">
          <%= pano_enname %> - <%= location_en %> <%= @pano.district %> <%=@city.en_name %>
        </div>
       </div>
     <div id="panobord">
       <div class="bord_l">
        <img src="../navpic/st_detail_bsp_07.jpg" alt="" width="11" height="351">
       </div>
       <div class="bord_r">
        <img src="../navpic/st_detail_bsp_09.jpg" alt="" width="11" height="351"><br>
       </div>         
       <div id="pano">
       </div>
       <div id="linkInfo">
          <div class="linkspace"> </div>
       </div>     
     </div> 
     <div class="rahmen_wu">
      <div class="rahmen_wul"><img src="../navpic/pan.gif" alt="" width="119" height="14">
      </div>
      <div class="rahmen_wur"><a class="foto" href="http://www.panorama-cities.net/html/st_kontakt_index.html">Photo <%= @pano.fotograf.blank? ? "H. Kölbach" : @pano.fotograf %></a>
      </div>
      <div class="rahmen_wum"><% unless pano.date_of_recording.year.to_i <= 1999 %><%= pano.get_english_month %><% end %>
      </div>
     </div>     
     </div>   
     <div id="all_buttons">
       <div id="buttons">
        <div id="hotsp" style="width: 35px; height: 15px; float: left; cursor:pointer;<%= @pano.internal_links.empty? ? "display:none;" : "" %>"> 
         <img src="../navpic/hotspot.jpg" width="18" height="15" title=" Display Panorama Tour Spots " alt="" border="0" name="hotspotname" onmouseleave="tauschhot(hotspotname,hot)" onmouseover="tauschhot(hotspotname,hot_h)" onClick="layeronoff('tour','','show','noj_infolink','','hide','street','','hide','noj_txt','','hide');$('#noj_all_inf').show()">
        </div>
        <div id="hotsp_hide" style="width: 35px; height: 15px; float: left; cursor:pointer;"> 
          <img src="../navpic/hotspot_hide.jpg" width="18" height="15" title=" Hide Panorama Tour Spots " alt="" border="0" onClick="layeronoff('tour','','hide','noj_infolink','','hide','street','','hide','noj_txt','','hide');$('#noj_all_inf').hide()">
        </div>   
        <div id="ext" style="width: 35px; height: 15px; float: left; cursor:pointer;<%= @pano.external_links.empty? ? "display:none;" : "" %>"> 
         <img src="../navpic/infos.jpg" width="18" height="15" title=" Display Info Links" alt="" border="0" name="infosname" onmouseleave="tauschin(infosname,infos)" onmouseover="tauschin(infosname,infos_h)" onClick="layeronoff('noj_infolink','','show','tour','','hide','street','','hide','noj_txt','','hide');$('#noj_all_inf').show()">
        </div>  
        <div id="streets" style="width: 35px; height: 15px; float: left; cursor:pointer;<%= @pano.hotspot_infos.empty? ? "display:none;" : "" %>">
         <img src="../navpic/street.jpg" width="18" height="15" title=" Display Street names " alt="" border="0" name="streetname" onmouseleave="tauschstr(streetname,street)" onmouseover="tauschstr(streetname,street_h)" onClick="layeronoff('street','','show','tour','','hide','noj_infolink','','hide','noj_txt','','hide');$('#noj_all_inf').show()">
        </div>    
        <div id="off" style=" width: 35px; height: 15px; float:left; cursor:pointer; display:none;">
         <img src="../navpic/off.jpg" width="18" height="15" title=" Hide Infos " alt="" border="0" name="offname" alt="" border="0" onmouseleave="tauschoff(offname,off)" onmouseover="tauschoff(offname,off_h)" onClick="layeronoff('noj_infolink','','show','noj_infolink','','hide','tour','','show','tour','','hide','street','','show','street','','hide','noj_txt','','show','noj_txt','','hide','noj_gps','','show');$('#noj_all_inf').hide()">
        </div>    
       </div>  
       <div class="rotatbut" <%= @pano.rotation == 0? 'style="visibility:hidden"' : "" %>>
        <img src="../navpic/taste-lll.png" alt="" width="26" height="13"><img src="../navpic/tastenaus.jpg" alt="" width="205" height="13" border="0" name="bus" usemap="#busMap"><img src="../navpic/taste-rrr.png" alt="" width="22" height="13" border="0">
       </div>
       <div style="margin-top:2px; margin-right: 1%; width: 20px; height: 15px; float:right;<%= @pano.get_latitude == "0.000000" ? "visibility:hidden" : "" %>">
        <a href="http://maps.google.com/maps/ms?msid=204881142368333592551.<%= @city.map_id %>&msa=0&ll=<%= @pano.get_latitude %>,<%= @pano.get_longitude %>&spn=0.002500,0.002500&iwloc=<%= @pano.map_id %>" title="  Show Panorama Location on <%= @city.en_name %> Map "><img src="../navpic/gps.jpg" width="20" height="15" alt="" border="0" name="gpsname" onmouseleave="tauschgps(gpsname,gps)" onmouseover="tauschgps(gpsname,gps_h)" ></a>
       </div>
    </div> 
    </div>    
     <div id="noj_all_inf">
       <div id="noj_infolink">
        <span style="letter-spacing: 2px; color: rgb(190, 190, 190);">Info Links in <br>the Panorama </span><br>
        <img src="../navpic/pan.gif" alt="" width="1px" height="3px" border="0"><br>           
        <% @pano.external_links.each do |link| %>  <% unless link.name=="." %><%= link.en_name.blank? ? (link.name) : (link.en_name) %> <br><% end %> <% end %>  
       </div>   
       <div id="tour">
        <span style="letter-spacing: 2px; color: rgb(190, 190, 190);">Panorama Tour</span><br>
        <img src="../navpic/pan.gif" alt="" width="1" height="3" border="0"><br>
        <span style="color: rgb(190, 190, 190);">Virtual Tour at the <br>Yellow Spots</span>
        <img src="../navpic/pan.gif" alt="" width="1" height="3" border="0"><br>
        <br>Next Panorama: <br>
        <% counter = -1 
        @pano.internal_links.each do |link|      
          dest = link.get_dest %>
          <a href="http://www.panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/<%= dest.en_name.blank? ? (dest.get_filename) : (FileHelper.to_filename dest.en_name) %>.html" class="yellow"><%= link.alt_en_name.blank? ? (dest.en_name.blank? ? (dest.name):(dest.en_name)) : (link.alt_en_name) %> </a> <br>
        <% end %> 
       </div> 
       <div id="street">
        <span style="letter-spacing: 2px; color: rgb(190, 190, 190);">Streets </span><br>
        <img src="../navpic/pan.gif" alt="" width="1" height="3" border="0"><br>       
        <% @pano.hotspot_infos.each do |hotspot| %><%= hotspot.name %> <br> <% end %> 
       </div> 
    </div>
    <div id="ads"><% if !@pano.exclusive %>
      <script type="text/javascript"><!--
      google_ad_client = "pub-2069005959740847";
      google_alternate_color = "000000";
      google_ad_width = 120;
      google_ad_height = 240;
      google_ad_format = "120x240_as";
      google_ad_type = "text";
      //2007-06-29: EN-klPanos-klvert
      google_ad_channel = "3122914084";
      google_color_border = "333333";
      google_color_bg = "000000";
      google_color_link = "66B5FF";
      google_color_text = "CCCCCC";
      google_color_url = "3D81EE";
      google_ui_features = "rc:6";
      google_language = "en";
      //-->
      </script>
      <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>)
      <% end %>
     </div> 
   </div>            
      <div id="full">   
      <a href="<%= FileHelper.to_filename @pano.en_name %>_5c.html" onMouseOut="tauschc(cname,Bild7)" onMouseOver="tauschc(cname,Bild8)"><img src="../navpic/bcine.gif" width="108" height="20" title="Panorama in voller Breite" alt="" name="cname" border="0"></a> 
    </div>   
      <div class="pad">
      </div>       
      <div id="content-b">
      <div> 
        <a name="<%= FileHelper.to_filename @city.en_name + "_photos"%>"> </a>
      </div> 
      <div id="menue">
        <ul>
        <li>More <a href="<%= FileHelper.to_filename @city.en_name %>_panoramas.html" target="_top" class="white">Panoramas of <%= @city.en_name %></a></li>
      </ul>
      </div>
        <nav>
          <div id="cont" class="wrapper">
              <div id="thumbnails"> 
                <% @city.panoramas.sort_by!{ |pano| pano.priority }.each do |pano| %>
                 <% next unless pano.published %>
                  <div class="anch"><a name="<%= pano.en_name.blank? ? (pano.get_filename) : (FileHelper.to_filename pano.en_name) %>"> </a>
                  </div> <% city_name = @city.get_filename %>
                  <div id="<%= pano.en_name.blank? ? (pano.get_filename) : (FileHelper.to_filename pano.en_name) %>" class="thumbWrapper" style="background-image: url(photos/<%= FileHelper.to_filename pano.name %>.jpg)">
                    <a href="<%= pano.en_name.blank? ? (pano.get_filename) : (FileHelper.to_filename pano.en_name) %>.html" title="<%= pano.alt_en_name.blank? ? (pano.en_name.blank? ? (pano.name):(pano.en_name)) : (pano.alt_en_name) %>  <%= location_en %> <%= @pano.district %>" target="_top">
                      <span class="title"><%= pano.en_name.blank? ? (pano.name):(pano.en_name) %> </span></a>
                  </div>
                <% end %> 
                  <div class="thumbWrapper" style="background-color: rgba(34, 34, 34, 0.7)">
                  </div>
               </div>  
          </div>
        </nav>     
     </div> 
      <div class="pad">&nbsp;
      </div> 
       <div class="advrow"><% if !@pano.exclusive %>   
        <script type="text/javascript"><!--
          google_ad_client = "pub-2069005959740847";
          google_alternate_color = "000000";
          google_ad_width = 728;
          google_ad_height = 15;
          google_ad_format = "728x15_0ads_al";
          //2007-06-29: EN-Panos-grLinkblock-horU
          google_ad_channel = "2177003998";
          google_color_border = "333333";
          google_color_bg = "000000";
          google_color_link = "66B5FF";
          google_color_text = "CCCCCC";
          google_color_url = "3D81EE";
          google_language = "en";
          //-->
          </script>
          <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script><% end %>
      </div>
      <div class="foot">&nbsp;
      </div>    
      <div>   
     <map name="busMap"><% if @pano.repeative %>  
      <area shape="rect" coords="0,0,41,13" href="javascript:ll()" title="pan fast left" alt="" onMouseUp="button(bus,Bildll2)" onMouseDown="button(bus,Bildll)">
      <area shape="rect" coords="42,0,81,13" href="javascript:l()" title="pan left"  alt="" onMouseUp="button(bus,Bildl2)" onMouseDown="button(bus,Bildl)">
      <area shape="rect" coords="82,0,123,13" href="javascript:stop()" title="Stop"  alt="" onMouseUp="button(bus,Bildstop2)" onMouseDown="button(bus,Bildstop)">
      <area shape="rect" coords="124,0,164,13" href="javascript:r()" title="pan right"  alt="" onMouseUp="button(bus,Bildr2)" onMouseDown="button(bus,Bildr)">
      <area shape="rect" coords="165,0,210,13" href="javascript:rr()" title="pan fast right"  alt="" onMouseUp="button(bus,Bildrr2)"  onmousedown="button(bus,Bildrr)">
     <% else %>
      <area shape="rect" coords="0,0,41,13" href="javascript:ll()" title="pan fast left" alt="" onMouseUp="button(bus,Bildll)" onMouseDown="button(bus,Bildll2)">
      <area shape="rect" coords="42,0,81,13" href="javascript:l()"  title="pan left" alt="" onMouseUp="button(bus,Bildl)" onMouseDown="button(bus,Bildl2)">
      <area shape="rect" coords="82,0,123,13" href="javascript:stop()" title="Stop" alt="" onMouseUp="button(bus,Bildstop)" onMouseDown="button(bus,Bildstop2)">
      <area shape="rect" coords="126,0,166,13" href="javascript:r()"  title="pan right" alt="" onMouseUp="button(bus,Bildr)" onMouseDown="button(bus,Bildr2)">
      <area shape="rect" coords="165,0,210,13" href="javascript:rr()"  title="pan fast right" alt="" onMouseUp="button(bus,Bildrr)"  onmousedown="button(bus,Bildrr2)">
      <% end %></map>
      <noscript style="color:#ff6666;font-size:20pt"><br>Please enable <a style="color:#ff6666;font-size:20pt;text-decoration:underline" href="http://www.enable-javascript.com/">Javascript </a> </noscript>
      </div>    
  <footer>
    <div class="f_left"> 
      <a href="mailto:?subject=City Panorama%20<%= pano_enname %> <%= @pano.en_location %> <%= @city.en_name %> <%= @pano.district %>&body=Dear%0D%0A%0D%0AI%20discovered%20a%20nice%20panoramic%20photo%20of%20the%20city%20<%= @city.en_name %>%20in%20Germany%0D%0Awww%2Epanorama-cities%2Enet%2F<%= FileHelper.to_filename @city.en_name %>%2F<%= FileHelper.to_filename @pano.en_name %>%2Ehtml%0D%0A%0D%0A%0D%0A%2A%2A%2A%2A%2A%2A%2A%2A%0D%0AI%20n%20s%20t%20r%20u%20c%20t%20i%20o%20n%0D%0AEnter%20the%20email%20address%20of%20the%20recipient%2C%0D%0Aadd%20your%20part%20to%20the%20text%20as%20desired%20and%0D%0Adelete%20this%20part%20of%20instructions%20before%20sending%2E" title="by Email"><img src="../navpic/brief.gif" width="27" height="18" border="0" alt="Email"> Email this page </a>
    </div>
    <div id="f_mid">
      <a href="#<%= FileHelper.to_filename @city.en_name + "_photos"%>"><%= @city.en_name %> </a>
    </div>
    <div class="f_right">
      <a href="http://www.panorama-cities.net/html/kontakt.html">Contact us</a>
    </div>
  </footer>
</body>
</html>
