<!doctype html>
<html lang="en">
<head>
   <meta charset=utf-8><% location_en = (@pano.en_location.blank? ? (@pano.location) : (@pano.en_location)) %> 
   <meta http-equiv="content-language" content="en"><% pano_enname = (@pano.alt_en_name.blank? ? (@pano.en_name.blank? ? (@pano.name) : (@pano.en_name)) : (@pano.alt_en_name)) %>
   <meta http-equiv="cache-control" content="max-age=604800">
   <meta name="viewport" content="width=device-width, initial-scale=1.0"><% city_en_name = (pano_enname[@city.en_name] == @city.en_name) ? ("") :(@city.en_name) %>   
   <meta name="copyright" content="Helmut Koelbach"><% citytitle = @pano.district.blank? ? (city_en_name) : (@pano.district) %> 
   <meta name="description" content="<%= pano_enname %> <%= location_en.blank? ? ("") : ("at the " + location_en) %> <%= citytitle.blank? ? ("") : ("in " + citytitle) %> Germany <%= (@pano.repeative == true) ? ("- 360° Panorama") : ("") %><% unless pano.date_of_recording.year.to_i <= 1999 %> photographed in <%= pano.get_english_month %>.<% end %> <% e_links = @pano.external_links %><% n = e_links.keep_if{|p| !p.en_url.blank?}.count %><% if n > 2 %>Hot spots with infos about the image contents <% e_links.first(n-2).keep_if{|p| !p.en_url.blank?}.each do |link| %><% extlinkurl = (link.en_url.split("/")[2]) %><% unless  extlinkurl == "www.panorama-cities.net"%><%= link.en_name.blank? ? (link.name) : (link.en_name) %>, <% end %><% end %><% e_slast = e_links.at(-2) %><%= e_slast .en_name.blank? ? (e_slast .name) : (e_slast .en_name) %> and <% e_last = e_links.at(-1) %><%= e_last .en_name.blank? ? (e_last .name) : (e_last .en_name) %> can be displayed within the panorama.<% end %><% if n == 2 %> Hot spots with infos about the image contents <% e_links.keep_if{|p| !p.en_url.blank?}.each do |link| %><% extlinkurl = (link.en_url.split("/")[2]) %><% unless  extlinkurl == "www.panorama-cities.net"%><% end %><% end %><% e_slast = e_links.at(0) %><%= e_slast .en_name.blank? ? (e_slast .name) : (e_slast .en_name) %> and <% e_last = e_links.at(1) %><%= e_last .en_name.blank? ? (e_last .name) : (e_last .en_name) %> can be displayed within the panorama.<% end %><% if n == 1 %><% e_links.keep_if{|p| !p.en_url.blank?}.each do |link| %><% extlinkurl = (link.en_url.split("/")[2]) %><% unless  extlinkurl == "www.panorama-cities.net"%><% end %><% end %>A hot spot with informations about the image contnent <% e_first = e_links.at(0) %><%= e_first.en_name.blank? ? (e_first.name) : (e_first.en_name) %> can be displayed within the panorama.<% end %>">
   <link rel="stylesheet" href="../css/simplepanorama.css">
   <link rel="stylesheet" href="../css/pan_small.css">
   <link rel="shortcut icon" href="../icon.ico">
   <link rel="alternate" hreflang="de" href="http://www.stadtpanoramen.de/<%= FileHelper.to_filename @city.name %>/<%= FileHelper.to_filename @pano.name %>.html" />
    <script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="../js/modernizr.js"></script>
    <script type="text/javascript" src="../js/simple-panorama.min.js"></script>
    <script type="text/javascript" src="../js/j_pano.js"></script>
   <link href="../css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
   <link href="../css/jquery.mCustomScrollbar_h.css" rel="stylesheet" type="text/css">  
   <script>
    <!--  <% g_lat = @pano.get_latitude %> <% g_lon = @pano.get_longitude %> <% p_lat = g_lat.to_f %> <% p_lon = g_lon.to_f %>
      $(function() {
        pano = new SimplePanorama({
         'selector': '#pano',
         'imagePath': 'panoramas/<%= @pano.get_filename %>_3.jpg', 
         'modules': ['move_mousedown', 'move_swipe'], 
         'initialPos':<%= @pano.initial_center.blank? ?  "0" : (@pano.initial_center).to_i %>,
         'repeative': <%= @pano.repeative.blank? ?  "false" : @pano.repeative %>,
         'callback': function() {
            <%
              links = @pano.internal_links
              links.sort_by!{ |l| -l.get_area }
              links.each do |link| 
              dest = link.get_dest 
              d_lon = dest.longitude
              d_lat = dest.latitude      
              if link.is_circle
            %>
            <% n_lon = p_lon - d_lon 
               n_lat = p_lat - d_lat
               dist_lon = n_lon.abs * 71.5
               dist_lat = n_lat.abs * 111.3
               dist_ko = Math.sqrt(dist_lon*dist_lon + dist_lat*dist_lat)*1000
               dist_ko <= 2600? (dist = (dist_ko)) : (dist = (dist_ko).to_i) 
               dist >= 2600? (distance = "&nbsp; " + ((dist/1000).round(1).to_i.to_s) + "km") : (dist >= 1000? (distance = "&nbsp; " + ((dist/1000).round(1).to_s) + "km") : (dist >= 26? (distance = "&nbsp; " + (dist.round(-1).to_s) + "m") : (dist <= 10? (distance = "") : (distance = "&nbsp; " + (dist.to_i.to_s) + "m"))))
               (d_lon <1 || dist <1)? (distance = "") : ("")
            %> 
                pano.createCircleHotspot(
                "<a href='<%= dest.en_name.blank? ? (dest.get_filename) : (FileHelper.to_filename dest.en_name) %>.html'><span class='title'><% altennam = link.alt_en_name %><%= altennam.blank? ? (dest.alt_en_name.blank? ? (dest.en_name.blank? ? dest.name : dest.en_name) : dest.alt_en_name) : altennam %> <%= distance %> </span></a>", 
                <%= link.path %>,"intern"
                );
              <% else %>
                pano.createRectHotspot(
                "<a href='<%= dest.en_name.blank? ? (dest.get_filename) : (FileHelper.to_filename dest.en_name) %>.html'><span class='title'><% altennam = link.alt_en_name %><%= altennam.blank? ? dest.name : altennam %></span></a>",  
                  <%= link.get_xywh %>,"intern"
                );
              <% end %> <% end %>   
              <%
              extlinks = @pano.external_links
              extlinks.sort_by!{ |l| -l.get_area }
              extlinks.each do |exlink| 
              exurl = (exlink.en_url.blank? ? exlink.url : exlink.en_url)
              exname = (exlink.en_name.blank? ? exlink.name : exlink.en_name)              
              if exlink.is_circle
            %>
                pano.createCircleHotspot(
                  "<a href='<%= exurl %>'><span class='title'><%= exname %> </span></a>", 
                  <%= exlink.path %>,"<%= exlink.name=="Webcam" ? "extern" : "intern" %>"
                );
              <% else %>    
                pano.createRectHotspot( <% v_space = exlink.get_xywh.split(",")[3].to_i %><% linkspan = (" </span> <span class='title_url'> ") %><% glinkname = exname + linkspan + "German Info: " %><% if exlink.en_url.blank? %>
                  "<a href='<%= exlink.url %>'><span class='title'><% linkname = (v_space < 50 ? (glinkname) : (glinkname + "<br>" )) %><% camname = ("Webcam ") %><%= (exlink.name == "." ? " " : linkname + (exurl.split("/")[2])) %> </span></a>",
        <% else %>"<a href='<%= v_space < 50 ? (exlink.en_url + "'><span class='title'>" + exname + linkspan + (exlink.en_url.split("/")[2])) : (exlink.en_url + "'><span class='title'>" + exname + linkspan + "<br> " + (exlink.en_url.split("/")[2]))%> </span></a>",  
        <% end %> <%= exlink.get_xywh %>,"extern"
                );
            <% end %><% end %>                                  
              <%
              spots = @pano.hotspot_infos
              spots.sort_by! { |l| -l.get_area }
              spots.each do |spot|       
                if spot.is_circle   
            %>  <% if (spot.path.split(",")[0].to_i + spot.path.split(",")[1].to_i != 0) %>   
                pano.createCircleHotspot(
                  "<span class='title'><%= spot.name %></span>", 
                  <%= spot.path %>,"screen"
                );<% end %><% else %> 
                pano.createRectHotspot(
                  "<span class='title'><%= spot.name %></span>", 
                  <%= spot.get_xywh %>,"info"
                );<% end %>  <% if (spot.path.split(",")[0].to_i + spot.path.split(",")[1].to_i == 0) %> 
                pano.createRectHotspot(
                  "<span class='title'><%= spot.name %></span>", 
                  1,1,4000,350,"info"
                ); <% end %> <% end %> 
                pano.showHotspots("intern",true); 
                pano.showHotspots("extern",false); 
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false);  
                var spotcss = $('.sp-hotspot');
                var linkInf = $('#linkInfos');
                var linktxt = $('.no-touch #linkinfo');
                var linktxt_url = $('#link_url');
                var t_linktxt = $('.touch #linkinfo');  
                linktxt_url.hide();  
                function int_spot() { 
                pano.showHotspots("intern",true);
                pano.showHotspots("extern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false); 
                linktxt_url.hide();
                spotcss.css({'border-width': '2px', 'border-color': 'rgba(250,250,110,1)', 'background-color': 'rgba(0,0,0,.07)'});
                $( "#linkinfo" ).text( "Virtual tour is activated!" );
                linkInf.fadeIn(); 
                layeronoff('tour','','show','noj_infolink','','hide','street','','hide','noj_txt','','hide');
                $('#noj_all_inf').show();
                }; 
                function ext_info() { 
                pano.showHotspots("extern",true);
                pano.showHotspots("intern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false); 
                spotcss.css({'border-width': '2px', 'border-color': 'rgba(190,190,190,1)', 'background-color': 'rgba(0,0,0,.07)'});
                $( "#linkinfo" ).text( "Info links in the panorama are activated!" ); 
                linktxt_url.css({'opacity': 1,'color': 'rgb(210,210,210)'}); 
                layeronoff('noj_infolink','','show','tour','','hide','street','','hide','noj_txt','','hide');
                $('#noj_all_inf').show();                  
                }; 
                function streets_info() { 
                pano.showHotspots("info",true); 
                pano.showHotspots("screen",true); 
                pano.showHotspots("extern",false);
                pano.showHotspots("intern",false);
                linktxt_url.hide();   
                spotcss.css({'color':'rgba(0,0,0,0)', 'border-width': '0', 'background-color': 'rgba(0,0,0,0)'}); 
                layeronoff('street','','show','tour','','hide','noj_infolink','','hide','noj_txt','','hide');
                $('#noj_all_inf').show();
                }; 
                function off_info() { 
                pano.showHotspots("intern",false);
                pano.showHotspots("extern",false);
                pano.showHotspots("info",false); 
                pano.showHotspots("screen",false); 
                $('#noj_all_inf').hide();           
                };                        
            <% unless @pano.internal_links.empty? %> 
                $('#hotsp').click(function() { 
                  int_spot();
                  $('#hotsp').hide(); 
                  $('#hotsp_hide').show(); 
                  $('#off').css({'visibility':'hidden'}); 
                  $('#linkinfo').css({'opacity': 1,'color': 'rgb(250,250,90)'}); 
                });                        
                $('#hotsp_hide').click(function() { 
                pano.showHotspots("intern",false);
                $('#hotsp').show(); 
                $('#hotsp_hide').hide(); 
                linkInf.hide(); 
                $('#noj_all_inf').hide();  
                });                <% end %>  
            <% unless @pano.external_links.empty? %> 
                $('#ext').click(function() { 
                  ext_info();    
                <% links = @pano.internal_links
                    links.first(1).each do |link| 
                    if link %>
                $('#hotsp').show();       
                $('#hotsp_hide').hide(); <% end %><% end %>  
                $('#off').css({'visibility':'visible'}); 
                $('#linkinfo').css({'opacity': 1,'color': 'rgb(210,210,210)'}); 
                linktxt_url.css({'margin-left': '12px','opacity': 1,'color': 'rgb(210,210,210)'});  
                linkInf.fadeIn(); 
                });            <% end %>   
            <% unless @pano.hotspot_infos.empty? %>  
                $('#streets').click(function() { 
                  streets_info();   
                <% links = @pano.internal_links
                    links.first(1).each do |link| 
                    if link %>
                  $('#hotsp').show();       
                  $('#hotsp_hide').hide(); <% end %><% end %> 
                 $('#off').css({'visibility':'visible'}); 
                 $('#linkinfo').show() 
                 linktxt_url.css({'margin-left': '0'});                               
                 $( t_linktxt ).text( "Straßen im Panorama antippen um Straßennamen anzuzeigen!" );
                 t_linktxt.css({'opacity': 1,'color': 'rgb(210,210,210)'}); 
                 $( linktxt ).text( "Straßennamen mit Mauszeiger im Panorama anzeigen!" );
                 linktxt.css({'opacity': 1,'color': 'rgb(210,210,210)'}); 
                 linkInf.fadeIn(); 
                });           <% end %> 
                $('#off').click(function() { 
                  off_info();
               <% links = @pano.internal_links
                  links.first(1).each do |link| 
                  if link %>
                  $('#hotsp').show();       
                  $('#hotsp_hide').hide(); <% end %><% end %> 
                  $('#off').css({'visibility':'hidden'}); 
                  linkInf.hide(); 
                }); 
                $('.sp-hotspot').on('mouseenter', function(event) {
                  spotcss.css({'cursor': 'pointer'});
                  linktxt.text($(event.target).find('.title').text());
                  linkInf.fadeIn();
                });
                $('.sp-hotspot').on('mouseleave', function() {
                  linkInf.hide();
                }); 
                $('.sp-rect').on('mouseenter', function(event) {
                  linktxt_url.text($(event.target).find('.title_url').text());
                  linktxt_url.fadeIn();
                  spotcss.css({'border-color': 'rgba(190,190,190,1)'});
                });
                $('.sp-rect').on('mouseleave', function(event) {
                  linktxt_url.hide();
                });
                $('.sp-hotspot').on('click', function(event) {  
                spotxt = $(this).html();               
                startpos = spotxt.indexOf('href="'); 
                endpos = spotxt.indexOf('"><span');                     
                spotlink = $(this).html().slice(startpos+6 ,endpos);  
                  if (startpos != -1){               
                  location.href = spotlink;  
                  } 
                  else {
                    t_linktxt.text($(event.target).find('.title').text());
                    }     
                });
                $('.sp-container').on("touchend", function() {
                  if (pano.speed.x < 0){
                  pano.setTargetSpeed(-0.1);
                  button(bus,Bildrr2); tbutton(bus_t,Bildrr2);
                    }                
                  else {
                  pano.setTargetSpeed(0.1)
                  button(bus,Bildll2); tbutton(bus_t,Bildll2);
                  }
                });
           }
        }); 
         $("#pano").mousedown(function() { 
          button(bus,Bildstop2)
        });            
        <%= @pano.rotation == 0 ? "" : @pano.rotation == -20 ? "pano.setTargetSpeed(0.05); button(bus,Bildl2);" : "pano.setTargetSpeed(-0.05); button(bus,Bildr2);" %>
        <% if not @pano.repeative %> 
        var lastX = undefined;
        setInterval(function() {
          if(lastX == pano.pos.x) {
            pano.setTargetSpeed(-pano.targetSpeed.x);
            butsign = window.document.bus.src.lastIndexOf("-"); 
            butscr = window.document.bus.src.charAt(butsign+1);  
            butscr2 = window.document.bus.src.charAt(butsign+2); 
            if(butscr != "s") { 
              if(butscr == "r") {
               if(butscr2 == "r") {
                  window.document.bus.src = "../navpic/taste-ll2.jpg";              
               }
               else
                window.document.bus.src = "../navpic/taste-l2.jpg";              
              }
              else
               if(butscr2 == "l") {
                  window.document.bus.src = "../navpic/taste-rr2.jpg";              
               }
               else
                window.document.bus.src = "../navpic/taste-r2.jpg";     
            }   
          }
          lastX = pano.pos.x;
        }, 1000);<% end %>
      }); 
 (function($){
  $(document).ready(function () {  
      $(window).load(function(){ 
        $("#cont").mCustomScrollbar({
          horizontalScroll:true,
        });
        var anc = "#<%= FileHelper.to_filename @pano.en_name %>";
        $("#cont").mCustomScrollbar("scrollTo",anc);
        $(anc).addClass("active");
        $("#cont").mouseover(function() {
        $(anc).removeClass("active");
        });
        $("#cont").mouseleave(function() {
        $(anc).addClass("active");
        });
      }); 
  fname=window.location.href;
  file_hd=fname.replace(/.html/,"_full_hd.html");
      $('#vbbut').click(function() { 
      location.href=file_hd;
      });
  file_ws=fname.replace(/.html/,"_5c.html");
      $('#wsbut').click(function() { 
      location.href=file_ws;
      });
    });
 })(jQuery);   
     //-->
    </script>
   <title><%= pano_enname %> <%= location_en.blank? ? ("") : ("- " + location_en) %> <%= citytitle.blank? ? ("") : (citytitle + " Germany") %> </title>    
  </head>
  <body>
  <header>
    <div class="whead">
      <div class="logo">
        <a href="http://www.panorama-cities.net/" target="_top"><img src="../navpic/logo.png" width="124" height="51" alt="City Panoramas" border="0"></a>
      </div>                  
      <div  class="city">
        <a href="http://www.panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/<% if !@pano.district.blank? %><%= FileHelper.to_filename @pano.district %>_panoramas.html"><%= @pano.district %><% else %><% if !@pano.location.blank? %><%= FileHelper.to_filename @pano.en_location %>_panoramas.html"><%= @pano.en_location %><% else %><%= FileHelper.to_filename @city.en_name %>_germany.html"><%= @city.en_name %><% end %><% end %> </a><% if !@pano.location.blank? %>in <a href="http://www.panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/<%= FileHelper.to_filename @city.en_name %>_germany.html" target="_top"><%= @city.en_name %> </a><% end %>
      </div>  
      <div class="flag">
        <a href="http://www.stadtpanoramen.de/<%= FileHelper.to_filename @city.name %>/<%= FileHelper.to_filename @pano.name %>.html"><img src="../navpic/de_ico.gif" width="35px" height="26px" border="0" title="<%= @pano.name %> - German Version" alt="German"> </a>
      </div>                                                    
      <div class="cities_en"> 
        <a href="http://panorama-cities.net/german_cities/" target="_top" title="German Cities" class="city-top">Cities</a>
      </div> 
    </div>
  </header>
  <div class="allcontent"> 
   <div class="all"> 
    <div id="nojava">
        <h1>
          <%= pano_enname %> <%= location_en.blank? ? (citytitle.blank? ? ("") : ("in " + citytitle)) : ("at the " + location_en) %>
        </h1>
     <div id="panoramaWrapper">
       <div class="rahmen_w">
        <div class="rahmen_wol">
        </div>
        <div class="rahmen_wor">
        </div>
        <div id="rahmen_wom">         
        </div>
       </div>
     <div id="panobord">
       <div class="bord_l">
        <img src="../navpic/st_detail_bsp_07.jpg" alt="" width="11" height="351">
       </div>
       <div class="bord_r">
        <img src="../navpic/st_detail_bsp_09.jpg" alt="" width="11" height="351"><br>
       </div>            
       <div id="pano">
         <div class="loadcircle"> 
           <img src="../navpic/load.gif">
         </div>
         </div>
        <div id="linkInfos">   
         <div id="linkinfo">
         </div>     
         <div id="link_url">
         </div>     
       </div>      
       </div> 
     <div class="rahmen_wu">
      <div class="rahmen_wul"><img src="../navpic/pan.gif" alt="" width="119" height="14">
      </div>
      <div class="rahmen_wur"><a class="foto" href="http://www.panorama-cities.net/html/st_kontakt_index.html">Photo <%= @pano.fotograf.blank? ? "H. Kölbach" : @pano.fotograf %></a>
      </div>
      <div class="rahmen_wum"><% unless pano.date_of_recording.year.to_i <= 1999 %><%= pano.get_english_month %><% end %>
      </div>
     </div>     
     </div>   
     <div id="all_buttons">
       <div id="buttons">
        <div id="hotsp" style="width: 35px; height: 15px; float: left; cursor:pointer;<%= @pano.internal_links.empty? ? "visibility:hidden;" : "" %>"> 
         <img src="../navpic/hotspot.jpg" width="18" height="15" title=" Display Panorama Tour Spots " alt="" border="0" name="hotspotname" onmouseleave="tauschhot(hotspotname,hot)" onmouseover="tauschhot(hotspotname,hot_h)">
        </div>
        <div id="hotsp_hide" style="width: 35px; height: 15px; float: left; cursor:pointer;"> 
          <img src="../navpic/hotspot_hide.jpg" width="18" height="15" title=" Hide Panorama Tour Spots " alt="" border="0">
        </div>   
        <div id="ext" style="width: 35px; height: 15px; float: left; cursor:pointer;<%= @pano.external_links.empty? ? "display:none" : "" %>"> 
         <img src="../navpic/infos.jpg" width="18" height="15" title=" Display Info Links" alt="" border="0" name="infosname" onmouseleave="tauschin(infosname,infos)" onmouseover="tauschin(infosname,infos_h)">
        </div>  
        <div id="streets" style="width: 35px; height: 15px; float: left; cursor:pointer;<%= @pano.hotspot_infos.empty? ? "display:none;" : "" %>"> 
         <img src="../navpic/street.jpg" width="18" height="15" title=" Display Street names " alt="" border="0" name="streetname" onmouseleave="tauschstr(streetname,street)" onmouseover="tauschstr(streetname,street_h)">
        </div>    
        <div id="off" style=" width: 35px; height: 15px; float:left; cursor:pointer; visibility:hidden;">
         <img src="../navpic/off.jpg" width="18" height="15" title=" Hide Infos " alt="" border="0" name="offname" alt="" border="0" onmouseleave="tauschoff(offname,off)" onmouseover="tauschoff(offname,off_h)">
        </div>    
       </div> <%= @pano.hdpano==true ?  
      '<div id="vbbut" style="margin-top:2px; margin-right: 8px; width: 20px; height: 15px; float:right; cursor:pointer;"><img src="../navpic/fullscreen_d.jpg" width="18" height="15"  title="Fullscreen View" alt="Fullscreen button" border="0" name="vbname" onmouseleave="tauschvb(vbname,vb)" onmouseover="tauschvb(vbname,vb_h)"></div>' : 
      '<div id="wsbut" style="margin-top:2px; margin-right: 8px; width: 20px; height: 15px; float:right; cursor:pointer;"><img src="../navpic/fullscreen_d.jpg" width="18" height="15" title="Widescreen View" alt="" border="0" name="vbname" onmouseleave="tauschvb(vbname,vb)" onmouseover="tauschvb(vbname,vb_h)"></div>' %>       
        <div style="margin-top:2px; margin-right: 20px; width: 20px; height: 15px; float:right;<%= @pano.get_latitude == "0.000000" ? "visibility:hidden" : "" %>">
        <a href="https://www.google.com/maps/d/viewer?mid=<%= @city.mymap_en_id %>&ll=<%= @pano.get_latitude %>,<%= @pano.get_longitude %>&z=19&<% if @city.mymap_en_id == "zIANpqu4IHeQ.kn1PxIW2ji2I" %>t=h<% else %>t=m<% end %>" title="Panorama Locations on <%= @city.en_name %> Map"><img src="../navpic/gps.jpg" width="20" height="15" alt="" border="0" name="gpsname" onmouseleave="tauschgps(gpsname,gps)" onmouseover="tauschgps(gpsname,gps_h)" ></a>
       </div>
       <div class="rotatbut" <%= @pano.rotation == 0? 'style="visibility:hidden"' : "" %>>
        <img src="../navpic/taste-lll.png" alt="" width="26" height="13"><img src="../navpic/tastenaus.jpg" alt="" width="205" height="13" border="0" name="bus" usemap="#busMap"><img src="../navpic/taste-rrr.png" alt="" width="22" height="13" border="0">
       </div>
    </div> 
    </div>    
     <div id="noj_all_inf">
       <div id="noj_infolink">
        <span style="padding-top:0; line-height:15px; letter-spacing: 2px; color: rgb(190, 190, 190);">Info Links in <br>the Panorama: </span>
        <ul>
        <% @pano.external_links.each do |link| %> <% extlinkurl = (link.url.split("/")[2]) %><% unless link.name=="." or extlinkurl =="www.panorama-cities.net" %><% exname = (link.en_name.blank? ? link.name : link.en_name)%><li><%= exname %> </li><% end %> <% end %>
        </ul> 
       </div>   
       <div id="tour">
        <span style="line-height:22px; letter-spacing: 2px; color: rgb(190, 190, 190);">Panorama Tour</span> 
        <br>Next Panorama:
        <ul>
        <% counter = -1 
        @pano.internal_links.each do |link|      
          dest = link.get_dest %>
          <li><a href="http://www.panorama-cities.net/<%= FileHelper.to_filename @city.en_name %>/<%= dest.en_name.blank? ? (dest.get_filename) : (FileHelper.to_filename dest.en_name) %>.html" class="yellow"><%= link.alt_en_name.blank? ? (dest.en_name.blank? ? (dest.name):(dest.en_name)) : (link.alt_en_name) %> </a> </li>
        <% end %> 
        </ul>
       </div> 
       <div id="street">
        <span style="line-height:22px; letter-spacing: 2px; color: rgb(190, 190, 190);">Streets </span>
        <ul>
        <li><% @pano.hotspot_infos.each do |hotspot| %><%= hotspot.name %> </li> <% end %> 
        </ul>
       </div> 
    </div>
    <div id="ads"><% if !@pano.exclusive %>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- EN-klPanos_r -->
<ins class="adsbygoogle"
     style="display:inline-block;width:120px;height:240px"
     data-ad-client="ca-pub-2069005959740847"
     data-ad-slot="7699352519"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      <% end %>
     </div> 
   </div>            
      <div id="full">   
      <a href="<%= FileHelper.to_filename @pano.en_name %>_5c.html" onMouseOut="tauschc(cname,Bild7)" onMouseOver="tauschc(cname,Bild8)"><img src="../navpic/bcine.gif" width="108" height="20" title="Panorama in voller Breite" alt="" name="cname" border="0"></a> 
    </div>   
      <div class="pad">
      </div>       
      <div id="content-b">
      <div> 
        <a name="<%= FileHelper.to_filename @city.en_name + "_photos"%>"> </a>
      </div> 
      <div id="menue">
        <ul>
        <li>More <a href="<%= FileHelper.to_filename @city.en_name %>_panoramas.html" target="_top">Panoramas of <%= @city.en_name %></a></li>
      </ul>
      </div>
        <nav>
          <div id="cont" class="wrapper">
              <div id="thumbnails"> 
                <% @city.panoramas.sort_by!{ |pano| pano.priority }.each do |pano| %>
                <% next unless pano.published and !(pano.location == "Hotel Bismarckhöhe" or pano.location == "Ferienwohnung Tecklenburger Augenblicke" or pano.location == "Hotel Königswache" or pano.location == "Landhotel Martinshof" ) %>
                  <div class="anch"><a name="<%= pano.en_name.blank? ? (pano.get_filename) : (FileHelper.to_filename pano.en_name) %>"> </a>
                  </div> <% city_name = @city.get_filename %>
                  <div id="<%= pano.en_name.blank? ? (pano.get_filename) : (FileHelper.to_filename pano.en_name) %>" class="thumbWrapper" style="background-image: url(photos/<%= FileHelper.to_filename pano.name %>.jpg)">
                    <a href="<%= pano.en_name.blank? ? (pano.get_filename) : (FileHelper.to_filename pano.en_name) %>.html" title="<%= pano.alt_en_name.blank? ? (pano.en_name.blank? ? (pano.name):(pano.en_name)) : (pano.alt_en_name) %>  <%= location_en %> <%= @pano.district %>" target="_top">
                      <span class="title"><%= pano.en_name.blank? ? (pano.name):(pano.en_name) %> </span></a>
                  </div>
                <% end %> 
                  <div class="thumbWrapper" style="background-color: rgba(34, 34, 34, 0.7)">
                  </div>
               </div>  
          </div>
        </nav>     
     </div> 
      <div class="pad">&nbsp;
      </div> 
      <div class="adv_mobile"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Mobile-Banner -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:320px;height:100px"
           data-ad-client="ca-pub-2069005959740847"
           data-ad-slot="6007215713"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      </div> 
       <div class="advrow"><% if !@pano.exclusive %>  
         <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- EN-Linkblock -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:728px;height:15px"
               data-ad-client="ca-pub-2069005959740847"
               data-ad-slot="3269152914"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script><% end %>
               <% if @city.en_name == "Phantasialand" %>  
         <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- EN-Linkblock -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:728px;height:15px"
               data-ad-client="ca-pub-2069005959740847"
               data-ad-slot="3269152914"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script><% end %>
      </div>
      <div>   
     <map name="busMap">
      <area shape="rect" coords="0,0,41,13" href="javascript:ll()" title="pan fast left" alt="" onMouseUp="button(bus,Bildll2)" onMouseDown="button(bus,Bildll)">
      <area shape="rect" coords="42,0,81,13" href="javascript:l()" title="pan left"  alt="" onMouseUp="button(bus,Bildl2)" onMouseDown="button(bus,Bildl)">
      <area shape="rect" coords="82,0,123,13" href="javascript:stop()" title="Stop"  alt="" onMouseUp="button(bus,Bildstop2)" onMouseDown="button(bus,Bildstop)">
      <area shape="rect" coords="124,0,164,13" href="javascript:r()" title="pan right"  alt="" onMouseUp="button(bus,Bildr2)" onMouseDown="button(bus,Bildr)">
      <area shape="rect" coords="165,0,210,13" href="javascript:rr()" title="pan fast right"  alt="" onMouseUp="button(bus,Bildrr2)"  onmousedown="button(bus,Bildrr)">
     </map>
      <noscript style="color:#ff6666;font-size:20pt"><br>Please enable <a style="color:#ff6666;font-size:20pt;text-decoration:underline" href="http://www.enable-javascript.com/">Javascript </a> </noscript>
      </div>
    </div>   
  <footer>
    <div class="f_left"> 
      <a href="mailto:?subject=City Panorama%20<%= pano_enname %> <%= location_en.blank? ? ("") : ("- " + location_en) %> <%= citytitle.blank? ? ("") : (citytitle + " Germany") %>&body=Dear%0D%0A%0D%0AI%20discovered%20a%20nice%20panoramic%20photo%20of%20the%20city%20<%= @city.en_name %>%20in%20Germany%0D%0Awww%2Epanorama-cities%2Enet%2F<%= FileHelper.to_filename @city.en_name %>%2F<%= FileHelper.to_filename @pano.en_name %>%2Ehtml%0D%0A" title="by Email"><img src="../navpic/brief.gif" width="27" height="18" border="0" alt="Email"> Email this page </a>
    </div>
    <div class="f_right">
      <a href="http://www.panorama-cities.net/html/kontakt.html">Contact us</a>
    </div>
  </footer>
</body>
</html>
