
<% 
  r = Random.new
  id = r.rand(2*16...2*17)
%>
<% content_for :head do %>
  <%= javascript_include_tag 'simple-panorama' -%>
  <script>
    $(function() {
      var pano = new SimplePanorama({
        'elem': $('.panorama_<%= id %>'), 
        'imagePath': "<%= FileHelper.get_image @panorama %>",
        'repeative': <%= @panorama.repeative %>,
        'modules': ['move_mousedown', 'show_coordinates'],
        'callback': function () {
          <%= generateHotspotsJS(@panorama) %>
          
          $('.panoramaControls').buttonset();
          
          initCbx = function(id) {
            var cbxName = 'cbx_' + id;
            var cbx = $('#' + cbxName);
            var val = localStorage.getItem(cbxName);
            
            if(val != null && val != 'false')
              cbx.trigger('click');
            else
              pano.showHotspots(id, false);
            
            cbx.click(function(event) {
              var checked = cbx.attr('checked') == 'checked';
              pano.showHotspots(id, checked);
              localStorage.setItem(cbxName, checked);
            });
          }
          
          initCbx('intern');
          initCbx('extern');
          initCbx('info');            
        }
      });
    });
  </script>
<% end %>

<div class="panoContainer" style="padding: 6px 16px;">
  <div class="panoramaControls" style="padding-bottom: .5em">
    <input type="checkbox" id="cbx_intern" /><label for="cbx_intern">Interne Links</label>
    <input type="checkbox" id="cbx_extern" /><label for="cbx_extern">Externe Links</label>
    <input type="checkbox" id="cbx_info" /><label for="cbx_info">Hotspots</label>
  </div>
  <div class="panorama_<%= id %>" style="left: -16px;"></div>
</div>